<% include ../include/header.ejs %>
    <section class="container m_14">
        <ul class="breadcrumb">
            <li><a href="#n">Home</a><i>&#62;</i></li>
            <li><a href="#n">개인정보 처리방침</a></li>
        </ul>
    </section>
    <section class="container" id="personal_inf">
        <div>
            <h2 class="tit_1">개인정보 처리방침</h2>
            <% include ../include/privacy_select.ejs %>
         </div>
        <div class="personal_top">
            <p>
                ‘이스트시큐리티’는(이하 ‘회사’라 한다) 이용자의 개인정보를 중요시하며, ‘정보통신망 이용촉진 및 정보보호’에 관한 법률 및 개인정보보호법을 준수하고 있습니다.
                ‘회사’는 개인정보처리방침을 통하여 이용자의 개인정보를 어떠한 방법으로 이용하고 있으며, 개인정보보호를 위해 어떠한 조치를 취하고 있는지 알려 드립니다.
                ‘회사’는 개인정보 처리방침의 변경이 있을 경우 홈페이지를 통하여 공지할 것입니다.
            </p><br>

            <h3>[본 방침은 2017년 1월 2일 시행됩니다.]</h3>
            <ul class="tit_ul">
                <li><a href="#number_01" class="inf_scroll"><i>1.</i> 개인정보의 수집 · 이용 목적</a></li>
                <li><a href="#number_02" class="inf_scroll"><i>2.</i> 수집하는 개인정보의 항목</a></li>
                <li><a href="#number_03" class="inf_scroll"><i>3.</i> 개인정보의 수집방법</a></li>
                <li><a href="#number_04" class="inf_scroll"><i>4.</i> 개인정보를 제3자에게 제공하는 경우</a></li>
                <li><a href="#number_05" class="inf_scroll"><i>5.</i> 개인정보의 보유 및 이용 기간</a></li>
                <li><a href="#number_06" class="inf_scroll"><i>6.</i> 개인정보의 파기절차 및 파기방법</a></li>
                <li><a href="#number_07" class="inf_scroll"><i>7.</i> 개인정보 처리위탁을 하는 업무의 내용 및 수탁자</a></li>
                <li><a href="#number_08" class="inf_scroll"><i>8.</i> 이용자 및 법정대리인의 권리와 그 행사방법</a></li>
                <li><a href="#number_09" class="inf_scroll"><i>9.</i> 인터넷 접속정보파일 등 개인정보를 자동으로 수집하는 장치의 설치 · 운영 및 그 거부에 관한 사항</a></li>
                <li><a href="#number_10" class="inf_scroll"><i>10.</i> 개인정보 관리책임자 및 고충처리 부서</a></li>
                <li><a href="#number_11" class="inf_scroll"><i>11.</i> 고지의 의무</a></li>
            </ul>
        </div>
        <strong id="number_01">1. 개인정보의 수집 · 이용 목적</strong>
        <p class="left_17"><i>①</i> 제품 및 서비스 공급, 회원제 서비스 제공에 따른 본인 식별 · 인증, 서비스 부정이용 방지, 만14세 미만 여부 확인, 고객지원을 위한 의사소통 경로 확보, 불만처리 등 민원처리, 회원의 서비스이용에 대한 통계, 광고성 정보 제공, 인구통계학적 특성에 따른 서비스 제공</p><br>

        <strong id="number_02">2. 수집하는 개인정보의 항목</strong>
        <p class="left_17"><i>①</i> 회원제 서비스 가입 시 수집하는 정보</p>
        <p class="left_17"><i>–</i> 아이디, 비밀번호, 이름, 휴대폰번호, 이동통신사정보(선택), 생년월일, 성별, 내/외국인 정보, CI(연계정보), DI(중복가입확인정보)</p>
        <p class="left_17"><i>②</i> 서비스 이용 중 수집될 수 있는 정보</p>
        <p class="left_17"><i>–</i> 서비스 이용기록, 접속 로그, 쿠키, IP, 불량이용 기록, 고객문의에 관한 기록, 소프트웨어에 대한 평가 정보, 이벤트 참여에 관한 기록</p><br>

        <strong id="number_03">3. 개인정보의 수집방법</strong>
        <p class="left_17"><i>–</i> 홈페이지 이용자가입 및 서비스 이용, 이용자정보 수정, 전화 및 이메일 상담</p><br>

        <strong id="number_04">4. 개인정보를 제3자에게 제공하는 경우</strong>
        <p>없음</p><br>

        <strong id="number_05"><i>5.</i> 개인정보의 보유 및 이용 기간</strong>
        <p>회원제 서비스 이용을 위해 이용자가 제공한 정보는 회원 가입 시점부터 해지 완료 후 90일간 보관됩니다. 상법 등 관련 법령의 규정에 의하여 보존할 필요성이 있는 경우에는 다음 내용과 같이 보존합니다.</p>
        <p class="left_17"><i>-</i> 보존 항목 : 계약 또는 청약철회 등에 관한 기록</p>
        <p class="left_17"><i>-</i> 보존 근거 : 전자상거래등에서의 소비자보호에 관한 법률</p>
        <p class="left_17"><i>-</i> 보존 기간 : 5년</p>
        <p class="left_17"><i>-</i> 보존 항목 : 대금결제 및 재화 등의 공급에 관한 기록</p>
        <p class="left_17"><i>-</i> 보존 근거 : 전자상거래등에서의 소비자보호에 관한 법률</p>
        <p class="left_17"><i>-</i> 보존 기간 : 5년</p>
        <p class="left_17"><i>-</i> 보존 항목 : 소비자의 불만 또는 분쟁처리에 관한 기록</p>
        <p class="left_17"><i>-</i> 보존 근거 : 전자상거래등에서의 소비자보호에 관한 법률</p>
        <p class="left_17"><i>-</i> 보존 기간 : 3년</p><br>

        <strong id="number_06">6. 개인정보의 파기절차 및 파기방법</strong>
        <p>‘회사’는 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기하며, 아래의 방법으로 파기됩니다.</p>
        <br>
        <p>&lt;개인정보 파기 절차&gt;</p>
        <p>고객님이 입력한 개인정보는 목적이 달성된 후 별도의 DB로 옮겨져 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라 일정 기간 저장 후 파기됩니다.</p>
        <br>
        <p>&lt;개인정보 파기 방법&gt;</p>
        <p class="left_17"><i>①</i> 종이에 출력된 개인정보는 분쇄기로 분쇄하여 파기합니다.</p>
        <p class="left_17"><i>②</i> 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</p><br>

        <strong id="number_07"><i>7.</i> 개인정보 처리위탁을 하는 업무의 내용 및 수탁자</strong>
        <p>없음</p><br>

        <strong id="number_08">8. 이용자 및 법정대리인의 권리와 그 행사방법</strong>
        <p class="left_17"><i>①</i> 이용자는 서비스 해지신청을 통해 제공한 개인정보이용에 관한 동의를 철회할 수 있습니다.</p>
        <p>‘회사’는 동의철회, 열람, 수정 요청이 있는 경우 즉시 필요한 조 치를 취하고, 특히 정보수정요청에 대해서는 해당 정보가 정정될 때까지 동 정보를 이용하지 않습니다.
            만14세 미만 아동의 법정대리인의 법령 상의 권리(아동의 개인정보에 대한 열람, 정정 · 삭제, 개인정보처리정지요구권)를 보장하고 있으며 이때 법정대리인의 최소한의 개인정보는 해당 아동으로부터
            수집할 수 있습니다.
        </p><br>

        <strong id="number_09">9. 인터넷 접속정보파일 등 개인정보를 자동으로 수집하는 장치의 설치 · 운영 및 그 거부에 관한 사항</strong>
        <p>‘회사’는 이용자에게 개인화된 서비스를 제공하기 위하여 쿠키(cookie)를 사용합니다.<br>
            쿠키는 HTTP 서버에서 사용자의 브라우저에게 보내는 작은 데이터파일이고 이용자의 단말기에 저장됩니다.
            쿠키에는 사용한 웹사이트의 정보 및 이용자의 개인정보가 기록될 수 있으며 이 정보는 서버와 공유됩니다.
            이용자는 웹브라우저의 옵션을 조정하여 모든 쿠키를 다 받아들이거나, 쿠키가 설치될 때 통지를 보내도록 하거나, 아니면 모든 쿠키를 거부할 수 있습니다.
            쿠키를 사용하지 않도록 설정하는 경우에는 ‘회사’의 일부 서비스가 원활하게 제공되지 않을 수 있습니다.</p><br>

        <strong id="number_10">10. 개인정보 관리책임자 및 고충처리 부서</strong>
        <p>개인정보 보호책임자 : 보안이슈대응팀 김윤근 (<a href="tel:070-8850-8354">070-8850-8354</a>)</p>
        <p>개인정보 보호담당자 : 보안이슈대응팀 임병주 (<a href="tel:070-8850-8355">070-8850-8355</a>)</p><br>

        <p>개인정보에 관하여 궁금한 사항이 있을 경우, 언제든지 위 연락처를 통해 문의하실 수 있습니다.</p>
        <p>이스트시큐리티 고객센터 : 전화 <a href="tel:1544-8209">1544–8209</a> / 팩스 02-3486-4628</p><br>

        <p>기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</p>
        <p class="left_17"><i>1)</i> 경찰청사이버안전국 <a href="http://cyberbureau.police.go.kr/index.do" target="_blank" class="link">cyberbureau.police.go.kr</a> / 국번없이 182</p>
        <p class="left_17"><i>2)</i> 대검찰청사이버수사과 <a href="http://www.spo.go.kr" target="_blank" class="link">www.spo.go.kr</a> / 국번없이 1301</p>
        <p class="left_17"><i>3)</i> 개인정보침해신고센터 (한국인터넷진흥원 운영) <a href="http:///privacy.kisa.or.kr" target="_blank" class="link">privacy.kisa.or.kr</a> / 국번없이 118</p>
        <p class="left_17"><i>4)</i> 개인정보분쟁조정위원회 (한국인터넷진흥원 운영) <a href="http://privacy.kisa.or.kr" target="_blank" class="link">privacy.kisa.or.kr</a> / 국번없이 118, 내선2번</p><br>

        <strong id="number_11">11. 고지의 의무</strong>
        <p>개인정보처리방침 내용 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일전부터 홈페이지의 ‘공지사항’을 통해 고지할 것입니다. 다만, 개인정보의 수집 및 활용, 제3자 제공 등과 같이 이용자 권리의 중요한 변경이 있을 경우에는 최소 30일 전에 고지합니다.</p>
        <br>
        <p class="left_17"><i>–</i> 시행일자 : 2017년 1월 2일</p>
    </section>
<% include ../include/footer.ejs %>
