<section class="consulting">
	<ul>
		<li class="col-md-4">
			<strong>
				이스트시큐리티 상담 안내
			</strong>
			<a href="/support/report" class="btn_link">알약 신고하기</a>
			<p>
				PC 오작동의 원인으로 의심되는 <br>
				파일 또는 악성코드 의심 파일을<br>
				신고할 수 있습니다.
			</p>
		</li>
		<li class="col-md-4">
			<strong>
				기업용 백신 HOT LINE
			</strong>
			<a href="tel:1544-9744">1544-9744</a>
			<p>
				상담 시간<br>
				[평일] 9:00 – 22:00<br>
				[토요일, 공휴일] 9:00 – 18:00
			</p>
		</li>
		<li class="col-md-4">
			<strong>
				기업용 솔루션 HOT LINE
			</strong>
			<a href="tel:1544-3796">1544-3796</a>
			<p>
				상담 시간<br>
				[평일] 9:00 – 18:00<br>
				[토요일, 공휴일] 휴무
			</p>
		</li>
	</ul>
</section>
