<% include include/header.ejs %>
	<div class="container join">
		<h2>회원가입</h2>
		<form name="" action="">
		    <fieldset>
		        <legend class="blind">회원가입 폼</legend>
		        <ul>
					<li>
						<label for="inputId">아이디</label>
						<input type="text" id="inputId" />
						<span></span>
					</li>
					<li>
						<label for="inputPw">비밀번호</label>
						<input type="password" id="inputPw" />
						<span></span>
					</li>
					<li>
						<label for="inputPwC">비밀번호 확인</label>
						<input type="password" id="inputPwC" />
						<span></span>
					</li>
					<li>
						<label for="inputNick">닉네임</label>
						<input type="text" id="inputNick" />
						<span></span>
					</li>
		        </ul>
		    </fieldset>
		</form>
		<a href="#n" class="btn">가입하기</a>
	</div>
	<script>
		$(function() {
			$(".join .btn").click(function() {
				if($("#inputId").val() === "") {
					$("#inputId").next().text("아이디를 입력하세요.");
					$("#inputId").focus();
					return;
				} else {
					$("#inputId").next().text("");
				}
				if($("#inputPw").val() === "") {
					$("#inputPw").next().text("비밀번호를 입력하세요.");
					$("#inputPw").focus();
					return;
				} else {
					$("#inputPw").next().text("");
				}
				if($("#inputPwC").val() === "") {
					$("#inputPwC").next().text("비밀번호를 다시 입력하세요.");
					$("#inputPwC").focus();
					return;
				} else {
					$("#inputPwC").next().text("");
				}
				if($("#inputPwC").val() !== $("#inputPw").val()) {
					$("#inputPwC").next().text("비밀번호를 정확히 입력하세요.");
					$("#inputPwC").focus();
					return;
				} else {
					$("#inputPwC").next().text("");
				}
				if($("#inputNick").val() === "") {
					$("#inputNick").next().text("닉네임을 입력하세요.");
					$("#inputNick").focus();
					return;
				} else {
					$("#inputNick").next().text("");
				}
				$(".join form").submit();
			});
		});
	</script>
<% include include/footer.ejs %>
