<% include include/header.ejs %>
	<div class="container main">
		<% if (user) { %>
		<div class="status">
			<h2><%= user.user_nick %>님 안녕하세요.</h2> 
			<a href="/logout" class="btn">로그아웃</a><br />
			<form action="/gameStart" method="post">
		    	<input type="submit" class="btn" value="참가하기" />
			</form>
		</div>
		<% } else { %>
		<div class="">
			<a href="/login" class="btn">로그인</a>
			<a href="/join" class="btn">회원가입</a>
		</div>
		<% } %>
    </div>
    <script>
	</script>
<% include include/footer.ejs %>