<% include include/header.ejs %>
<% include include/top_info.ejs %>
	<% if (user) { %>
	<div class="container main">
		<div class="status">
			<form action="/survivalForm" method="post">
		    	<input type="submit" class="btn" value="서바이벌 임시폼" />
			</form>
			<a href="/survival" class="btn">서바이벌</a>
			<a href="#n" class="btn">모험</a>
			<a href="#n" class="btn">랭킹</a>
		</div>
	</div>
	<% } %>
    <script>
	</script>
<% include include/footer.ejs %>