<% include include/header.ejs %>

<section class="container" id="partnership">
    <section class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a><i>&#62;</i></li>
            <li>제휴문의</li>
        </ul>
    </section>
    <div class="prd_notice">
        <strong>제휴문의</strong>
        <p>
            이스트시큐리티는 원활한 비즈니스를 위한 다양한 사업 제휴의 기회를 제공하고 있습니다.<br/>
            이스트시큐리티와 함께 성장을 도모하고, 시너지 효과를 창출할 많은 기업들의 소중한 연락을 기다립니다.<br/>
        </p>
    </div>
    <h2>제휴절차안내</h2>
    <img src="/images/bg_partnership_process.jpg" alt="01.제휴문의 -> 02.제안서 검토 및 연락 -> 03.제휴내용 협의 -> 04. 계약 체결" />
    <h2>제휴문의 이메일 발송 시 필수 입력사항</h2>
    <ul>
        <li>· 회사명</li>
        <li>· 연락처</li>
        <li>· 파트너 신청사유</li>
        <li>· 회사소개 및 제안서</li>
    </ul>
    <h2>제휴담당자</h2>
    <a href="mailto:contact_es@estsecurity.com">contact_es@estsecurity.com</a>
</section>

<% include include/footer.ejs %>