<% include include/header.ejs %>

<section class="ransome_wrap">
    <div class="container bg_sub_3">
        <h2>랜섬웨어 보안 위협</h2>
        <p>
            Ransom(몸값)과 Software(소프트웨어)란 단어가 합쳐져서 생성된 단어로 PC에 존재하는 중요한<br>
            자료들을 암호화 한 후, 암호화 된 파일들을 볼모로 삼고 피해자로 하여금 돈을 지불하도록 강요하는 <br>
            악성코드 입니다.
        </p>
        <div class="btn_wrap">
            <a href="#decryption" class="btn_a btn_green ransome_scroll"><i></i>복호화툴 다운로드 바로가기</a>
        </div>
    </div>

    <div class="container bg_white ransome_1">
        <h3 class="tit_1">랜섬웨어 최근동향</h3>
        <ul class="ransome_list">
            <li>
                <a href="http://blog.alyac.co.kr/884" target="_blank">
                    <p>Telegram API를 악용하는 랜섬웨어 TeleCrypt의 복호화 툴 개발돼</p>
                    <span>2016 . 11 . 23</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/880" target="_blank">
                    <p>CrySis 랜섬웨어 복호화 키, 온라인에 공개돼</p>
                    <span>2016 . 11 . 18</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/812" target="_blank">
                    <p>meizu 스마트폰, 모바일 랜섬웨어에 감염... 돈을 내야만 풀어준다</p>
                    <span>2016 . 09 . 22</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/806" target="_blank">
                    <p>하드 드라이브 부트 레코드를 잠그는 HDDCryptor 랜섬웨어</p>
                    <span>2016 . 09 . 20</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/758" target="_blank">
                    <p>사용자 파일 삭제하는 히틀러 랜섬웨어 발견</p>
                    <span>2016 . 08 . 12</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/747" target="_blank">
                    <p>Cerber 랜섬웨어 v2 발견... 더 이상 복호화 불가</p>
                    <span>2016 . 08 . 09</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/714" target="_blank">
                    <p>CryptXXX 개발자, 일부 랜섬웨어 버전에 무료 복호화 키 제공</p>
                    <span>2016 . 07 . 15</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/704" target="_blank">
                    <p>BitStak 랜섬웨어 통해 암호화된 파일, 무료 복호화 툴로 복구 가능!</p>
                    <span>2016 . 07 . 11</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/697" target="_blank">
                    <p>MS 워드 매크로 사용 문서(.docm) 이용한 Locky 랜섬웨어 주의!</p>
                    <span>2016 . 07 . 07</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/694" target="_blank">
                    <p>말하는 랜섬웨어(Cerber) 변종 이메일로 국내 유입 확인</p>
                    <span>2016 . 07 . 05</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/691" target="_blank">
                    <p>부트 레코드를 암호화하여 PC 실행을 막는 Satana 랜섬웨어</p>
                    <span>2016 . 07 . 04</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/690" target="_blank">
                    <p>안전하지 않은 RDP 연결을 통해 확산 되는 Apocalypse 랜섬웨어</p>
                    <span>2016 . 07 . 01</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/686" target="_blank">
                    <p>2016 상반기 랜섬웨어 동향</p>
                    <span>2016 . 06 . 30</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/684" target="_blank">
                    <p>새로운 랜섬웨어 'Bart' 주의!</p>
                    <span>2016 . 06 . 28</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/676" target="_blank">
                    <p>CryptXXX 2.x 복호화툴 공개!</p>
                    <span>2016 . 06 . 27</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/678" target="_blank">
                    <p>또 다시 유포되는 Locky 랜섬웨어 주의!</p>
                    <span>2016 . 06 . 24</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/674" target="_blank">
                    <p>랜덤으로 확장자 명을 바꾸는 CryptXXX 랜섬웨어 변종 주의!</p>
                    <span>2016 . 06 . 22</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/666" target="_blank">
                    <p>JavaScript 만 사용한 랜섬웨어 발견!</p>
                    <span>2016 . 06 . 17</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/657" target="_blank">
                    <p>멀버타이징을 활용한 랜섬웨어 대량유포 주의!</p>
                    <span>2016 . 06 . 10</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/654" target="_blank">
                    <p>주말동안 휴대폰 관련 대형 커뮤니티에서 유포된 랜섬웨어 주의!</p>
                    <span>2016 . 06 . 07</span>
                </a>
            </li>
            <li>
                <a href="http://blog.alyac.co.kr/639" target="_blank">
                    <p>CryptXXX 3.0 등장</p>
                    <span>2016 . 05 . 25</span>
                </a>
            </li>
        </ul>
    </div>

    <div id="decryption" class="container bg_gray ransome_2">
        <h3 class="tit_1">랜섬웨어 복호화 툴 다운로드</h3>
        <ul>
            <li>
                <p>
                    CryptXXX version 1,2,3 랜섬웨어 복호화 툴
                </p>
                <div class="btn_ran">
                    <a href="http://media.kaspersky.com/utilities/VirusUtilities/EN/rannohdecryptor.zip" class="btn_white btn_down"><i></i>다운로드</a><a href="http://blog.alyac.co.kr/676" class="btn_white" target="_blank">자세히보기</a>
                </div>
            </li>
            <li>
                <p>
                    Chimera 랜섬웨어 복호화툴
                </p>
                <div class="btn_ran">
                    <a href="http://media.kaspersky.com/utilities/VirusUtilities/EN/rakhnidecryptor.zip" class="btn_white btn_down"><i></i>다운로드</a><a href="http://blog.alyac.co.kr/456" class="btn_white" target="_blank">자세히보기</a>
                </div>
            </li>
            <li>
                <p>
                    Telecrypt 랜섬웨어 복호화툴
                </p>
                <div class="btn_ran">
                    <a href="https://malwarebytes.app.box.com/s/kkxwgzbpwe7oh59xqfwcz97uk0q05kp3" class="btn_white btn_down"><i></i>다운로드</a><a href="http://blog.alyac.co.kr/884" class="btn_white" target="_blank">자세히보기</a>
                </div>
            </li>
            <li>
                <p>
                    CrySis 랜섬웨어 복호화툴
                </p>
                <div class="btn_ran">
                    <a href="https://support.kaspersky.com/us/10556" class="btn_white btn_down" target="_blank"><i></i>다운로드</a><a href="http://blog.alyac.co.kr/880" class="btn_white" target="_blank">자세히보기</a>
                </div>
            </li>
            <li>
                <p>
                    Teslacrypt 랜섬웨어 복호화툴
                </p>
                <div class="btn_ran">
                    <a href="http://media.kaspersky.com/utilities/VirusUtilities/EN/rakhnidecryptor.zip" class="btn_white btn_down"><i></i>다운로드</a><a href="http://blog.alyac.co.kr/633" class="btn_white" target="_blank">자세히보기</a>
                </div>
            </li>
            <li>
                <p>
                    Shade 랜섬웨어 복호화툴
                </p>
                <div class="btn_ran">
                    <a href="http://media.kaspersky.com/utilities/VirusUtilities/EN/ShadeDecryptor.exe" class="btn_white btn_down"><i></i>다운로드</a><a href="#" onclick="return false" class="btn_white disabled">자세히보기</a>
                </div>
            </li>
            <li>
                <p>
                    CoinVault 랜섬웨어 복호화툴
                </p>
                <div class="btn_ran">
                    <a href="https://www.nomoreransom.org/uploads/CoinVaultDecryptor.zip" class="btn_white btn_down"><i></i>다운로드</a><a href="http://blog.alyac.co.kr/451" class="btn_white" target="_blank">자세히보기</a>
                </div>
            </li>
            <li>
                <p>
                    Rakhni 랜섬웨어 복호화툴
                </p>
                <div class="btn_ran">
                    <a href="http://media.kaspersky.com/utilities/VirusUtilities/EN/rakhnidecryptor.zip" class="btn_white btn_down"><i></i>다운로드</a><a href="#" onclick="return false" class="btn_white disabled">자세히보기</a>
                </div>
            </li>
            <li>
                <p>
                    Jigsaw 랜섬웨어 복호화툴
                </p>
                <div class="btn_ran">
                    <a href="https://blog.checkpoint.com/wp-content/uploads/2016/07/JPS_release.zip" class="btn_white btn_down"><i></i>다운로드</a><a href="http://blog.alyac.co.kr/603" class="btn_white" target="_blank">자세히보기</a>
                </div>
            </li>
            <li>
                <p>
                    Trend Micro 랜섬웨어 복호화툴
                </p>
                <div class="btn_ran">
                    <a href="https://www.nomoreransom.org/decryption-tools.html" class="btn_white btn_down"><i></i>다운로드</a><a href="#" onclick="return false" class="btn_white disabled">자세히보기</a>
                </div>
            </li>
            <li>
                <p>
                    PETYA 랜섬웨어 복호화툴
                </p>
                <div class="btn_ran">
                    <a href="#" onclick="return false" class="btn_white btn_down disabled"><i></i>다운로드</a><a href="http://blog.alyac.co.kr/579" class="btn_white" target="_blank">자세히보기</a>
                </div>
            </li>
            <li>
                <p>
                    Linux.Encoder.1 랜섬웨어 복호화툴
                </p>
                <div class="btn_ran">
                    <a href="http://labs.bitdefender.com/wp-content/plugins/download-monitor/download.php?id=Decrypter_0-1.3.zip" class="btn_white btn_down"><i></i>다운로드</a><a href="http://blog.alyac.co.kr/504" class="btn_white" target="_blank">자세히보기</a>
                </div>
            </li>
            <li>
                <p>
                    Linux.Encoder.3 랜섬웨어 복호화툴
                </p>
                <div class="btn_ran">
                    <a href="https://labs.bitdefender.com/wp-content/plugins/download-monitor/download.php?id=encoder_3_decrypter.zip" class="btn_white btn_down"><i></i>다운로드</a><a href="http://blog.alyac.co.kr/504" class="btn_white" target="_blank">자세히보기</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="container bg_white ransome_3">
        <h3 class="tit_1">랜섬웨어 관련 Q&A</h3>
        <ul class="accordion_view">
            <li><a href="#">랜섬웨어로 암호화된 파일을 복구할 수 없나요?<i><span class="ico ico_open">열린 메뉴</span></i></a>
                <div>
                    <p>현재 랜섬웨어들은 사용자 파일을 암호화 할 때 대부분 RSA 2048 비대칭 암호화 방식을 사용합니다. RSA 2048 암호화 방식은 현재 국내외 온라인 금융, 공공기관에서도 사용할</p>
                    <p>만큼 보안성이 높은 암호화입니다. 해커가 보유한 복호화 키가 없을 경우 복호화는 사실상 불가능합니다. 숫자와 알파벳을 조합해 64자리의 암호를 걸어놓아, ‘경우의 수’가 16의 </p>
                    <p>64제곱 가지, 무려 78자리 숫자에 달하기 때문에 슈퍼컴퓨터로 해독해도 수십 년이 걸리므로 사실상 복호화는 불가능 하다고 보시면 됩니다.</p><br>

                    <strong>· 시스템복원 시점에서 파일 복구(Windows Vista 이상의 OS만 가능)</strong><br>

                    <p>윈도우에서 기본제공하는 시스템복원에서 랜섬웨어 감염 전으로 복원지점 생성되어 있을 경우 파일 복구가 가능합니다.</p>
                    <p>(윈도우 시스템 파일들만 복구가 가능하며, 사용자가 생성한 문서파일은 복구대상에서 제외됩니다.)</p>
                    <p>최근에는 시스템복원 시점도 삭제하는 랜섬웨어가 등장하였으며,  이런 경우 위 방법으로 복구는 불가능합니다.</p>
                    <p><span class="blue">시점복구 방법 자세히 보기 >></span> <a href="http://blog.alyac.co.kr/168" target="_blank">http://blog.alyac.co.kr/168</a></p><br>

                    <p><strong>· 일부 랜섬웨어는 복호화 가능</strong>
                    <p>수많은 랜섬웨어 중에서 일부는 제작자들이 검거되었거나 혹은 잘못 제작하여 비밀키를 유출할 수 있는 경우가 있습니다. 이런 경우에는 파일 복구 사이트를 통하여 암호화 된 파일</p>
                    <p>들을 복구할 수 있습니다.</p>
                    <p><span class="blue">복호화 가능한 랜섬웨어 자세히 보기 >></span> <a href="http://blog.alyac.co.kr/451" target="_blank">http://blog.alyac.co.kr/451</a> / <a href="http://blog.alyac.co.kr/457" target="_blank">http://blog.alyac.co.kr/457</a></p>
                </div>
            </li>
            <li><a href="#">랜섬웨어에 감염되면 어떤 증상이 발생하나요?<i><span class="ico ico_open">열린 메뉴</span></i></a></p>
                <div>
                    <p>1) 랜섬웨어가 감염되면 암호화를 수행하는 악성파일을 생성하며 해당 악성파일이 PC 부팅 시 자동 실행되도록 설정합니다.</p>
                    <p>2) 다음 PC 부팅 시 악성파일 동작으로 PC가 많이 느린 증상이 나오며 우측 하단에 방화벽이 꺼져있다는 창이 발생합니다.</p>
                    <p>3) 자신이 실행되었던 흔적과 시스템복원 시점 등을 삭제하고 로컬PC와 공유된 모든 경로의 대상이 되는 파일(문서, 사진 위주)을 암호화 시킵니다</p>
                    <p>4) PC환경에 따라 수 분~수십 분이 소요되며 ccc, encrypted 등 파일 확장자가 변경되거나 확장자 변경 없이 암호화만 되는 경우도 있습니다.</p>
                    <p>5) 각 폴더 및 시작프로그램에 금전요구 안내 파일(howto… / help… 등으로 시작하는 메모장, 웹문서 파일)이 생성됩니다.</p>
                    <p>6) 암호화를 완료한 후 악성파일은 자신이 실행되었던 흔적과 시스템복원 시점 등을 삭제하고 자가삭제를 수행합니다.</p><br>

                    <p><span>* 금전요구 안내가 부팅 시 자동으로 보여지지 않고, 암호화된 파일이 공유된 폴더에만 존재하는 경우 해당 PC의 감염이 아니라 폴더 공유 중 인 다른 PC에 감염 되었을 가능성이
							높습니다.</span></p>
                    <p><span>* 일부 랜섬웨어 변종들의 경우 다른 증상이 나타날 수도 있습니다.</span></p>
                </div>
            </li>
            <li><a href="#">랜섬웨어를 예방하려면 어떻게 해야하나요?<i><span class="ico ico_open">열린 메뉴</span></i></a>
                <div>
                    <strong>1. 기본적인 보안 수칙을 잘 지켜야 합니다.</strong>
                    <p>1) 윈도우 업데이트, IE브라우저, Adobe, Office 등 자주 사용하는 SW를 항상 최신으로 유지해야 합니다.</p>
                    <p>만약, 다양한 SW들의 업데이트 상황을 일일이 확인하기 힘들다면, 알약 익스플로잇 쉴드의 취약점 점검과 같은 기능을 이용해서 한눈에 SW버전 상태를 확인할 수도 있습니다.</p><br>
                    <p><img src="/images/ransomeware_1.jpg" alt="Windows Update 컴퓨터에 대한 업데이트 설치" class="ransomeware_img1"/><img src="/images/ransomeware_2.jpg" alt="소프트웨어 업데이트" class="ransomeware_img2"/></p><br>

                    <p>2) 토렌트 등 파일공유 사이트 및 개인 블로그 등 신뢰할 수 없는 사이트를 통한 파일 다운로드를 지양합니다.</p><br>

                    <strong>2. 신뢰할 수 있는 백신을 사용합니다.</strong>
                    <p>사용자들이 많이 사용하는 백신들은 기본적으로 알려진 대부분의 랜섬웨어에 대하여 탐지하고 치료할 수 있습니다.</p>
                    <p>현재 알약에서도 Trojan.Ransom.cryptolocker , Trojan.Ransom.CryptoWall , Trojan.Ransom.TeslaCrypt , Trojan.Ransom.Filecoder , Trojan.Ransom.Chimera 등과</p>
                    <p>같은 탐지명으로 랜섬웨어의 진단 및 치료가 가능합니다.</p>
                    <p><span>* 백신에서의 랜섬웨어 치료 개념은 랜섬웨어 악성코드를 제거하는 뜻으로, 암호화 된 문서를 복호화 한다는 의미는 아닙니다.</span></p>
                    <p>또한 최근 기승을 부리는 랜섬웨어에 대응하기 위하여 알약에 랜섬웨어 방어기능을 탑재하였습니다.</p>
                    <p>랜섬웨어 악성코드가 사용자 파일을 암호화 하기 전 알약에서 감지하여 차단하며,  현재까지 알려진 랜섬웨어에 대하여 효과적으로 대응할 수 있습니다.</p><br>

                    <strong>3. 중요 파일에 대한 백업을 습관화 합니다.</strong>
                    <p>중요한 파일들에 대하여 로컬PC가 아닌 외장하드, USB 등 다른 저장매체에 백업을 습관화 합니다. 클라우드 서비스에 저장을 하여도, 최근에는 실시간 동기화 서비스가 제공이 </p>
                    <p>되어 로컬에 있는 문서들이 바로 바로 동기화 되기 때문에, 자칫하다가는 클라우드에 있는 정보들까지 모두 암호화 될 수도 있습니다.</p>
                    <p>특히 상대적으로 기업 환경에서는 중요 문서를 많이 다루고 관리해야 할 임직원들이 많아 랜섬웨어 악성코드에 감염될 경우 피해가 매우 큽니다.</p>
                    <p>이러한 기업환경에서 임직원들의 중요자료를 실시간으로 자동 백업 시켜줄 수 있는 문서 백업솔루션 및 문서중앙화 솔루션을 도입하는 것도 랜섬웨어 공격의 피해를 막을 수 있는 </p>
                    <p>하나의 방법이 될 수 있습니다.</p>
                    <p><a href="http://blog.naver.com/qone032/220558960151" target="_blank" class="blue">랜섬웨어 감염파일 복구 사례 보러가기</a></p><br>
                </div>
            </li>
            <li><a href="#">알약 랜섬웨어 차단기능이란?<i><span class="ico ico_open">열린 메뉴</span></i></a>
                <div>
                    <p>사용자 PC가 랜섬웨어에 감염되어 파일이 암호화 되기 전, 알약이 발견하여 파일 암호화 하는것을 저지하는 기능</p><br>

                    <strong>차단 방법</strong>
                    <p>1. 사용자 PC가 보안취약점 혹은 첨부파일 등의 경로로 랜섬웨어에 감염됩니다.</p>
                    <p>2. 랜섬웨어 악성코드가 사용자 PC에 존재하는 파일들을 암호화를 시키기 전 알약에서 랜섬웨어를 감지하고 차단함으로서 사용자의 파일들이 암호화 되는 것을 방지합니다.</p>
                    <p>알약에서는 랜섬웨어 악성코드가 파일들을 암호화 시키는 것을 효과적으로 막을 수 있을 뿐만 아니라, 다음과 같은 진단명으로 랜섬웨어의 진단 및 치료가 가능합니다.</p>
                    <p>2) 토렌트 등 파일공유 사이트 및 개인 블로그 등 신뢰할 수 없는 사이트를 통한 파일 다운로드를 지양합니다.</p><br>
                    <p><img src="/images/ransomeware_3.jpg" alt="랜섬웨어 차단 알림 1단계" class="ransomeware_img3"/><img src="/images/ransomeware_4.jpg" alt="랜섬웨어 차단 알림 2단계" class="ransomeware_img3"/><img src="/images/ransomeware_5.jpg" alt="랜섬웨어 차단 알림 3단계" class="ransomeware_img3"/></p><br>
                </div>
            </li>
        </ul>
    </div>

    <div class="container" id="rco_prd">
        <h2 class="tit_2">랜섬웨어 공격차단을 위한 추천제품</h2>
        <div>
            <a href="/product/alyac_enterprise" class="col-md-4 prd_1">
                <span>엔드포인트 보안</span>
                <strong class="ellipsis_1">알약 기업용</strong>
                <p class="ellipsis_2">뛰어난 탐지율을 보장하는 트리플엔진을 탑재하여, 글로벌 위협으로부터 시스템을 빈틈없이 보호합니다.</p>
            </a>
            <a href="/product/exploitshield_enterprise" class="col-md-4 prd_4">
                <span>엔드포인트 보안</span>
                <strong class="ellipsis_1">알약 익스플로잇쉴드 기업용</strong>
                <p class="ellipsis_2">취약점을 통한 악성코드 공격을 실시간으로 차단하여, 더욱 안전한 윈도우 환경을 구축해 드립니다.</p>
            </a>
            <a href="/product/securedisk" class="col-md-4 prd_3">
                <span>데이터 보안</span>
                <strong class="ellipsis_1">시큐어디스크</strong>
                <p class="ellipsis_2">문서중앙화를 통해 내부 자료의 유출을 방지하고, 기업의 자산을 보호하는 차세대 문서 보안 솔루션입니다.</p>
            </a>
            <a href="/product/ransomshield_cloud" class="col-md-4 prd_6">
                <span>데이터 보안</span>
                <strong class="ellipsis_1">랜섬쉴드 클라우드</strong>
                <p class="ellipsis_2">주요 문서의 실시간 중앙 서버 백업을 통해 다양한 유실 위협으로부터 기업의 자산을 안전하게 보호합니다.</p>
            </a>
        </div>
    </div>
</section>

<% include include/footer.ejs %>
