@charset "utf-8";
html{overflow-x:hidden;height:100%}
html,body,div,p,img,span,a,em,strong,pre,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,tbody,thead,tfoot,tr,th,td,form,fieldset,legend,caption,input,textarea,button,select,object,video,iframe{margin:0;padding:0}
body{font-family:'맑은 고딕',Malgun Gothic,'돋움',dotum,'굴림',gulim,Arial,AppleGothic,verdana,sans-serif,helvetica;letter-spacing:-1px;font-size:14px;color:#111;width:100%;height:100%}
h1,h2,h3,h4,h5,h6{font-size:14px}
img,fieldset,button{border:0}
table{border-collapse:collapse;border-spacing:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a,a:link{text-decoration:none;color:#111}
a:hover{text-decoration:underline}
hr{display:none}
legend,caption,.blind{position:absolute;top:-9999px;font-size:0;line-height:0}
label{cursor:pointer}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/* common */
h2{padding:30px 0}
h3{padding:20px 0}
.blind{overflow:hidden;position:absolute;top:-9999px;left:-9999px;width:1px;height:1px;font-size:1px;height:1px}
.btn{display:block;width:158px;height:40px;line-height:36px;font-size:16px;text-align:center;color:#1c2833;border:1px solid #1c2833;cursor:pointer;margin:30px auto}
.btn:hover{color:#fff;background:#1c2833;text-decoration:none}
.container{width:1160px;padding:50px 20px;margin:0 auto}
@media (max-width:1200px) {
	.container{width:100%}
}
.border_layout{border-top:1px solid #111;border-bottom:1px solid #ddd;padding:15px 0}

/* 회원가입 */
.join li label{display:inline-block;width:25.64%;font-weight:normal;color:#111;padding:27px 0}
.join li input{width:280px;height:36px;border:1px solid #ddd;padding:9px 15px}
.join li span{color:#EA4836;padding:0 10px}
@media (max-width:768px) {
	.join li{position:relative;padding-bottom:30px}
	.join li input{width:100%}
	.join li label{width:100%;padding:13px 0}
	.join li span{position:absolute;padding:0;margin-top:10px}
}
/* 로그인 */
.login fieldset{width:280px;margin:0 auto;padding-top:100px}
.login label{display:none}
.login input{display:block;width:100%;height:50px;line-height:50px;border:1px solid #E0E0E0;padding:15px;margin:0 auto 10px}
.login input.btn{cursor:pointer;font-size:20px;line-height:20px;font-weight:bold}
.login ul{padding-top:10px}
.login li{float:left}
.login li:last-child{float:right}
.login li span{color:#EA4836;padding:0 10px}
/* 게임 */
.game .action{overflow:hidden}
.game .action li{float:left}
.game .action input{display:block;width:158px;height:40px;line-height:36px;font-size:16px;text-align:center;color:#1c2833;border:1px solid #1c2833;cursor:pointer;margin-right:10px}
.game .action input:hover{color:#fff;background:#1c2833;text-decoration:none}
.game .meet{clear:left;display:block}
.game .msg{clear:left;display:block}
.game .status ul{overflow:hidden}
.game .status li{line-height:30px}
.game .item li{float:left;margin-right:10px}
.game .item li input{height:25px;line-height:25px;border:1px solid #1c2833;cursor:pointer;padding:0 10px}
