<% var VIEW_URL = "/securityCenter/column"; %>
<% var IS_VIEW_CATEGORY = true %>
<% include ../../include/header.ejs %>

<section class="bg_sub_2 bg_securitycenter">
    <div>
        <h2>보안정보</h2>
        <strong>보안칼럼</strong>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/securityCenter/news/1">보안센터</a><i>&#62;</i></li>
        <li><a href="/securityCenter/commonSense/1">보안정보</a><i>&#62;</i></li>
        <li>보안칼럼</li>
    </ul>
</section>

<!-- 컨텐츠 영역 시작 -->
<% include ../boardImage/list.ejs %>
<!-- 컨텐츠 영역 종료 -->

<!-- footer 영영 시작 --> 
<% include ../../include/footer.ejs %>
<!-- footer 영영 종료 --> 
