<% include ../include/header.ejs %>

<section class="container" id="info_level">
    <section class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a><i>&#62;</i></li>
            <li>보안레벨</li>
        </ul>
    </section>
    <dl>
        <dt>보안위험레벨이란?</dt>
        <dd>사용자들에게 유해한 보안위협 수준을 알려주는 지표로서, 국내외 사용자 및 ESTsecurity에서 수집한 정보를 바탕으로 보안위험레벨을 분류하여 사용자들에게 위험상황을 안내합니다. <br/>
            ESTsecurity는 보안위험레벨 단계별로 경보를 발령함으로써, 보안위협으로부터 사용자 스스로 피해를 예방하고 보호하도록 돕기위해 노력하고 있습니다. </dd>
    </dl>
    <div class="state_info">
        <div>
            <h4><span>안전</span></h4>
            <p>대부분의 사용자가 악성코드로부터의 위협이 없는 상태로, 이미 알려 졌거나 혹은 일반 수준의 보안위협이 발생/탐지/치료되는 형태가 반복되는 상황을 말합니다.</p>
        </div>
        <div>
            <h4><span>주의</span></h4>
            <p>악성코드가 유포되고 있으며, 특정 악성코드에 의한 사용자 피해 사례가 증가중인 상황으로, 피해가 확산될 가능성이 있는 상황을 말합니다.</p>
        </div>
        <div>
            <h4><span>경고</span></h4>
            <p>악성코드가 대규모로 유포되고 있고 그 위협이 큰 상태로, 사용자의 시스템의 정상적인 사용이 어렵거나 다른 시스템으로의 감염이 확산되고 있는 상황을 말합니다.</p>
        </div>
        <div>
            <h4><span>위험</span></h4>
            <p>외부 위험 요소로 인한 피해가 매우 심각한 상황으로 이미 많은 사용자들이 피해를 당했으며 기업들 뿐만 아니라 기관들에도 큰 피해가 발생하여 국가적 차원에서 대응이 필요한 상황을 말합니다.</p>
        </div>
    </div>
</section>

<% include ../include/footer.ejs%>
