<% include ../include/header.ejs %>

<section class="bg_sub_2 bg_securitycenter">
    <div>
        <h2>보안정보</h2>
        <strong>알약 전용백신</strong>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/securityCenter/news/1">보안센터</a><i>&#62;</i></li>
        <li><a href="/securityCenter/commonSense/1">보안정보</a><i>&#62;</i></li>
        <li>알약 전용백신</li>
    </ul>
</section>
<section class="container" id="down_alyac">
    <h2 class="tit_2">알약 전용백신 다운로드</h2>
    <div class="box">
        <h3>알약 전용백신이란?</h3>
        <ul>
            <li><i>-</i>알약전용백신은 <strong>특정 바이러스 및 악성코드를 탐지, 치료하기 위해 제작</strong>된 파일입니다.</li>
            <li><i>-</i>알약전용백신은 특정 바이러스 및 악성코드의 확산 방지 및 예방을 위해서 <strong>개인, 기업의 모든 사용자에게 무료로 배포</strong>됩니다.</li>
            <li><i>-</i>알약전용백신은 특정바이러스 및 악성코드의 치료를 위한 용도이므로, 예방을 위한 <strong>실시간감시 기능은 제공되지 않습니다.</strong></li>
            <li><i>-</i>특정 브라우저에서 알약 전용백신을 위험파일로 진단할 수 있으나, 정상파일이니 안심하시고 사용하시기 바랍니다.</li>
        </ul>
    </div>
    <ul class="list">
        <li>
            <div class="col-md-12 icon_1">
                <strong>알약 실행이나 윈도우 부팅을 방해하는 악성코드</strong>
                <p>비밀번호 : alyacremovaltool</p>
                <i><span class="ico ico_open">열린 메뉴</span></i>
            </div>
            <a href="http://cdn1.estsecurity.com/removaltool/alyacremovaltool_anti.avkiller.zip" class="down">다운로드</a>
            <div class="view">
                <ul class="ul_tbl">
                    <li>
                        <h4>전용백신 이름</h4>
                        <p>알약 실행이나 윈도우 부팅을 방해하는 악성코드</p>
                    </li>
                    <li>
                        <h4>OS플랫폼</h4>
                        <p>Windows</p>
                    </li>
                    <li>
                        <h4>관련 보안공지</h4>
                        <p>시스템 후킹을 통해 정상적인 알약의 실행을 방해하거나 윈도우 부팅을 방해, 혹은 알약의 강제 삭제를 시도하는 악성코드에 대응하는 전용백신을 출시합니다.</p>
                    </li>
                    <li>
                        <h4>관련 악성코드<br />분석 정보</h4>
                        <p>
                            백신의 업데이트와 실행을 방해하고 키로깅을 통해 온라인 게임의 계정정보를 유출시키는 악성코드 입니다.<br/ >
                            부팅 시 블루스크린이 나타나거나, 알약 업데이트가 정상적으로 실행되지 않는 경우 또는 인터넷 연결이 일시적으로 이뤄지지 않는 경우에 악성코드에 의한 증상일 가능성이 있으니<br/ >
                            본 전용백신을 다운로드하여 검사하시기 바랍니다.<br/ ><br/ >

                            탐지 및 치료 대상:<br/ >
                            Common.exe / win32.dll / Audio.sys / midisappe.dll / ahnsvr.sys / ntfsny.sys / ws2sock.dll / Audio.sys / wshtcpip.dll<br/ ><br/ >

                            본 전용백신으로 시스템 후킹을 통해 알약의 실행을 방해하는 악성코드<br/ >
                            Spyware.OnlineGames.nsys, S.SPY.OnlineGames.nsys, Spyware.OnlineGames.imm, S.SPY.OnlineGames.imm, Trojan.Downloader.Agent.16072, V.DWN.Agent.16072등을 치료할 수 있습니다.<br/ ><br/ >

                            Update Note. 2011.09.20 :<br/ >
                            – 본 전용백신은 검사대상 파일이 ‘변경되지 않은 원본 시스템 파일이 맞는지’를 확인하는 방법인,<br/ >
                            WhiteList 기반의 탐지 방식으로 업데이트되었습니다.<br/ >
                            – ws2sock.dll, Audio.sys의 탐지가 추가되었습니다.<br/ >
                            – 일부 치료 버그가 개선되었습니다.<br/ ><br/ >

                            Update Note. 2011.10.05 :<br/ >
                            – midisappe.dll, FileEngine.sys, DiskSystem.exe, dnetcom.dll, dnetcom32.dll, halc.dll의<br/ >
                            탐지가 추가되었습니다.<br/ ><br/ >

                            Update Note. 2011.10.06 :<br/ >
                            – dnetcom32.dll의 탐지가 추가되었습니다.<br/ ><br/ >

                            Update Note. 2011.11.09 :<br/ >
                            – midisappe.dll 치료 로직이 개선되었습니다.<br/ >
                            – spoo1sv.exedml 탐지가 추가되었습니다.<br/ >

                            Update Note. 2011.12.06 :<br/ >
                            – MBR 영역에 감염되어 lpk.dll 파일을 변조하는 악성코드의 치료기능이 추가되었습니다.<br/ ><br/ >

                            Update Note. 2011.12.26 :<br/ >
                            – com32.dll, spoo1sv.exe 탐지가 추가되었습니다.<br/ ><br/ >

                            Update Note. 2012.01.02 :<br/ >
                            – ws2help.dll 복구 로직이 개선되었습니다.<br/ ><br/ >

                            Update Note. 2012.09.19 :<br/ >
                            – 백신 및 특정 응용프로그램 실행을 방해하는 레지스트리 변조 복구기능 추가<br/ ><br/ >

                            Update Note. 2012.11.07 :<br/ >
                            – 전용백신 이름을 KillAlyac에서 Anti_AVKiller로 변경<br/ ><br/ >

                            Update Note. 2013.02.04 :<br/ >
                            – ws2sock.dll 치료로직 개선<br/ ><br/ >

                            Update Note. 2014.08.13 :<br/ >
                            – wshtcpip.dll 치료로직 개선<br/ ><br/ >

                            Update Note. 2014.12.02 :<br/ >
                            – 알약 uninstall 시도 악성코드 탐지로직 추가<br/ ><br/ >

                            Update Note. 2015.02.04 :<br/ >
                            – 변경된 DNS 복구 로직 추가<br/ ><br/ >
                        </p>
                    </li>
                    <li>
                        <h4>전용백신 사용방법</h4>
                        <p>
                            해당 전용백신을 다운로드하여 실행하시면 됩니다. 전용백신은 실시간 감시 기능이 없으며, 타 악성코드를 탐지하지 못하므로 알약 최신버전 을 사용하시는 것을 권장해 드립니다.<br /><br />

                            링크된 전용백신 파일을 다운로드 받아 PC에서 더블클릭하면 별도의 설치과정 없이 바로 전용 백신이 실행됩니다.<br /><br />
                            1) 검사를 시작하기 위해서는 “검사” 버튼을 클릭합니다.<br />
                            2) 악성코드 검사 완료 후에 “치료” 버튼을 누르면 치료가 완료됩니다.<br />
                        </p>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="col-md-12 icon_2">
                <strong>LSP변조 악성코드 전용 백신</strong>
                <p>비밀번호 : alyacremovaltool</p>
                <i><span class="ico ico_open">열린 메뉴</span></i>
            </div>
            <a href="http://cdn1.estsecurity.com/removaltool/alyacremovaltool_spyware.pws.krbanker.f.zip" class="down">다운로드</a>
            <div class="view">
                <ul class="ul_tbl">
                    <li>
                        <h4>전용백신 이름</h4>
                        <p>LSP변조 악성코드 전용백신</p>
                    </li>
                    <li>
                        <h4>OS플랫폼</h4>
                        <p>Windows</p>
                    </li>
                    <li>
                        <h4>관련 보안공지</h4>
                        <p>피싱사이트로의 접속을 유도하며 금융정보를 탈취하는 악성코드에 대응하여 전용백신을 출시합니다.</p>
                    </li>
                    <li>
                        <h4>관련 악성코드<br />분석 정보</h4>
                        <p>
                            사용자 컴퓨터의 LSP(Layered Service Provider)를 변조하여 피싱사이트로의 접속을 유도하는 악성코드가 발견되었습니다.<br />
                            브라우저의 주소창에 보이는 은행사이트의 주소가 정확하더라도 보안카드 번호를 모두 입력하라고 안내되었거나, 그밖에 피싱/파밍이 의심된다면 본 전용백신을 다운로드하여 검사하시기 바랍니다.<br />
                            본 전용백신으로 LSP를 변조해 금융정보 탈취를 시도하는 악성코드 Spyware.PWS.KRBanker.F를 치료할 수 있습니다.<br />
                        </p>
                    </li>
                    <li>
                        <h4>전용백신 사용방법</h4>
                        <p>
                            해당 전용백신을 다운로드하여 실행하시면 됩니다. 전용백신은 실시간 감시 기능이 없으며, 타 악성코드를 탐지하지 못하므로 알약 최신버전 을 사용하시는 것을 권장해 드립니다.<br /><br />

                            링크된 전용백신 파일을 다운로드 받아 PC에서 더블클릭하면 별도의 설치과정 없이 바로 전용 백신이 실행됩니다.<br /><br />
                            1) 검사를 시작하기 위해서는 “검사” 버튼을 클릭합니다.<br />
                            2) 악성코드 검사 완료 후에 “치료” 버튼을 누르면 치료가 완료됩니다.<br />
                        </p>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="col-md-12 icon_3">
                <strong>6.25 정부기관 및 언론사 공격 악성코드 전용백신</strong>
                <p>비밀번호 : alyacremovaltool</p>
                <i><span class="ico ico_open">열린 메뉴</span></i>
            </div>
            <a href="http://cdn1.estsecurity.com/removaltool/alyacremovaltool_trojan.ddos.svc.zip" class="down">다운로드</a>
            <div class="view">
                <ul class="ul_tbl">
                    <li>
                        <h4>전용백신 이름</h4>
                        <p>6.25 정부기관 및 언론사 공격 악성코드</p>
                    </li>
                    <li>
                        <h4>OS플랫폼</h4>
                        <p>Windows</p>
                    </li>
                    <li>
                        <h4>관련 보안공지</h4>
                        <p>6월 25일 청와대, 일부 언론사 등을 향한 DDOS공격이 발생하여 전용백신을 출시합니다.</p>
                    </li>
                    <li>
                        <h4>관련 악성코드<br />분석 정보</h4>
                        <p>
                            웹하드 실행파일을 통해 설치되어 DDOS 공격을 실행하는 악성코드입니다.<br />
                            본 전용백신으로 악성코드 Trojan.DDoS.Svc, Trojan.Agent.Rot를 치료할 수 있습니다.<br /><br />

                            UPDATE. 2013.6.26 – 변종파일 패턴추가<br />
                            UPDATE. 2013.6.27 – 변종파일 패턴추가<br />
                            UPDATE. 2013.6.28 – 변종파일 패턴추가<br />
                        </p>
                    </li>
                    <li>
                        <h4>전용백신 사용방법</h4>
                        <p>
                            해당 전용백신을 다운로드하여 실행하시면 됩니다. 전용백신은 실시간 감시 기능이 없으며, 타 악성코드를 탐지하지 못하므로 알약 최신버전 을 사용하시는 것을 권장해 드립니다.<br /><br />

                            링크된 전용백신 파일을 다운로드 받아 PC에서 더블클릭하면 별도의 설치과정 없이 바로 전용 백신이 실행됩니다.<br /><br />
                            1) 검사를 시작하기 위해서는 “검사” 버튼을 클릭합니다.<br />
                            2) 악성코드 검사 완료 후에 “치료” 버튼을 누르면 치료가 완료됩니다.<br />
                        </p>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="col-md-12 icon_4">
                <strong>3/20 사이버테러 유사 패턴 악성코드 전용 백신</strong>
                <p>비밀번호 : alyacremovaltool</p>
                <i><span class="ico ico_open">열린 메뉴</span></i>
            </div>
            <a href="http://cdn1.estsecurity.com/removaltool/alyacremovaltool_trojan.Infostealer.cmb.zip" class="down">다운로드</a>
            <div class="view">
                <ul class="ul_tbl">
                    <li>
                        <h4>전용백신 이름</h4>
                        <p>3/20 사이버테러 유사 패턴 악성코드 전용백신</p>
                    </li>
                    <li>
                        <h4>OS플랫폼</h4>
                        <p>Windows</p>
                    </li>
                    <li>
                        <h4>관련 보안공지</h4>
                        <p>‘3.20 사이버테러’에 사용된 악성코드와 유사한 패턴을 가진 악성코드가 발견되어 전용백신을 출시합니다.</p>
                    </li>
                    <li>
                        <h4>관련 악성코드<br />분석 정보</h4>
                        <p>
                            감염된 컴퓨터의 각종정보를 수집하여 외부로 유출하는 악성코드 입니다.<br />
                            탐지 및 치료 대상:<br />
                            sxs.dll / kbdusv.exe / snddev.dll<br />
                            본 전용백신으로 악성코드 Trojan.Downloader.XeWeb / Trojan.Infostealer.CMB를 치료할 수 있습니다.<br />
                        </p>
                    </li>
                    <li>
                        <h4>전용백신 사용방법</h4>
                        <p>
                            해당 전용백신을 다운로드하여 실행하시면 됩니다. 전용백신은 실시간 감시 기능이 없으며, 타 악성코드를 탐지하지 못하므로 알약 최신버전 을 사용하시는 것을 권장해 드립니다.<br /><br />

                            링크된 전용백신 파일을 다운로드 받아 PC에서 더블클릭하면 별도의 설치과정 없이 바로 전용 백신이 실행됩니다.<br /><br />
                            1) 검사를 시작하기 위해서는 “검사” 버튼을 클릭합니다.<br />
                            2) 악성코드 검사 완료 후에 “치료” 버튼을 누르면 치료가 완료됩니다.<br />
                        </p>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="col-md-12 icon_3">
                <strong>3/20 언론사 및 금융기관 공격 악성코드 전용백신</strong>
                <p>비밀번호 : alyacremovaltool</p>
                <i><span class="ico ico_open">열린 메뉴</span></i>
            </div>
            <a href="http://cdn1.estsecurity.com/removaltool/alyacremovaltool_spyware.pws.krbanker.zip" class="down">다운로드</a>
            <div class="view">
                <ul class="ul_tbl">
                    <li>
                        <h4>전용백신 이름</h4>
                        <p>3/20 언론사 및 금융기관 공격 악성코드 전용백신</p>
                    </li>
                    <li>
                        <h4>OS플랫폼</h4>
                        <p>Windows</p>
                    </li>
                    <li>
                        <h4>관련 보안공지</h4>
                        <p>2013/03/20 언론사 및 금융기관에 피해를 입힌 MBR 파괴 악성코드의 전용백신을 출시합니다.</p>
                    </li>
                    <li>
                        <h4>관련 악성코드<br />분석 정보</h4>
                        <p>
                            실행시 MBR을 파괴하여 부팅을 불가능하게 하는 악성코드입니다.<br /><br />

                            탐지 및 치료 대상:<br />
                            ApcRunCmd.exe / OthDown.exe<br /><br />

                            본 전용백신으로 악성코드 Trojan.KillDisk.MBR 을 치료할 수 있습니다.<br />
                            UPDATE: 2013.03.20 23:20<br />
                            탐지대상 추가 – mb_join.gif<br /><br />

                            UPDATE: 2013.03.21 14:00<br />
                            탐지대상 추가 – v3servc.exe 외 / Trojan.Agent.TroyM<br /><br />

                            UPDATE: 2013.03.21 19:00<br />
                            탐지대상 추가 – schsvcsc.dll 외<br /><br />

                            UPDATE: 2013.03.23 23:00<br />
                            탐지대상 추가 – Trojan.Agent.TroyM<br /><br />

                            UPDATE: 2013.03.26 15:00<br />
                            탐지대상 추가 – Trojan.Agent.TroyM<br /><br />

                            UPDATE: 2013.04.04 17:00<br />
                            탐지대상 추가 – Trojan.Agent.TroyM<br /><br />
                        </p>
                    </li>
                    <li>
                        <h4>전용백신 사용방법</h4>
                        <p>
                            해당 전용백신을 다운로드하여 실행하시면 됩니다. 전용백신은 실시간 감시 기능이 없으며, 타 악성코드를 탐지하지 못하므로 알약 최신버전 을 사용하시는 것을 권장해 드립니다.<br /><br />

                            링크된 전용백신 파일을 다운로드 받아 PC에서 더블클릭하면 별도의 설치과정 없이 바로 전용 백신이 실행됩니다.<br /><br />
                            1) 검사를 시작하기 위해서는 “검사” 버튼을 클릭합니다.<br />
                            2) 악성코드 검사 완료 후에 “치료” 버튼을 누르면 치료가 완료됩니다.<br />
                        </p>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="col-md-12 icon_5">
                <strong>공인인증서 탈취 및 파밍 악성코드 전용백신</strong>
                <p>비밀번호 : alyacremovaltool</p>
                <i><span class="ico ico_open">열린 메뉴</span></i>
            </div>
            <a href="http://cdn1.estsecurity.com/removaltool/alyacremovaltool_spyware.pws.krbanker.zip" class="down">다운로드</a>
            <div class="view">
                <ul class="ul_tbl">
                    <li>
                        <h4>전용백신 이름</h4>
                        <p>공인인증서 탈취 및 파밍 악성코드 전용백신</p>
                    </li>
                    <li>
                        <h4>OS플랫폼</h4>
                        <p>Windows</p>
                    </li>
                    <li>
                        <h4>관련 보안공지</h4>
                        <p>공인인증서 탈취 및 파밍 악성코드에 대응하기 위해 전용백신을 출시합니다.</p>
                    </li>
                    <li>
                        <h4>관련 악성코드<br />분석 정보</h4>
                        <p>
                            PC에 저장되어있는 공인인증서를 탈취하거나 은행사이트 접속 시 파밍사이트로 연결시키는 악성코드 입니다.<br />
                            브라우저의 주소창에 보이는 은행사이트의 주소가 정확하더라도 보안카드 번호를 모두 입력하라고 안내되었거나, 그밖에 피싱/파밍이 의심된다면 본 전용백신을 다운로드하여 검사하시기 바랍니다.<br /><br />

                            탐지 및 치료 대상:<br />
                            5.exe / bbb.exe / csrsses.exe / iexplores.exe / winlogones.exe / 0123223840_v.exe / DeleteAll.exe / ftp.exe / kbs.exe / LoginMgr.dll / IeHelper.dll / UpDate.exe<br /><br />

                            본 전용백신으로 시스템 후킹을 통해 알약의 실행을 방해하는 악성코드 Spyware.PWS.KRBanker / Spyware.PWS.KRBanker.A / Spyware.PWS.KRBanker.B / Spyware.PWS.KRBanker.C / Spyware.PWS.KRBanker.IE 등을 치료할 수 있습니다.<br />
                        </p>
                    </li>
                    <li>
                        <h4>전용백신 사용방법</h4>
                        <p>
                            해당 전용백신을 다운로드하여 실행하시면 됩니다. 전용백신은 실시간 감시 기능이 없으며, 타 악성코드를 탐지하지 못하므로 알약 최신버전 을 사용하시는 것을 권장해 드립니다.<br /><br />

                            링크된 전용백신 파일을 다운로드 받아 PC에서 더블클릭하면 별도의 설치과정 없이 바로 전용 백신이 실행됩니다.<br /><br />
                            1) 검사를 시작하기 위해서는 “검사” 버튼을 클릭합니다.<br />
                            2) 악성코드 검사 완료 후에 “치료” 버튼을 누르면 치료가 완료됩니다.<br />
                        </p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</section>

<% include ../include/footer.ejs %>
