<% include ../../include/header.ejs %>
<% var VIEW_URL = "/securityCenter/news"; %>
<section class="bg_sub_2 bg_securitycenter">
    <div>
        <h2>보안공지</h2>
        <strong>이스트시큐리티 소식 및 최신 보안이슈를 알려드립니다.</strong>
    </div>
</section>

<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/securityCenter/news/1">보안센터</a><i>&#62;</i></li>
        <li>보안공지</li>
    </ul>
</section>

<!-- BOARD 영역 시작 -->
<section class="container board_view">
    <% include ../board/view.ejs %>
    <button onclick="window.location.href='<%=VIEW_URL%>/1'" id="listButton">목록</button>
</section>

<!-- BOARD 영역 종료 -->

<% include ../../include/footer.ejs %>
