<% include ../include/header.ejs %>

<section class="bg_sub_1 alyac_company_download">
    <div class="bn_tit">
        <h2><img src="/images/tit_alyac_company_3_0.png" alt="알약 기업용 3.0"/></h2>
        <strong class="white">엔터프라이즈 보안을 위한 강력한 통합백신</strong>
        <p class="white">
            알약 기업용은 뛰어난 탐지율을 보장하는 3개의 멀티엔진을 탑재하여 글로벌 위험 요소로부터 시스템을<br>
            빈틈없이 보호하고, 실시간 감시, 네트워크 보안, 매체제어 기능을 통해 원천적으로 위험요소의 유입을 <br>
            차단합니다.
        </p>
        <div class="btn_wrap">
            <a href="/buy/estimate" class="btn_a btn_navy">구매문의</a>
            <a href="http://cdn1.estsecurity.com/setup/ALYac/ALYac30_x86.exe" class="btn_a btn_a btn_white w_140 downloadNone">32bit 다운로드</a>
            <a href="http://cdn1.estsecurity.com/setup/ALYac/ALYac30_x64.exe" class="btn_a btn_a btn_white w_140 downloadNone">64bit 다운로드</a>
        </div>
    </div>
</section>
<section class="tab_nav">
    <div class="container">
        <strong class="green">알약 기업용</strong>
        <ul class="nav">
            <li><a href="#overview" class="page_scroll">제품개요</a></li>
            <li><a href="#main_function" class="page_scroll">주요기능</a></li>
            <li><a href="#phasein" class="page_scroll">도입효과</a></li>
            <li><a href="#specs" class="page_scroll">사용환경</a></li>
        </ul>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/product/alyac">보안제품</a><i>&#62;</i></li>
        <li><a href="/product/alyac">엔드포인트 보안</a><i>&#62;</i></li>
        <li>알약 기업용</li>
    </ul>
</section>

<section class="container" id="overview">
    <h2 class="tit_1">제품 개요</h2>
    <h3 class="tit_1">엔터프라이즈 보안을 위한 강력한 통합백신,<br>알약 기업용</h3>
    <img src="/images/alyac_company_overview.png" alt="실시간 감시/방화벽/랜섬웨어 차단(악성코드 감염/취약점공격/랜섬웨어 감염), 매체제어/파일 완전 삭제(자료 유출), 자가보호(백신 무력화)"/>
    <ul class="first">
        <li class="col-md-3">
            <dl>
                <dt><span>01</span> 완벽한 탐지율</dt>
                <dd>
                    <p>
                        국제 인증을 통해 검증 받은 자체 엔진인 테라(Tera),비트디펜더(Bitdefender), 소포스(Sophos)의 트리플 엔진 구조
                    </p>
                    <p>
                        전세계에서 광범위하게 수집되는 해외 위협요소
                        DB와 국내 최대의 사용자를 기반으로 구축된 국내
                        위협요소 DB를 통한 포괄적  탐지
                    </p>
                </dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>02</span> 오탐 검증 시스템</dt>
                <dd>
                    <p>
                        오진 위험 최소화를 위해 업데이트 전 OS및
                        주요 보안 프로그램, 범용 프로그램의 오진 여부
                        확인 프로세스 도입
                    </p>
                </dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>03</span> 자료 유출 사전 차단</dt>
                <dd>
                    <p>
                        매체제어 기능을 통해 USB 및 다양한 이동식
                        저장 장치를 이용한 자료 유출 사전 차단
                    </p>
                </dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>04</span> 향상된 검사 속도</dt>
                <dd>
                    <p>
                        Smart Scan 기술을 통해 실시간 감시 또는
                        정밀 검사 시 실제 검사가 필요한 파일 분류
                    </p>
                    <p>
                        안전함이 검증된 파일은 검사에서 제외하여
                        검사 속도 향상, 실시간 감시 부하 제거
                    </p>
                </dd>
            </dl>
        </li>
    </ul>
    <ul>
        <li class="col-md-3">
            <dl>
                <dt><span>05</span> 편리한 사용</dt>
                <dd>
                    <p>
                        엔진 최적화와 프로그램 경량화를 통해 시스템에서
                        차지하는 메모리와 CPU 점유율 감소
                    </p>
                    <p>
                        친숙하고 간결한 UI를 통해 사용 편의성 향상
                    </p>
                </dd>
            </dl>
        </li>
    </ul>

</section>
<section id="products_ui">
    <div class="container">
        <h2>제품 UI</h2>
        <div class="owl-carousel" data-plugin-options='{"singleItem": false, "autoPlay": false}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
            <div>
                <span class="img_wrap">
                    <img class="img-responsive center-block" src="/images/alyac_company_ui_3_01.png" alt="알약 기업용 보안센터">
                    <i class="add"></i>
                </span>
                <strong>보안센터</strong>
            </div>
            <div>
                <span class="img_wrap">
                    <img class="img-responsive center-block" src="/images/alyac_company_ui_3_02.png" alt="알약 기업용 검사 및 치료">
                    <i class="add"></i>
                </span>
                <strong>검사 및 치료</strong>
            </div>
            <div>
                <span class="img_wrap">
                    <img class="img-responsive center-block" src="/images/alyac_company_ui_03_03.png" alt="알약 기업용 시스템 보호">
                </span>
                <strong>실행/탐색기</strong>
            </div>
        </div>
    </div>
</section>
<section id="main_function">
    <div class="container">
        <h2 class="tit_1">주요기능</h2>
        <h3 class="tit_1">신속하고 정확한 악성코드 탐지</h3>
        <ul class="not_img">
            <li class="first">
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_54">
                        </i>
                        <p>악성코드 탐지 및 치료</p>
                    </dt>
                    <dd>
                        <p>
                            바이러스, 스파이웨어, 애드웨어, 루트킷, 트로이목마 등의
                            악성코드 파일 간단하게 검사 및 치료
                        </p>
                        <p>
                            악성코드 침입 실시간 탐지 및 방어
                        </p>
                        <p>
                            웹 서핑이나 인증되지 않은 프로그램 설치 중 악성코드 감염 시,
                            해당 악성코드의 실행을 중지 후 알림 제공
                        </p>
                        <p>
                            가상 영역에서 미리 파일을 실행하여 위험 요소를 사전 탐지하는
                            기술인 B-HAVE기술과 우수한 행위 기반  탐지기술을 바탕으로
                            사전 방역기능을 제공
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_13">
                        </i>
                        <p>실시간 감시</p>
                    </dt>
                    <dd>
                        <p>
                            24시간 악성코드 실시간 탐지 및 방어
                        </p>
                        <p>
                            인증되지 않은 프로그램 실행시 즉시 차단
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_11">
                        </i>
                        <p>네트워크 보호</p>
                    </dt>
                    <dd>
                        <p>
                            네트워크 트래픽 감시를 통해 사용자의 개인 정보 유출 피해 및
                            해킹 피해를 예방
                        </p>
                        <p>
                            비정상적인 트래픽 유입을 차단하여 시스템 자원을 효율적으로
                            사용 가능
                        </p>
                        <p>
                            프로그램별,  아이피/포트 별 규칙 설정 가능
                        </p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_58">
                        </i>
                        <p>매체제어</p>
                    </dt>
                    <dd>
                        <p>
                            USB 연결 및 USB를 통한 파일 복사, 이동, 생성 등 모든 관련
                            동작이나 특정 동작 지정 차단
                        </p>
                        <p>
                            차단 장치 및 차단 동작 상세 설정 가능
                            USB차단 예외 설정 가능
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_47">
                        </i>
                        <p>랜섬웨어 차단</p>
                    </dt>
                    <dd>
                        <p>
                            랜섬웨어 감염으로 인한 사용자 파일 암호화 사전 차단
                        </p>
                        <p>
                            감염 의심 파일을 수집하여 랜섬웨어 탐지 DB 강화
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_24">
                        </i>
                        <p>PC관리</p>
                    </dt>
                    <dd>
                        <p>
                            업데이트, 악성코드 검사, 시스템/사용기록 정리 등의 작업을
                            한번에 실행하는 원클릭 기능 제공
                        </p>
                        <p>
                            사용하지 않거나 연결된 파일이 없는 레지스트리 정리 기능 제공
                        </p>
                        <p>
                            윈도우 임시 파일, 인터넷 임시파일, 쿠키 파일 등 정리 기능 제공
                        </p>
                        <p>
                            삭제한 파일의 복구가 불가능한 파일 완전 삭제 기능 제공
                        </p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_09">
                        </i>
                        <p>다양한 부가기능</p>
                    </dt>
                    <dd>
                        <p>
                            PC최적화 및 관리
                        </p>
                        <p>
                            MBR 보호기능 추가
                        </p>
                        <p>
                            알약 보안통계
                        </p>
                        <p>
                            호스트파일 보호
                        </p>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</section>
<section id="phasein" class="alyac_company_phasein">
    <div class="container">
        <h2 class="tit_1 green">도입효과</h2>
        <h3 class="tit_1">강력한 기업 보안솔루션, 알약 기업용</h3>
        <p><img src="/images/alyac_company_diagram.png" alt="강력한 악성코드 탐지(국제 인증을 통해 검증된 트리플 엔진 구조의 높은 탐지력/악성코드의 침입 실시간 탐지 및 방어), 알약의 빈틈없는 사전 방역(침투경로 사전차단 매체제어기능/파일 암호화 사전 차단 랜섬웨어 차단기능/알려지지 않은 악성코드 탐지 휴리스틱 검사/스마트DB 기능을 통한 엔진 경량화 및 검사속도 성능 최적화 기능 적용), 효율적인 통합 관리(ASM과의 연동을 통해 악성코드 방역 및 치료, 보안 업데이트와 패치, 보안정책 적용 가능)"/></p>
    </div>
</section>
<section id="specs">
    <div class="container">
        <h2 class="tit_1">사용환경</h2>
        <h3 class="tit_1">알약 기업용 Specs</h3>
        <ul class="tbl_ul not_img">
            <li class="col-md-6">
                <div class="tbl_tit">
                    <strong>CPU</strong>
                </div>
                <div class="tbl_txt">
                    <p>최소사양 : 500MHz 이상</p>
                    <p>권장사양 : 2GHz 이상</p>
                </div>
            </li>
            <li class="col-md-6">
                <div class="tbl_tit">
                    <strong>RAM</strong>
                </div>
                <div class="tbl_txt last">
                    <p>최소사양 : 512MB 이상</p>
                    <p>권장사양 : 1GB 이상</p>
                </div>
            </li>
            <li class="col-md-6">
                <div class="tbl_tit">
                    <strong>HDD</strong>
                </div>
                <div class="tbl_txt">
                    <p>최소사양 : 800MB 이상의 여유공간</p>
                    <p>권장사양 : 1GB 이상의 여유공간</p>
                </div>
            </li>
            <li class="col-md-6">
                <div class="tbl_tit">
                    <strong>OS</strong>
                </div>
                <div class="tbl_txt">
                    <p>Microsoft Windows 2000/XP/Vista/7/8/10 (32bit & 64bit)</p>
                    <p>※ 소포스 엔진은 32비트 환경에서 동작합니다.</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="container asm_prd" id="rco_prd">
    <h2 class="tit_2">알약 기업용과 함께하면 좋은 보안제품</h2>
    <div>
        <a href="/product/exploitshield_enterprise" class="col-md-4 prd_4">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 익스플로잇쉴드 기업용</strong>
            <p class="ellipsis_2">취약점을 통한 악성코드 공격을 실시간으로 차단하여, 더욱 안전한 윈도우 환경을 구축해 드립니다.</p>
        </a>
        <a href="/product/asm" class="col-md-4 prd_5">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">ASM</strong>
            <p class="ellipsis_2">알약 제품군이 설치된 PC에 대한 통합 보안 관리 및 자산 관리, 원활한 보안 정책 적용을 지원합니다.</p>
        </a>
        <a href="/product/pms" class="col-md-4 prd_9">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 패치관리(PMS)</strong>
            <p class="ellipsis_2">기업 내 PC의 패치 현황을 실시간으로 확인하고, 신속하게 패치 파일을 배포하여 관리할 수 있습니다.</p>
        </a>
        <a href="/product/alyac_sever" class="col-md-4 prd_1">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 서버용</strong>
            <p class="ellipsis_2">다양한 통합 보안 기능을 통해 기업의 정보자산을 보호하고, 효율적인 업무 환경을 보장합니다.</p>
        </a>
        <a href="/product/alyac_core" class="col-md-4 prd_1">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 코어엔진</strong>
            <p class="ellipsis_2">통합 백신 알약의 핵심 기능을 이용하며, 기업의 여러 서비스와 편리하게 연동할 수 있도록 지원합니다.</p>
        </a>
        <a href="/product/securedisk" class="col-md-4 prd_3">
            <span>데이터 보안</span>
            <strong class="ellipsis_1">시큐어디스크</strong>
            <p class="ellipsis_2">문서중앙화를 통해 내부 자료의 유출을 방지하고, 기업의 자산을 보호하는 차세대 문서 보안 솔루션입니다.</p>
        </a>
    </div>
</section>

<section class="container">
    <dl class="fix_prd">
        <dt><p>알약 기업용</p></dt>
        <dd><a href="/buy/estimate">구매문의</a></dd>
        <dd><a href="http://cdn1.estsecurity.com/setup/ALYac/ALYac30_x86.exe" target="_blank">32bit 다운로드</a></dd>
        <dd><a href="http://cdn1.estsecurity.com/setup/ALYac/ALYac30_x64.exe" target="_blank">64bit 다운로드</a></dd>
    </dl>
</section>
<% include ../include/footer.ejs %>
