<% include ../include/header.ejs %>

<section class="bg_sub_1 prd_alyac_and_tv">
    <div class="bn_tit">
        <h2><img src="/images/tit_alyac_and_tv.png" alt="알약 for Android TV 1.0" /></h2>
        <strong class="white">안드로이드 TV 보안 업그레이드</strong>
        <p class="white">하나의 앱으로 안드로이드 TV를 더욱 편리하고 안전하게 지키세요.</p>
        <div class="btn_wrap"><a href="https://play.google.com/store/apps/details?id=com.estsoft.alyac" target="_blank"><img src="/images/btn_google_play.jpg" alt="Google play 가기" /></a></div>
    </div>
</section>
<section class="tab_nav">
    <div class="container">
        <strong class="green">알약 for Android TV</strong>
        <ul class="nav nav_3">
            <li><a href="#overview" class="page_scroll">제품개요</a></li>
            <li><a href="#main_function" class="page_scroll">주요기능</a></li>
            <li><a href="#specs" class="page_scroll">사용환경</a></li>
        </ul>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/product/alyac">보안제품</a><i>&#62;</i></li>
        <li><a href="/product/alyac_android">안드로이드 보안</a><i>&#62;</i></li>
        <li>알약 for Android TV</li>
    </ul>
</section>

<section class="container" id="overview">
    <h2 class="tit_1">제품 개요</h2>
    <h3 class="tit_1">안드로이드 TV 보안 업그레이드</h3>
    <img src="/images/prd_overview_alyac_and_tv.jpg" alt="알약 for Android TV : 강력한 보안기능, 편리한 관리 기능" />
    <ul class="first">
        <li class="col-md-3">
            <dl>
                <dt><span>01</span> 직관적이고 편리한 UI</dt>
                <dd><p>안드로이드 TV 환경에 적합한 직관적이고 편리한 UI를 제공함으로써 사용자 편의성 제고</p></dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>02</span> Android TV에 최적화된 백신</dt>
                <dd><p>알약 for Android TV는 알약의 기술력을 바탕으로 제작된 세계 최초 Android TV전용 백신</p></dd>
            </dl>
        </li>
    </ul>
</section>

<section id="products_ui">
    <div class="container">
        <h2>제품 UI</h2>
        <div class="owl-carousel" data-plugin-options='{"singleItem": false, "autoPlay": false}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
            <div>
						<span class="img_wrap">
							<img class="img-responsive center-block" src="/images/andtv_ui_01.png" alt="검사" />
						</span>
                <strong>검사</strong>
            </div>
            <div>
						<span class="img_wrap">
							<img class="img-responsive center-block" src="/images/andtv_ui_02.png" alt="검사 중" />
						</span>
                <strong>검사 중</strong>
            </div>
            <div>
						<span class="img_wrap">
							<img class="img-responsive center-block" src="/images/andtv_ui_03.png" alt="App관리" />
						</span>
                <strong>App관리</strong>
            </div>
        </div>
    </div>
</section>

<section id="main_function">
    <div class="container">
        <h2 class="tit_1">주요기능</h2>
        <h3 class="tit_1">안드로이드 TV를 안전하고 쾌적하게</h3>
        <img src="/images/bg_function_alyac_and_tv.jpg" alt="바이러스 위협으로부터 언제나 안전하게 악성 파일 및 패키지 파일 검사, 불필요한 메모리 및 APP을 정리하여 쾌적한 환경 제공">
        <ul class="asm_function">
            <li class="first">
                <dl class="col-md-4">
                    <dt><i class="icon_50"></i>바이러스 위협으로부터 안전하게</dt>
                    <dd>
                        <p>안드로이드 TV의 지속적인 신규 악성코드 등장</p>
                        <p>안드로이드 TV에 최적화된 알약의 ‘검사’기능을 통하여 새로운 악성코드에 대해 신속 대응 및 정밀검사, 치료를 통해 알약 안드로이드 TV 보호 가능</p>
                        <p>알약에서 제공하는 앱 안전등급을 제공함으로, 사용자의 앱 판단에 도움</p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt><i class="icon_48"></i>버벅이는 안드로이드 TV를 더욱 쾌적하게</dt>
                    <dd><p>알약 for Android TV는 알약의 기술력을 바탕으로 제작된 세계 최초 Android TV전용 백신</p></dd>
                </dl>
            </li>
        </ul>
    </div>
</section>

<section id="specs">
    <div class="container">
        <h2 class="tit_1">사용환경</h2>
        <h3 class="tit_1">알약 for Android TV Specs</h3>
        <ul class="tbl_ul not_img">
            <li class="col-md-12">
                <div class="tbl_tit">
                    <strong>OS</strong>
                </div>
                <div class="tbl_txt">
                    <p>Android OS : 5.0 이상</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="container asm_prd" id="rco_prd">
    <h2 class="tit_2">알약 for Android TV와 함께하면 좋은 보안제품</h2>
    <div>
        <a href="/product/alyac_android" class="col-md-4 prd_10">
            <span>안드로이드 보안</span>
            <strong class="ellipsis_1">알약 안드로이드</strong>
            <p class="ellipsis_2">클라우드 검사 기능을 통해 최신 · 변종 모바일 악성코드를 실시간으로 탐지하고 치료할 수 있습니다.</p>
        </a>
        <a href="/product/alyac" class="col-md-4 prd_1">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 공개용</strong>
            <p class="ellipsis_2">바이러스와 악성코드를 검사 · 치료하며, 실시간 감시를 통해 시스템을 안전하게 보호하는 통합 백신입니다.</p>
        </a>
    </div>
</section>

<section class="container">
    <dl class="fix_prd">
        <dt><p>알약<br>for Android TV</p></dt>
        <dd><a href="https://play.google.com/store/apps/details?id=com.estsoft.alyac" target="_blank">다운로드</a></dd>
    </dl>
</section>
<% include ../include/footer.ejs %>
