<% include ../include/header.ejs %>

<section class="bg_sub_1 prd_alyac_and">
    <div class="bn_tit">
        <h2><img src="/images/tit_alyac_and.png" alt="알약 안드로이드 1.8" /></h2>
        <strong class="white">스마트폰 보안 업그레이드</strong>
        <p class="white">하나의 앱으로 스마트폰을 더욱 편리하고 안전하게 지키세요.</p>
        <div class="btn_wrap"><a href="https://play.google.com/store/apps/details?id=com.estsoft.alyac&referrer=utm_source%3Dalyacapp_download%26utm_medium%3Dalyacweb" target="_blank"><img src="/images/btn_google_play.jpg" alt="Google play 가기" /></a></div>
    </div>
</section>
<section class="tab_nav">
    <div class="container">
        <strong class="green">알약 안드로이드</strong>
        <ul class="nav">
            <li><a href="#overview" class="page_scroll">제품개요</a></li>
            <li><a href="#main_function" class="page_scroll">주요기능</a></li>
            <li><a href="#review" class="page_scroll">사용자 리뷰</a></li>
            <li><a href="#specs" class="page_scroll">사용환경</a></li>
        </ul>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/product/alyac">보안제품</a><i>&#62;</i></li>
        <li><a href="/product/alyac_android">안드로이드 보안</a><i>&#62;</i></li>
        <li>알약 안드로이드</li>
    </ul>
</section>

<section class="container" id="overview">
    <h2 class="tit_1">제품 개요</h2>
    <h3 class="tit_1">스마트폰 보안 업그레이드,<br />알약 안드로이드</h3>
    <img src="/images/prd_overview_alyac_and.jpg" alt="알약 안드로이드 : 바이러스 위협으로부터 언제나 안전하게!, 안전한 Wi-Fi 사용은 알약 보안 등급으로!, 앱 설치 관리도 스마트하고 안전하게, 메모리 최적화로 폰 속도를 빠르게!, 클라우드 검사로 강력한 실시간 탐지, 국내 최대 스미싱DB로 스미싱 위협 차단!, 불필요한 파일 정리로 폰 용량 UP, 배터리 관리 기능으로 빨리 충전하고 오래 쓰자!" />
    <ul class="first">
        <li class="col-md-3">
            <dl>
                <dt><span>01</span> 주요 통신사 선탑재 및 국가 기관과의 적극 제휴</dt>
                <dd><p>알약 안드로이드는 주요 통신사에 선탑재되는 등 검증된 기술력 보유<br />또 국가기관의 긴급 보안이슈를 알약 안드로이드에서 바로 제공하여 사용자가 안전한 모바일 환경을 누리도록 함</p></dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>02</span> 국내 최대 스미싱 탐지 DB 보유</dt>
                <dd><p>알약 안드로이드는 국내 최대 규모의 스미싱 탐지 DB를 보유하고 있으며, 이를 통하여 사용자 보호</p></dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>03</span> 국내 최초 클라우드 검사 기능 도입</dt>
                <dd><p>신종 위협에 발 빠르게 대응할 수 있는 검사기능을 국내 최초로 도입, 앞서나가는 탐지력 보유</p></dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>04</span> 위젯과 빠른 실행바를 통한 기능 효율 강화</dt>
                <dd><p>위젯과 빠른 실행바를 통한 알약 안드로이드의 다양한 기능을 효율적으로 사용 가능</p></dd>
            </dl>
        </li>
    </ul>
    <ul>
        <li class="col-md-3">
            <dl>
                <dt><span>05</span> 국문/영문/일문 지원으로 글로벌 시장 적극 대응</dt>
                <dd><p>알약 안드로이드는 국문/영문/일문으로 제공되어, 글로벌 사용자들도 쉽게 사용 가능</p></dd>
            </dl>
        </li>
    </ul>
</section>

<section id="products_ui">
    <div class="container">
        <h2>제품 UI</h2>
        <div class="owl-carousel and_ui" data-plugin-options='{"singleItem": false, "autoPlay": false}'>
            <div>
						<span class="img_wrap">
							<img class="img-responsive center-block" src="/images/and_ui_01.png" alt="검사" />
						</span>
                <strong>검사</strong>
            </div>
            <div>
						<span class="img_wrap">
							<img class="img-responsive center-block" src="/images/and_ui_02.png" alt="스미싱 감시" />
						</span>
                <strong>스미싱 감시</strong>
            </div>
            <div>
						<span class="img_wrap">
							<img class="img-responsive center-block" src="/images/and_ui_03.png" alt="청소" />
						</span>
                <strong>청소</strong>
            </div>
            <div>
						<span class="img_wrap">
							<img class="img-responsive center-block" src="/images/and_ui_04.png" alt="청소 2" />
						</span>
                <strong>청소 2</strong>
            </div>
            <div>
						<span class="img_wrap">
							<img class="img-responsive center-block" src="/images/and_ui_05.png" alt="배터리 관리" />
						</span>
                <strong>배터리 관리</strong>
            </div>
            <div>
						<span class="img_wrap">
							<img class="img-responsive center-block" src="/images/and_ui_06.png" alt="메모리 최적화" />
						</span>
                <strong>메모리 최적화 </strong>
            </div>
            <div>
						<span class="img_wrap">
							<img class="img-responsive center-block" src="/images/and_ui_07.png" alt="빠른 실행바" >
						</span>
                <strong>빠른 실행바</strong>
            </div>
            <div>
						<span class="img_wrap">
							<img class="img-responsive center-block" src="/images/and_ui_08.png" alt="위젯" >
						</span>
                <strong>위젯</strong>
            </div>
        </div>
    </div>
</section>

<section id="main_function">
    <div class="container">
        <h2 class="tit_1">주요기능</h2>
        <h3 class="tit_1">안드로이드를 더욱 안전하고 쾌적하게</h3>
        <img src="/images/bg_function_alyac_and.jpg" alt="바이러스 위협으로부터 언제나 안전하게 악성 파일 및 패키지 파일 검사, 국내 최초 클라우드 검사기능 도입으로 앞서나가는 탐지력">
        <ul class="asm_function">
            <li class="first">
                <dl class="col-md-4">
                    <dt><i class="icon_50"></i><p>바이러스 위협으로부터 안전하게</p></dt>
                    <dd>
                        <p>스마트폰의 대중화에 따라, 모바일 악성코드와 바이러스가 폭발적으로 등장하고, 지속적으로 새로운 악성코드가 등장</p>
                        <p>알약의 클라우드 검사 기능을 통해 실시간으로 클라우드 서버에 새로운 악성코드 조회</p>
                        <p>새로운 악성코드에 대한 신속 대응 및 정밀검사, 치료 가능</p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt><i class="icon_17"></i><p>스미싱 위협을 사전에 차단하는 스미싱 감시</p></dt>
                    <dd>
                        <p>‘결혼’, ’입학’, ’택배’ 등 ‘생활 밀접형’ 키워드가 포함된 지능적인 스미싱 메세지들은 사용자가 별다른 의심 없이 본문 내 URL 접속을 유도하여, 개인정보 탈취 및 소액결제 등 치명적인 피해 유발</p>
                        <p>알약이 보유한 국내 최대 스미싱 탐지 DB 및 스미싱 메세지 분석 기능을 통한 효과적인 스미싱 차단 및 관리 가능</p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt><i class="icon_18"></i><p>불필요한 파일 삭제로 저장 공간 확보</p></dt>
                    <dd>
                        <p>앱 사용 과정에서 임시파일, 캐시 등 불필요한 찌꺼기 파일들이 스마트폰에 잔뜩 쌓여 저장공간 부족 유발</p>
                        <p>직접 임시파일이나 캐시가 있는 폴더를 찾아 주기적인 삭제 필요</p>
                        <p>‘파일 청소’기능은 이러한 임시파일, 캐시 및 앱 삭제 후에도 불필요하게 남아있는 잔여 파일 삭제</p>
                        <p>저장공간 확보 및 스마트폰 속도 향상 가능, 인터넷 사용기록 삭제를 통한 개인정보 보호 가능</p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl class="col-md-4">
                    <dt><i class="icon_44"></i><p>배터리를 관리하여 폰 전력을 효율적으로</p></dt>
                    <dd>
                        <p>충전과 방전의 지속으로 인한 배터리 수명 감소</p>
                        <p>많은 앱 설치 및 사용하는 앱, 스마트폰 백그라운드에서 실행중인 앱 증가에 따라, 사용자가 사용하고 있지 않을 때도 스마트폰이 계속 작동되고 있어 배터리 소모 가속화</p>
                        <p>‘배터리 관리’기능은 스마트폰을 사용하고 있지 않을 때, 취침중일 때 등 다양한 상황에 따라 효율적으로 배터리를 관리하여 오랜 시간 사용 가능</p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt><i class="icon_29"></i><p>버벅이는 폰을 더욱 쾌적하게</p></dt>
                    <dd>
                        <p>스마트폰 역량에 비해 대량의 앱을 설치하거나 여러 앱을 동시에 실행하여 스마트폰 메모리와 CPU를 과도히 사용하는 경우, 스마트폰의 느려짐 현상 발생</p>
                        <p>사용자 모르게 백그라운드에서 계속 동작하고 있는 앱도 많아, 메모리와 CPU의 여유공간은 예상보다 더욱 부족</p>
                        <p>‘메모리 최적화’ 기능을 통하여 사용하지 않지만 스마트폰 백그라운드에서 계속 작동되고 있는 앱을 찾아 정리 가능</p>
                        <p>앱별 메모리 및 CPU 사용 현황 확인 가능</p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt><i class="icon_84"></i><p>카카오톡 속 불필요한 파일 정리하고, 폰 용량 확보</p></dt>
                    <dd>
                        <p>카카오톡 속 필요 없는 사진/동영상 캐시파일을 정리하여 폰 용량 향상 가능</p>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</section>

<section id="review">
    <div class="container">
        <h2 class="tit_1">사용자리뷰</h2>
        <h3 class="tit_1">다른 사용자 분들의 의견은 어떤가요?</h3>
        <div class="owl-carousel" data-plugin-options='{"singleItem": true, "autoPlay": false, "rewindNav": true}'>
            <div class="review_box">
                <div class="thumb"><img src="/images/thumb_01.png" alt="thumb_01"></div>
                <dl>
                    <dt>안지인</dt>
                    <dd class="date"> 2016년 12월 22일</dd>
                    <dd class="point"><i></i><i></i><i></i><i></i><i></i><span>10.0</span></dd>
                    <dd class="title">오 알약이 다 잡아줬네요</dd>
                    <dd>오 알약이 잡아줬네요 다른제품에선 바이러스가 없다고 했는데 알약만 바이러스가 있다고 나오네요 덕분에 바이러스를 잡았습니다. 쓰면 쓸 수록 맘에드는 알약이에요 ㅋㅋ</dd>
                </dl>
            </div>
            <div class="review_box">
                <div class="thumb"><img src="/images/thumb_02.png" alt="thumb_02"></div>
                <dl>
                    <dt>OKSEUNG LEE</dt>
                    <dd class="date">2016년 12월 7일</dd>
                    <dd class="point"><i></i><i></i><i></i><i></i><i></i><span>10.0</span></dd>
                    <dd class="title">카카오톡 파일정리 기능 진짜 좋아요... ㅠㅠ 감사합니다! </dd>
                    <dd>카카오톡 파일정리 기능 생겨서 써봤는데용...사진 13GB, 동영상 3GB 총 16GB…(ㄷㄷ)이더라구요...긴가 민가로 정리 해봤는데...진짜로 용량이 늘어났어요!!! ㅠㅠㅠ 완전 감사합니당! 개발해주셔서 감사합니다…!</dd>
                </dl>
            </div>
            <div class="review_box">
                <div class="thumb"><img src="/images/thumb_04.png" alt="thumb_03"></div>
                <dl>
                    <dt>임효진</dt>
                    <dd class="date">2016년 12월 22일</dd>
                    <dd class="point"><i></i><i></i><i></i><i></i><i></i><span>10.0</span></dd>
                    <dd class="title">청소기능 완전 좋아요.</dd>
                    <dd>필요없는 앱 지우고나면 폰에 이것저것 남아서 용량잡아먹는거 미리 알려주고 삭제하는 기능 있어서 너무 좋아요ㅠㅜ 용량때문에 맨날 스트레스였는데 미리미리 삭제해주는거 최고^^</dd>
                </dl>
            </div>
            <div class="review_box">
                <div class="thumb"><img src="/images/thumb_03.png" alt="thumb_04"></div>
                <dl>
                    <dt>Seungkwon kwak</dt>
                    <dd class="date">2016년 12월 22일</dd>
                    <dd class="point"><i></i><i></i><i></i><i></i><i></i><span>10.0</span></dd>
                    <dd class="title">별 5개가 아깝지 않다!!</dd>
                    <dd>폰에 악성코드를 3개나 있었음. 알약 덕분에 치료!!! 청소, 메모리기능으로 폰을 쾌적하게 잘 쓰고 있습니다~~감사합니다~^^</dd>
                </dl>
            </div>
        </div>
    </div>
</section>

<section id="specs">
    <div class="container">
        <h2 class="tit_1">사용환경</h2>
        <h3 class="tit_1">알약 안드로이드 Specs</h3>
        <ul class="tbl_ul not_img">
            <li class="col-md-12">
                <div class="tbl_tit"><strong>OS</strong></div>
                <div class="tbl_txt"><p>Android OS : 2.3 이상</p></div>
            </li>
        </ul>
    </div>
</section>

<section class="container asm_prd" id="rco_prd">
    <h2 class="tit_2">알약 안드로이드와 함께하면 좋은 보안제품</h2>
    <div>
        <a href="/product/alyac" class="col-md-4 prd_1">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 공개용</strong>
            <p class="ellipsis_2">바이러스와 악성코드를 검사 · 치료하며, 실시간 감시를 통해 시스템을 안전하게 보호하는 통합 백신입니다.</p>
        </a>
        <a href="/product/exploitshield" class="col-md-4 prd_4">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 익스플로잇쉴드 공개용</strong>
            <p class="ellipsis_2">취약점을 통한 악성코드 공격을 실시간으로 차단하여, 더욱 안전한 윈도우 환경을 제공해 드립니다.</p>
        </a>
    </div>
</section>

<section class="container">
    <dl class="fix_prd">
        <dt><p>알약 안드로이드</p></dt>
        <dd><a href="https://play.google.com/store/apps/details?id=com.estsoft.alyac&referrer=utm_source%3Dalyacapp_download%26utm_medium%3Dalyacweb" target="_blank">다운로드</a></dd>
    </dl>
</section>
<% include ../include/footer.ejs %>
