<% include ../include/header.ejs %>

<section class="bg_sub_1 alyac_co_download">
    <div class="bn_tit">
        <h2><img src="/images/tit_alyac_co.png" alt="알약 코어엔진 1.0"/></h2>
        <strong>강력한 악성코드 대응 솔루션, 손쉽게 적용하는 방법</strong>
        <p>
            알약 코어 엔진은 악성코드를 빠르고 정확하게 탐지하여 안전하게 치료하는 알약의 핵심 기능을 이용하며,<br>
            기업의 여러 서비스와 쉽고 편리하게 연동이 가능하도록 개발된 솔루션입니다.
        </p>
        <div class="btn_wrap">
            <a href="/buy/estimate" class="btn_a btn_navy">구매문의</a>
        </div>
    </div>
</section>
<section class="tab_nav">
    <div class="container">
        <strong class="green">알약 코어엔진</strong>
        <ul class="nav">
            <li><a href="#overview" class="page_scroll">제품개요</a></li>
            <li><a href="#main_function" class="page_scroll">주요기능</a></li>
            <li><a href="#phasein" class="page_scroll">도입효과</a></li>
            <li><a href="#specs" class="page_scroll">사용환경</a></li>
        </ul>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/product/alyac">보안제품</a><i>&#62;</i></li>
        <li><a href="/product/alyac">엔드포인트 보안</a><i>&#62;</i></li>
        <li>알약 코어엔진</li>
    </ul>
</section>

<section class="container" id="overview">
    <h2 class="tit_1">제품 개요</h2>
    <h3 class="tit_1">강력한 악성코드 대응 솔루션, 손쉽게 적용하는 방법,<br>알약 코어엔진</h3>
    <img src="/images/alyac_co_overview.png" alt="알약 코어엔진은 고객사 시스템과 직접 연동하여 시스템으로 이관되는 다양한 종류의 파일에 대해 진단/치료 하며, 다양한 OS 환경에서도 구동이 가능합니다.알약의 강력한 탐지율과 리소스 사용을 최소화한 엔진 설계로 저사양 환경에서도 가볍고 강력한 성능을 제공합니다."/>
    <ul class="first">
        <li class="col-md-3">
            <dl>
                <dt><span>01</span> 알약 엔진 기반 검증된 탐지력</dt>
                <dd>
                    <p>
                        듀얼 엔진 기반의 강력한 악성코드 스캐너 제공
                    </p>
                    <p>
                        성능 조정 옵션을 통해 서버 사양에 맞춰 최적화된
                        스캐닝 속도 설정 가능
                    </p>
                </dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>02</span> 시스템 리소스 최소화 </dt>
                <dd>
                    <p>
                        엔진 경량화를 통해 타 제품 대비 낮은 리소스 점유
                    </p>
                    <p>
                        저사양 서버 환경에서도 시스템 부하 없이 사용 가능
                    </p>
                    <p>
                        검사 성능 조정을 통해 리눅스 및 유닉스 시스템의
                        리소스 최적으로 활용
                    </p>
                </dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>03</span> 오탐지 위험 최소화</dt>
                <dd>
                    <p>
                        OS 및 주요 보안 프로그램, 범용 프로그램의
                        오진여부 확인 후 업데이트 진행
                    </p>
                </dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>04</span> 손쉬운 연동 작업</dt>
                <dd>
                    <p>
                        연동에 필요한 작업과 솔루션 적용이 간편
                    </p>
                    <p>
                        RPM(리눅스), sh(유닉스) 형태의 셋업
                        제공으로 간편하고 쉬운 설치 가능
                    </p>
                </dd>
            </dl>
        </li>
    </ul>
    <ul>
        <li class="col-md-3">
            <dl>
                <dt><span>05</span> 멀티 플랫폼 지원</dt>
                <dd>
                    <p>
                        윈도우 환경 뿐만 아니라 다수의 리눅스/유닉스
                        환경 지원
                    </p>
                    <p>
                        고객사 별 다양한 운영체제 환경에 대해 대응
                    </p>
                </dd>
            </dl>
        </li>
    </ul>
</section>

<section class="bg_gray" id="main_function">
    <div class="container">
        <h2 class="tit_1">주요기능</h2>
        <h3 class="tit_1">가볍고 강력한 성능, 기업 환경에 완벽 대응</h3>
        <ul class="not_img">
            <li class="first">
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_54">
                        </i>
                        <p>악성코드 탐지 및 치료</p>
                    </dt>
                    <dd>
                        <p>
                            바이러스, 웜, 등 국내외 악성코드 탐지 및 치료
                        </p>
                        <p>
                            신종 위협에 대한 빠른 대응
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_20">
                        </i>
                        <p>통합엔진</p>
                    </dt>
                    <dd>
                        <p>
                            듀얼엔진 적용을 통해 강력한 탐지율 제공
                        </p>
                        <p>
                            악성코드 및 여러 보안위협에 효과적으로 대비
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_16">
                        </i>
                        <p>업데이트</p>
                    </dt>
                    <dd>
                        <p>
                            주기적인 DB 업데이트를 통해 최신 악성코드 위협 대비
                        </p>
                        <p>
                            OS 및 주요 보안 프로그램, 범용프로그램의 오진여부 확인하는 오탐검증시스템 도입
                        </p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_40">
                        </i>
                        <p>개발 및 연동</p>
                    </dt>
                    <dd>
                        <p>
                            C++, JAVA API는 각 기업 솔루션에 쉽게 연동해 동작
                        </p>
                        <p>
                            기업 시스템과 연동하여 악성코드 위협에 대해 진단, 치료 가능
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_39">
                        </i>
                        <p>폐쇄망 환경 지원</p>
                    </dt>
                    <dd>
                        <p>
                            별도의 업데이트 툴을 제공하여 코어엔진 및 DB파일
                            업데이트 지원
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_56">
                        </i>
                        <p>멀티 플랫폼</p>
                    </dt>
                    <dd>
                        <p>
                            윈도우를 비롯한 리눅스, 유닉스 등 다양한 운영체제 지원
                        </p>
                        <p>
                            기업에서 필요로 하는 OS 환경에 대해 별도의 추가 작업 없이
                            환경 구축
                        </p>
                        <p>
                            고객사별 시스템 및 개발 환경에 대해 유연하게 대응
                        </p>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</section>

<section id="phasein" class="alyac_co_phasein">
    <div class="container">
        <h2 class="tit_1 green">도입효과</h2>
        <h3 class="tit_1">다양한 환경에서도 더욱 안전하게</h3>
        <p><img src="/images/alyac_co_diagram.png" alt="JSP기반 웹서버 <- 알약 코어엔진 -> 기록물 관리서버/PHP기반 웹서버"/></p>
    </div>
</section>

<section id="specs">
    <div class="container">
        <h2 class="tit_1">사용환경</h2>
        <h3 class="tit_1">알약 코어엔진 Specs</h3>
        <ul class="tbl_ul not_img">
            <li class="col-md-6">
                <div class="tbl_tit">
                    <strong>CPU</strong>
                </div>
                <div class="tbl_txt">
                    <p>최소사양 : 500MHz 이상</p>
                    <p>권장사양 : 2GHz 이상</p>
                </div>
            </li>
            <li class="col-md-6">
                <div class="tbl_tit">
                    <strong>RAM</strong>
                </div>
                <div class="tbl_txt last">
                    <p>최소사양 : 512MB 이상</p>
                    <p>권장사양 : 1GB 이상</p>
                </div>
            </li>
            <li class="col-md-12">
                <div class="tbl_tit">
                    <strong>HDD</strong>
                </div>
                <div class="tbl_txt">
                    <p>최소사양 : 800MB 이상의 여유공간</p>
                    <p>권장사양 : 1GB 이상의 여유공간</p>
                </div>
            </li>
            <li class="col-md-12">
                <div class="tbl_tit">
                    <strong>OS</strong>
                </div>
                <div class="tbl_txt">
                    <p>Windows 사용환경</p>
                    <p>Microsoft Windows 2000/XP/Vista/7/8 (32bit/64bit)</p>
                    <p>Microsoft Windows Server 2000/2003/2008 (32bit/64bit)</p><br>

                    <p>Linux/Unix 사용환경</p>
                    <p>Redhat Enterprise Linux 4.x 이상(32bit/64bit)</p>
                    <p>CentOS 4.x 이상(32bit/64bit)</p>
                    <p>Solaris (SPARC), AIX (POWER), HP-UX (IA64)</p>
                    <p>Ubuntu 12 이상(32bit/64bit)</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="container asm_prd" id="rco_prd">
    <h2 class="tit_2">알약 코어엔진과 함께하면 좋은 보안제품</h2>
    <div>
        <a href="/product/alyac_enterprise" class="col-md-4 prd_1">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 기업용</strong>
            <p class="ellipsis_2">뛰어난 탐지율을 보장하는 트리플엔진을 탑재하여, 글로벌 위협으로부터 시스템을 빈틈없이 보호합니다.</p>
        </a>
        <a href="/product/exploitshield_enterprise" class="col-md-4 prd_4">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 익스플로잇쉴드 기업용</strong>
            <p class="ellipsis_2">취약점을 통한 악성코드 공격을 실시간으로 차단하여, 더욱 안전한 윈도우 환경을 구축해 드립니다.</p>
        </a>
        <a href="/product/asm" class="col-md-4 prd_5">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">ASM</strong>
            <p class="ellipsis_2">알약 제품군이 설치된 PC에 대한 통합 보안 관리 및 자산 관리, 원활한 보안 정책 적용을 지원합니다.</p>
        </a>
        <a href="/product/pms" class="col-md-4 prd_9">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 패치관리(PMS)</strong>
            <p class="ellipsis_2">기업 내 PC의 패치 현황을 실시간으로 확인하고, 신속하게 패치 파일을 배포하여 관리할 수 있습니다.</p>
        </a>
        <a href="/product/imas_enterprise" class="col-md-4 prd_2">
            <span>인텔리전스 보안</span>
            <strong class="ellipsis_1">IMAS 엔터프라이즈</strong>
            <p class="ellipsis_2">기업 환경에 최적화된 지능형 악성코드 분석 시스템으로, 파일 · URL에 대한 유의미한 정보를 제공합니다.</p>
        </a>
        <a href="/product/securedisk" class="col-md-4 prd_3">
            <span>데이터 보안</span>
            <strong class="ellipsis_1">시큐어디스크</strong>
            <p class="ellipsis_2">문서중앙화를 통해 내부 자료의 유출을 방지하고, 기업의 자산을 보호하는 차세대 문서 보안 솔루션입니다.</p>
        </a>
    </div>
</section>

<section class="container">
    <dl class="fix_prd">
        <dt><p>알약 코어엔진</p></dt>
        <dd><a href="/buy/estimate">구매문의</a></dd>
    </dl>
</section>
<% include ../include/footer.ejs %>
