<% include ../include/header.ejs %>

<section class="bg_sub_1 asm_download">
	<div class="bn_tit">
		<h2><img src="/images/tit_asm.png" alt="ASM4"/></h2>
		<strong>기업 통합 보안 관리의 중심</strong>
		<p>
			ASM(ALYac Security Manager)은 관리자가 기업 내 알약 제품군이 설치된 PC에 대한 통합적인 보안 <br>
			관리 및 자산관리, 보안 정책 적용을 수행하도록 하는 통합 중앙 관리 솔루션입니다.
		</p>
		<div class="btn_wrap">
			<a href="/buy/estimate" class="btn_a btn_navy">구매문의</a>
			<a href="https://play.google.com/store/apps/details?id=com.estsoft.android.asm" class="btn_a btn_white downloadNone" target="_blank">ASM Mobile 다운로드</a>
		</div>
	</div>
</section>
<section class="tab_nav">
	<div class="container">
		<strong>ASM</strong>
		<ul class="nav">
			<li><a href="#overview" class="page_scroll">제품개요</a></li>
			<li><a href="#main_function" class="page_scroll">주요기능</a></li>
			<li><a href="#phasein" class="page_scroll">도입효과</a></li>
			<li><a href="#specs" class="page_scroll">사용환경</a></li>
		</ul>
	</div>
</section>
<section class="container">
	<ul class="breadcrumb">
		<li><a href="/">Home</a><i>&#62;</i></li>
		<li><a href="/product/alyac">보안제품</a><i>&#62;</i></li>
		<li><a href="/product/alyac">엔드포인트 보안</a><i>&#62;</i></li>
		<li>ASM</li>
	</ul>
</section>

<section class="container" id="overview">
	<h2 class="tit_1">제품 개요</h2>
	<h3 class="tit_1">기업 통합 보안 관리의 중심,<br> ASM</h3>
	<img src="/images/asm_overview.png" alt="보안위협(악성코드 침입/보안 취약점/정보 유출/네트워크 전파)->ALYac Security Manager ASM(통합관리/중앙제어/신속제어)-> Endpoint 보안 안전(알약 백신관리/알약 패치관리/알약 내 PC지키미/기타 Endpoint제품)"/>
	<ul class="first">
		<li class="col-md-3">
			<dl>
				<dt><span>01</span> 효율적인 사내 보안 통합 관리</dt>
				<dd>
					<p>
						ESTsecurity의 다양한 엔드포인트 제품과 ASM의 연동을 통한 통합 관리 가능
					</p>
					<p>
						통합 관리 플랫폼(통합 콘솔) 사용으로 위협 발생 시 중앙에서 신속한 조치 및 대응 가능
					</p>
					<p>
						악성코드 방역및 치료, 보안 업데이트, 패치, 취약점 점검 및 조치 등 다양한 운영&관리 가능
					</p>
				</dd>
			</dl>
		</li>
		<li class="col-md-3">
			<dl>
				<dt><span>02</span> 보안 강화와 비용 절감을 한 번에</dt>
				<dd>
					<p>
						기업 상황에 맞는 엔드포인트 통합 보안 솔루션
						라인 구축 가능
					</p>
					<p>
						기업 보안 담당 관리자의 엔드포인트 보안 관리
						부담 최소화
					</p>
					<p>
						기업의 생산성과 업무 효율 증대
					</p>
				</dd>
			</dl>
		</li>
		<li class="col-md-3">
			<dl>
				<dt><span>03</span> 기업 정보 유출 사전 차단</dt>
				<dd>
					<p>
						사내 사용자 모니터링, 정책 적용, 인적 지원 가능
					</p>
					<p>
						매체 제어 정책을 통한 사내 각종 USB 기반 장치의 모니터링
					</p>
					<p>
						IT 자산관리 및 미 허가 소프트웨어 통제
					</p>
				</dd>
			</dl>
		</li>
		<li class="col-md-3">
			<dl>
				<dt><span>04</span> 뛰어난 사용성</dt>
				<dd>
					<p>
						조직도 상시 노출 등 직관적인 작업 및 정책 명령 프로세스 지원
					</p>
					<p>
						한눈에 들어오는 직관적이고 깔끔한 디자인
					</p>
					<p>
						추가 보안 제품 구축에 대한 확장성이 고려된 관리 콘솔 UI
					</p>
				</dd>
			</dl>
		</li>
	</ul>
</section>

<section id="products_ui">
	<div class="container">
		<h2>제품 UI</h2>
		<div class="owl-carousel" data-plugin-options='{"singleItem": false, "autoPlay": false}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
			<div>
				<span class="img_wrap">
					<img class="img-responsive center-block" src="/images/asm_ui_01.png" alt="대시보드">
				</span>
				<strong>대시보드</strong>
			</div>
			<div>
				<span class="img_wrap">
					<img class="img-responsive center-block" src="/images/asm_ui_02.png" alt="사용자">
				</span>
				<strong>사용자</strong>
			</div>
			<div>
				<span class="img_wrap">
					<img class="img-responsive center-block" src="/images/asm_ui_03.png" alt="작업">
				</span>
				<strong>작업</strong>
			</div>
			<div>
				<span class="img_wrap">
					<img class="img-responsive center-block" src="/images/asm_ui_05.png" alt="관리">
				</span>
				<strong>관리</strong>
			</div>
			<div>
				<span class="img_wrap">
					<img class="img-responsive center-block" src="/images/asm_ui_06.png" alt="보고서">
				</span>
				<strong>보고서</strong>
			</div>
			<div>
				<span class="img_wrap">
					<img class="img-responsive center-block" src="/images/asm_ui_07.png" alt="로그">
				</span>
				<strong>로그</strong>
			</div>
			<div>
				<span class="img_wrap">
					<img class="img-responsive center-block" src="/images/asm_ui_04.png" alt="정책">
				</span>
				<strong>정책</strong>
			</div>
		</div>
	</div>
</section>

<section class="container" id="main_function">
	<h2 class="tit_1">주요기능</h2>
	<h3 class="tit_1">기업 내 통합 보안 관리 체계 구축</h3>
	<img src="/images/asm_functin_bg.jpg" alt="ALYac Security Manager ASM -> 백신관리/PC 취약점 점검/패치 관리 <-> 악성코드 탐지 및 치료 결과/각종 SW 및 MS 보안 업데이트/사용자 PC 보안 수준 관리/자산 정보 확인/통계 및 보고서 관리"/>
	<ul>
		<li class="first">
			<dl class="col-md-4">
				<dt>
					<i class="icon_19">
					</i>
					<p>대시보드</p>
				</dt>
				<dd>
					<p>
						ASM의 서버 정보와 연동된 보안 제품의 상태를 이미지와 그래프로
						직관적으로 표시
					</p>
					<p>
						ASM의 서버 및 연동된 보안 제품들의 이슈를 즉각적으로 확인하고
						처리 가능
					</p>
					<p>
						일간, 주간, 월간의 통계를 제공하여 기간별로 확인 가능
					</p>
					<p>
						사용자들의 가시성을 고려한 최적화된 디자인
					</p>
				</dd>
			</dl>
			<dl class="col-md-4">
				<dt>
					<i class="icon_25">
					</i>
					<p>사용자 관리 및 조직도</p>
				</dt>
				<dd>
					<p>
						엔드포인트 보안 제품이 설치된 사용자의 정보 개별적으로 확인하고 작업 명령 가능
					</p>
					<p>
						사용자들을 기업 및 기관의 조직도에 맞게 배치하여 체계적 관리 가능
					</p>
				</dd>
			</dl>
			<dl class="col-md-4">
				<dt>
					<i class="icon_06">
					</i>
					<p>세분화된 정책 작성 및 맞춤 적용</p>
				</dt>
				<dd>
					<p>
						강화된 정책 관리 기능을 바탕으로 세분화된 정책 작성 가능
					</p>
					<p>
						관리자의 선택에 따라 그룹별/사용자별로 맞춤 적용하여 PC 보안
						환경을 효율적 관리
					</p>
				</dd>
			</dl>
		</li>
		<li>
			<dl class="col-md-4">
				<dt>
					<i class="icon_37">
					</i>
					<p>사전 방역 기능 제공</p>
				</dt>
				<dd>
					<p>
						시스템의 기본적인 보안 설정을 통해 사전에 위협 요소의 접근 방지
					</p>
					<p>
						긴급 악성코드 발생 시 사전에 빠른 대처 가능
					</p>
				</dd>
			</dl>
			<dl class="col-md-4">
				<dt>
					<i class="icon_04">
					</i>
					<p>고품질 보고서 제공</p>
				</dt>
				<dd>
					<p>
						사용자 현황, 악성코드, IT 자산, 패치 상태, 취약점 현황 등 사내 각
						종 보안정보 관련 보고서 제공
					</p>
					<p>
						상급자에게 즉시 보고가 가능한 형태의 보고서 제공
					</p>
				</dd>
			</dl>
			<dl class="col-md-4">
				<dt>
					<i class="icon_35">
					</i>
					<p>패치 관리</p>
				</dt>
				<dd>
					<p>
						취약점 공격 방지를 위해 패치 파일 배포하여 사용자 PC에 자동으로
						설치 가능
					</p>
					<p>
						Windows 업데이트, Microsoft Office, Adobe, 한글은 물론  20여 종의 일반 소프트웨어에 대한 최신 패치 파일 지원
					</p>
				</dd>
			</dl>
		</li>
		<li>
			<dl class="col-md-4">
				<dt>
					<i class="icon_03">
					</i>
					<p>취약점 관리</p>
				</dt>
				<dd>
					<p>
						다양한 취약점 점검 항목에 대한 결과를 점수화하여 관리 가능
					</p>
					<p>
						사용자 PC에 강제 조치를 내려 취약점 해결 가능
					</p>
				</dd>
			</dl>
			<dl class="col-md-4">
				<dt>
					<i class="icon_08">
					</i>
					<p>IT 자산 관리</p>
				</dt>
				<dd>
					<p>
						기업 내 하드웨어 및 소프트웨어 자산현황 모니터링 가능
					</p>
					<p>
						IT 자산에 대한 관리 및 각종 검색 가능
					</p>
				</dd>
			</dl>
			<dl class="col-md-4">
				<dt>
					<i class="icon_28">
					</i>
					<p>보안 알림</p>
				</dt>
				<dd>
					<p>
						보안 위험 발생 시, SMS와 메일을 통해 관리자에게 즉시 알림
					</p>
					<p>
						긴급 방역 기능을 통해 자동 조치
					</p>
				</dd>
			</dl>
		</li>
	</ul>
</section>

<section id="phasein" class="asm_phasein">
	<div class="container">
		<h2 class="tit_1">도입효과</h2>
		<h3 class="tit_1">통합중앙관리를 통한 기업보안의 완성</h3>
		<p><img src="/images/asm_diagram.png" alt="01 부서별, 사용자별 정책 적용 가능/02 언제,어디서나 가능한 모니터링/03 보안보고서 제공/04 손쉬운 자산관리"/></p>
	</div>
</section>

<section id="specs" class="asm_specs">
	<div class="container">
		<h2 class="tit_1">사용환경</h2>
		<h3 class="tit_1">ASM Specs</h3>
		<img src="/images/asm_specs.jpg" alt="asm_specs"/>
		<strong class="tit_1">ASM 관리 서버</strong>
		<ul class="tbl_ul">
			<li class="col-md-6">
				<div class="tbl_tit">
					<strong>CPU</strong>
				</div>
				<div class="tbl_txt">
					<p>최소사양 : Intel Dual Core 1GHz 이상</p>
					<p>권장사양 : Intel Dual Core 2GHz 이상</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="tbl_tit">
					<strong>RAM</strong>
				</div>
				<div class="tbl_txt last">
					<p>최소사양 : 4GB 이상</p>
					<p>권장사양 : 8GB 이상</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="tbl_tit">
					<strong>HDD</strong>
				</div>
				<div class="tbl_txt">
					<p>최소사양 : 100GB 이상의 여유공간</p>
					<p>권장사양 : 200GB 이상의 여유공간</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="tbl_tit">
					<strong>DBMS</strong>
				</div>
				<div class="tbl_txt last">
					<p>MariaDB(내장) : Windows XP SP3 이상</p>
					<p>기존 DB 설치 시 MSSQL 만 지원</p>
				</div>
			</li>
			<li class="col-md-12">
				<div class="tbl_tit">
					<strong>OS</strong>
				</div>
				<div class="tbl_txt last">
					<p>Windows Server 2003 SP2 이상 /  2008 / 2012 / 2016(R2포함)</p>
					<p>Microsoft Windows XP SP2/Vista/7/8/8.1/10 (모든 OS 64bit 지원)</p>
					<p>CentOS 6.X이상</p>
				</div>
			</li>
		</ul>
		<strong class="tit_1">ASM 관리 콘솔</strong>
		<ul class="tbl_ul">
			<li class="col-md-6">
				<div class="tbl_tit">
					<strong>CPU</strong>
				</div>
				<div class="tbl_txt">
					<p>최소사양 : Intel Dual Core 1GHz 이상</p>
					<p>권장사양 : Intel Dual Core 2GHz 이상</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="tbl_tit">
					<strong>RAM</strong>
				</div>
				<div class="tbl_txt last">
					<p>최소사양 : 1GB 이상</p>
					<p>권장사양 : 2GB 이상</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="tbl_tit">
					<strong>HDD</strong>
				</div>
				<div class="tbl_txt">
					<p>최소사양 : 1GB 이상의 여유공간</p>
					<p>권장사양 : 2GB 이상의 여유공간</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="tbl_tit">
					<strong>OS</strong>
				</div>
				<div class="tbl_txt last">
					<p>Windows Server 2008 SP2 / 2012 / 2016 (R2포함)</p>
					<p>Microsoft Windows Vista SP2/7/8/8.1/10 (모든 OS 64bit 지원) </p>
				</div>
			</li>
		</ul>
		<strong class="tit_1">ASM 에이전트</strong>
		<ul class="tbl_ul">
			<li class="col-md-6">
				<div class="tbl_tit">
					<strong>CPU</strong>
				</div>
				<div class="tbl_txt">
					<p>최소사양 : Intel Dual Core 1GHz 이상</p>
					<p>권장사양 : Intel Dual Core 2GHz 이상</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="tbl_tit">
					<strong>RAM</strong>
				</div>
				<div class="tbl_txt last">
					<p>최소사양 : 512MB 이상</p>
					<p>권장사양 : 1GB 이상</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="tbl_tit">
					<strong>HDD</strong>
				</div>
				<div class="tbl_txt">
					<p>최소사양 : 500MB 이상의 여유공간</p>
					<p>권장사양 : 1GB 이상의 여유공간</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="tbl_tit">
					<strong>OS</strong>
				</div>
				<div class="tbl_txt last">
					<p>Windows Server 2003 SP2 이상 / 2008 / 2012 / 2016 (R2포함)</p>
					<p>Microsoft Windows XP SP2/Vista/7/8/8.1/10 (모든 OS 64bit 지원)</p>
				</div>
			</li>
		</ul>
	</div>
</section>

<section class="container asm_prd" id="rco_prd">
	<h2 class="tit_2">ASM과 함께하면 좋은 보안제품</h2>
	<div>
		<a href="/product/alyac_enterprise" class="col-md-4 prd_1">
			<span>엔드포인트 보안</span>
			<strong class="ellipsis_1">알약 기업용</strong>
			<p class="ellipsis_2">뛰어난 탐지율을 보장하는 트리플엔진을 탑재하여, 글로벌 위협으로부터 시스템을 빈틈없이 보호합니다.</p>
		</a>
		<a href="/product/exploitshield_enterprise" class="col-md-4 prd_4">
			<span>엔드포인트 보안</span>
			<strong class="ellipsis_1">알약 익스플로잇쉴드 기업용</strong>
			<p class="ellipsis_2">취약점을 통한 악성코드 공격을 실시간으로 차단하여, 더욱 안전한 윈도우 환경을 구축해 드립니다.</p>
		</a>
		<a href="/product/pms" class="col-md-4 prd_9">
			<span>엔드포인트 보안</span>
			<strong class="ellipsis_1">알약 패치관리(PMS)</strong>
			<p class="ellipsis_2">기업 내 PC의 패치 현황을 실시간으로 확인하고, 신속하게 패치 파일을 배포하여 관리할 수 있습니다.</p>
		</a>
		<a href="/product/alyac_core" class="col-md-4 prd_1">
			<span>엔드포인트 보안</span>
			<strong class="ellipsis_1">알약 코어엔진</strong>
			<p class="ellipsis_2">통합 백신 알약의 핵심 기능을 이용하며, 기업의 여러 서비스와 편리하게 연동할 수 있도록 지원합니다.</p>
		</a>
		<a href="/product/imas_cloud" class="col-md-4 prd_2">
			<span>인텔리전스 보안</span>
			<strong class="ellipsis_1">IMAS 클라우드</strong>
			<p class="ellipsis_2">클라우드 기반 지능형 악성코드 분석 시스템으로, 파일 · URL의 유해 가능성을 쉽게 확인할 수 있습니다.</p>
		</a>
		<a href="/product/securedisk" class="col-md-4 prd_3">
			<span>데이터 보안</span>
			<strong class="ellipsis_1">시큐어디스크</strong>
			<p class="ellipsis_2">문서중앙화를 통해 내부 자료의 유출을 방지하고, 기업의 자산을 보호하는 차세대 문서 보안 솔루션입니다.</p>
		</a>
	</div>
</section>

<section class="container">
	<dl class="fix_prd">
		<dt><p>ASM</p></dt>
		<dd><a href="/buy/estimate">구매문의</a></dd>
		<dd><a href="https://play.google.com/store/apps/details?id=com.estsoft.android.asm" target="_blank">ASM Mobile<br>다운로드</a></dd>
	</dl>
</section>
<% include ../include/footer.ejs %>
