<% include ../include/header.ejs %>

<section class="bg_sub_1 ransomepc_download">
    <div class="bn_tit">
        <h2><img src="/images/tit_ransomepc.png" alt="랜섬쉴드 PC 1.0"/></h2>
        <strong class="white">랜섬웨어 철통보안</strong>
        <p class="white">
            주요 문서를 내 PC에 암호화 백업해서 랜섬웨어로부터 데이터 감염을 방지하고, <br/>
            암호화 백업한 데이터를 복구해주는 프로그램입니다.
        </p>
        <div class="btn_wrap">
            <a href="/buy/estimate" class="btn_a btn_navy">구매문의</a>
        </div>
    </div>
</section>
<section class="tab_nav">
    <div class="container">
        <strong class="emerald">랜섬쉴드 PC</strong>
        <ul class="nav">
            <li><a href="#overview" class="page_scroll">제품개요</a></li>
            <li><a href="#main_function" class="page_scroll">주요기능</a></li>
            <li><a href="#phasein" class="page_scroll">도입효과</a></li>
            <li><a href="#specs" class="page_scroll">사용환경</a></li>
        </ul>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/product/alyac">보안제품</a><i>&#62;</i></li>
        <li><a href="/product/securedisk">데이터 보안</a><i>&#62;</i></li>
        <li>랜섬쉴드 PC</li>
    </ul>
</section>

<section class="container" id="overview">
    <h2 class="tit_1">제품 개요</h2>
    <h3 class="tit_1">랜섬웨어 철통보안, <br>랜섬쉴드 PC</h3>
    <img src="/images/ransomepc_overview.png" alt="사용자PC(중요문서탐지) - (암호화 백업) - 사용자 PC의 backup폴더 - 신속화 복구 => 피해 0%"/>
    <ul class="first">
        <li class="col-md-3">
            <dl>
                <dt><span>01</span> 랜섬웨어 감염 방지</dt>
                <dd>
                    <p>
                        주요문서를 파일명, 내용까지 암호화하여 내 로컬의 특정폴더에 백업
                    </p>
                    <p>
                        랜섬웨어에 감염 시도 시 사용자에게 알림
                    </p>
                </dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>02</span> 주요 문서의 유실방지</dt>
                <dd>
                    <p>
                        랜섬웨어 감염, 사용자 과실 등으로 인한 주요 문서의 유실 방지
                    </p>
                    <p>
                        사용자가 직접 복구창에서 원하는 문서의 복구가 가능
                    </p>
                    <p>
                        버전 관리를 통해 사용자가 원하는 시점으로 복구 가능
                    </p>
                </dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>03</span> 문서의 형상 및 이력 관리 용이</dt>
                <dd>
                    <p>
                        실시간, 스케줄 백업으로 자동으로 백업 진행
                    </p>
                    <p>
                        백업된 파일이력 및 문서미리보기 제공
                    </p>
                </dd>
            </dl>
        </li>
    </ul>
</section>

<section id="products_ui">
    <div class="container">
        <h2>제품 UI</h2>
        <div class="owl-carousel" data-plugin-options='{"singleItem": false, "autoPlay": false}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
            <div>
                <span class="img_wrap">
                    <img class="img-responsive center-block" src="/images/ransomepc_ui_01.png" alt="백업필터 설정">
                </span>
                <strong>백업필터 설정</strong>
            </div>
            <div>
                <span class="img_wrap">
                    <img class="img-responsive center-block" src="/images/ransomepc_ui_02.png" alt="백업주기 및 대상설정">
                </span>
                <strong>백업주기 및 대상설정</strong>
            </div>
            <div>
                <span class="img_wrap">
                    <img class="img-responsive center-block" src="/images/ransomepc_ui_03.png" alt="복구화면">
                </span>
                <strong>복구화면</strong>
            </div>
        </div>
    </div>
</section>

<section id="main_function">
    <div class="container">
        <h2 class="tit_1">주요기능</h2>
        <h3 class="tit_1">중요문서 암호화 백업으로 랜섬웨어 피해 예방!</h3>
        <img src="/images/ransomepc_function_bg.png" alt="01.내 PC에 저장:내 PC의 데이터->원본문서 / 02.실시간&스케줄 백업:이력관리된 백업문서->원본문서 암호화전송 및 백업 / 03.랜섬웨어 감염시 사용자에게 알림:원본문서->내PC의 데이터 / 04.사용자가 원하는 시점으로 문서 복원:이력관리된 백업문서->원본문서"/>
        <ul>
            <li class="first">
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_76">
                        </i>
                        <p>암호화 백업 기능</p>
                    </dt>
                    <dd>
                        <p>
                            파일명과 확장자, 문서내용을 모두 암호화한 백업본을 내 로컬에 별도로 생성하여 보호
                        </p>
                        <p>
                            랜섬웨어 감염, 사용자 과실 등으로 인한 주요 문서의 유실 방지
                        </p>
                        <p>
                            실시간, 스케줄 백업으로 백업본은 최신 상태를 유지
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_77">
                        </i>
                        <p>쉽고 빠른 복구</p>
                    </dt>
                    <dd>
                        <p>
                            문서 유실 시 복구창에서 간편하게 감염 전 상태로 복구
                        </p>
                        <p>
                            백업한 문서 파일의 목록 확인, 미리보기가 가능
                        </p>
                        <p>
                            복구창에서 파일 미리보기로 확인 후 원하는 파일만 선택적 복구 가능
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_79">
                        </i>
                        <p>문서이력 관리</p>
                    </dt>
                    <dd>
                        <p>
                            백업된 모든 파일에 대하여 변경 이력 조회 및 해당 시점 복원 가능
                        </p>
                        <p>
                            문서의 형상 관리 및 히스토리 추적에 용이
                        </p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_78">
                        </i>
                        <p>편리한 사용성</p>
                    </dt>
                    <dd>
                        <p>
                            백업 설정부터 복구까지 쉬운 인터페이스
                        </p>
                        <p>
                            자주 쓰는 프로그램이나 이미지 단위로 백업 대상을 설정하기 쉬움
                        </p>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</section>

<section id="phasein" class="ransome_phasein">
    <div class="container">
        <h2 class="tit_1 emerald">도입효과</h2>
        <h3 class="tit_1">랜섬웨어 감염 시 실시간 복구로 문서유실방지</h3>
        <p><img src="/images/ransomepc_diagram.png" alt="주요문서 유실방지 / 로컬 기반의 백업시스템 / 간편한 복원 및 이력관리"/></p>
    </div>
</section>

<section id="specs" class="ransome_pc_specs">
    <div class="container">
        <h2 class="tit_1">사용환경</h2>
        <h3 class="tit_1">랜섬쉴드 PC Specs</h3>
        <ul class="tbl_ul not_img">
            <li class="col-md-6 first">
                <div class="tbl_tit">
                    <strong>OS</strong>
                </div>
                <div class="tbl_txt">
                    <p>Microsoft Windows Vista/7/8/10(32/64bit)</p>
                </div>
            </li>
            <li class="col-md-6">
                <div class="tbl_tit">
                    <strong>CPU</strong>
                </div>
                <div class="tbl_txt">
                    <p>Intel Pentium</p>
                    <p>AMD</p>
                </div>
            </li>
            <li class="col-md-6">
                <div class="tbl_tit">
                    <strong>RAM</strong>
                </div>
                <div class="tbl_txt">
                    <p>512M 이상</p>
                </div>
            </li>
            <li class="col-md-6">
                <div class="tbl_tit">
                    <strong>HDD</strong>
                </div>
                <div class="tbl_txt last">
                    <p>10GB 이상</p>
                </div>
            </li>
            <li class="col-md-6">
                <div class="tbl_tit">
                    <strong>File System</strong>
                </div>
                <div class="tbl_txt">
                    <p>FAT32, NTFS, GPT</p>
                </div>
            </li>
            <li class="col-md-6">
                <div class="tbl_tit long_line">
                    <strong>지원 가능한 하드디스크</strong>
                </div>
                <div class="tbl_txt last">
                    <p>IDE, SCSI, SATA SSD 하드디스크 지원</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="container asm_prd" id="rco_prd">
    <h2 class="tit_2">랜섬쉴드 PC와 함께하면 좋은 보안제품</h2>
    <div>
        <a href="/product/alyac_enterprise" class="col-md-4 prd_1">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 기업용</strong>
            <p class="ellipsis_2">뛰어난 탐지율을 보장하는 트리플엔진을 탑재하여, 글로벌 위협으로부터 시스템을 빈틈없이 보호합니다.</p>
        </a>
        <a href="/product/asm" class="col-md-4 prd_5">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">ASM</strong>
            <p class="ellipsis_2">알약 제품군이 설치된 PC에 대한 통합 보안 관리 및 자산 관리, 원활한 보안 정책 적용을 지원합니다.</p>
        </a>
        <a href="/product/exploitshield_enterprise" class="col-md-4 prd_4">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 익스플로잇쉴드 기업용</strong>
            <p class="ellipsis_2">취약점을 통한 악성코드 공격을 실시간으로 차단하여, 더욱 안전한 윈도우 환경을 구축해 드립니다.</p>
        </a>
        <a href="/product/imas_cloud" class="col-md-4 prd_2">
            <span>인텔리전스 보안</span>
            <strong class="ellipsis_1">IMAS 클라우드</strong>
            <p class="ellipsis_2">클라우드 기반 지능형 악성코드 분석 시스템으로, 파일 · URL의 유해 가능성을 쉽게 확인할 수 있습니다.</p>
        </a>
        <a href="/product/securedisk" class="col-md-4 prd_3">
            <span>데이터 보안</span>
            <strong class="ellipsis_1">시큐어디스크</strong>
            <p class="ellipsis_2">문서중앙화를 통해 내부 자료의 유출을 방지하고, 기업의 자산을 보호하는 차세대 문서 보안 솔루션입니다.</p>
        </a>
        <a href="/product/internetdisk" class="col-md-4 prd_8">
            <span>데이터 보안</span>
            <strong class="ellipsis_1">인터넷디스크</strong>
            <p class="ellipsis_2">문서 열람과 저장, 공유, 협업, 보안까지, 안전한 업무 환경을 보장합니다.</p>
        </a>
    </div>
</section>

<section class="container">
    <dl class="fix_prd">
        <dt><p>랜섬쉴드 PC</p></dt>
        <dd><a href="/buy/estimate">구매문의</a></dd>
    </dl>
</section>
<% include ../include/footer.ejs %>
