<% include ../include/header.ejs %>

<section class="bg_sub_1 ransome_download">
    <div class="bn_tit">
        <h2><img src="/images/tit_ransome.png" alt="랜섬쉴드 클라우드 1.0"/></h2>
        <strong class="white">랜섬웨어 철통보안</strong>
        <p class="white">
            주요 문서의 실시간 중앙 서버 백업을 통해 랜섬웨어 감염, 사용자 과실 등 <br/>
            다양한 유실 위협으로부터 기업의 자산을 보호하는 백업 솔루션 입니다.
        </p>
        <div class="btn_wrap">
            <a href="/buy/estimate" class="btn_a btn_navy">구매문의</a>
        </div>
    </div>
</section>
<section class="tab_nav">
    <div class="container">
        <strong class="emerald">랜섬쉴드 클라우드</strong>
        <ul class="nav">
            <li><a href="#overview" class="page_scroll">제품개요</a></li>
            <li><a href="#main_function" class="page_scroll">주요기능</a></li>
            <li><a href="#phasein" class="page_scroll">도입효과</a></li>
            <li><a href="#specs" class="page_scroll">사용환경</a></li>
        </ul>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/product/alyac">보안제품</a><i>&#62;</i></li>
        <li><a href="/product/securedisk">데이터 보안</a><i>&#62;</i></li>
        <li>랜섬쉴드 클라우드</li>
    </ul>
</section>

<section class="container" id="overview">
    <h2 class="tit_1">제품 개요</h2>
    <h3 class="tit_1">랜섬웨어 철통보안, <br>랜섬쉴드 클라우드</h3>
    <img src="/images/ransome_overview.png" alt="사용자PC(중요문서탐지) - (실시간백업) - 중앙서버(문서의 버전 관리) - 신속화 복구 => 피해 0%"/>
    <ul class="first">
        <li class="col-md-3">
            <dl>
                <dt><span>01</span> 내부 중요 자료 유실 방지</dt>
                <dd>
                    <p>
                        사용자 PC의 주요 문서를 탐지하여 중앙 서버로 백업
                    </p>
                    <p>
                        랜섬웨어 감염, 사용자 과실 등으로 인한 주요 문서의 유실 방지
                    </p>
                </dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>02</span> 사용자/관리자 중심의 기능 구성</dt>
                <dd>
                    <p>
                        관리 정책에 따라 실시간으로 자동 백업 진행
                    </p>
                    <p>
                        버전 관리를 통해 사용자가 원하는 시점으로 파일 복원 가능
                    </p>
                </dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>03</span> 문서의 형상 및 이력 관리 용이</dt>
                <dd>
                    <p>
                        백업 파일에 대한 변경 이력 및 시점 복원 기능 제공
                    </p>
                    <p>
                        중요 문서 파일의 탐지, 백업 및 복원 이력 기능
                    </p>
                </dd>
            </dl>
        </li>
    </ul>
</section>

<section class="bg_gray" id="main_function">
    <div class="container">
        <h2 class="tit_1">주요기능</h2>
        <h3 class="tit_1">중요문서 실시간 백업으로 랜섬웨어 피해 예방!</h3>
        <img src="/images/ransome_function_bg.png" alt="사용자(문서의 형상관리) -> 암호화전송 및 백업 / 문서 복원 <- 사용자(문서유실방지/인사DB,SSO연동/서버암호화)"/>
        <ul>
            <li class="first">
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_38">
                        </i>
                        <p>문서 유실 방지 기능</p>
                    </dt>
                    <dd>
                        <p>
                            사용자 PC에 있는 주요 문서들을 중앙 서버에 실시간 백업
                        </p>
                        <p>
                            랜섬웨어 감염, 사용자 과실 등으로 인한 주요 문서의 유실 방지
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_05">
                        </i>
                        <p>작업 이력 조회 기능</p>
                    </dt>
                    <dd>
                        <p>
                            백업된 문서 파일의 문서 탐지, 백업 및 복원 이력 확인
                        </p>
                        <p>
                            백업 동작의 이상 유무 파악 가능
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_07">
                        </i>
                        <p>문서의 이력 관리</p>
                    </dt>
                    <dd>
                        <p>
                            백업된 모든 문서 파일에 대하여 변경 이력 조회 및 해당 시점 복원 가능
                        </p>
                        <p>
                            문서의 형상 관리 및 히스토리 추적에 용이
                        </p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_45">
                        </i>
                        <p>편리한 사용성</p>
                    </dt>
                    <dd>
                        <p>
                            관리자 정책 적용 후, 실시간으로 주요 문서에 대한 백업을 자동으로 진행
                        </p>
                        <p>
                            백업 파일은 시점 별로 버전 관리가 되어, 언제든 사용자가 직접 원하는 시점으로 복원 가능
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_34">
                        </i>
                        <p>전송 및 서버 암호화</p>
                    </dt>
                    <dd>
                        <p>
                            파일의 전송 구간 암호화 및 서버 암호화를 통해 문서를 안전하게 보호
                        </p>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</section>

<section id="phasein" class="ransome_phasein">
    <div class="container">
        <h2 class="tit_1 emerald">도입효과</h2>
        <h3 class="tit_1">실시간 백업, 손쉬운 복구로 문서유실방지</h3>
        <p><img src="/images/ransome_diagram.png" alt="주요문서 유실방지 / 간편한 문서 백업 / 주요문서의 형상 관리"/></p>
    </div>
</section>

<section id="specs">
    <div class="container">
        <h2 class="tit_1">사용환경</h2>
        <h3 class="tit_1">랜섬쉴드 클라우드 Specs</h3>
        <img src="/images/ransome_specs.png" alt=""/>
        <div class="phasein_txt">
            <p>※ 랜섬쉴드 클라우드는  SW제품으로, 시스템 및 네트워크 구성 에  필요한  장비 등은  정식 파트너사를 통해 별도 구매 가능합니다.</p>
            <p>※ 초기 제품 도입 시  업무 환경에 필요한 구성 등 요건에 맞춰 컨설팅을 진행합니다.</p>
        </div>
        <ul class="tbl_ul">
            <li class="col-md-6">
                <div class="tbl_tit">
                    <strong>H/W플랫폼</strong>
                </div>
                <div class="tbl_txt">
                    <p>x86, x86_64 bit SEVER</p>
                    <p>(IBM, HP, DELL 외 대수)</p>
                </div>
            </li>
            <li class="col-md-6">
                <div class="tbl_tit">
                    <strong>시스템 S/W</strong>
                </div>
                <div class="tbl_txt last">
                    <p>LINUX</p>
                    <p>(RHEL, Cent OS 6.5 64bit이상)</p>
                </div>
            </li>
            <li class="col-md-12">
                <div class="tbl_tit">
                    <strong>네트워크 구성</strong>
                </div>
                <div class="tbl_txt">
                    <p>DAS (Direct Attached Storage)</p>
                    <p>SAN (Storage Area Network)</p>
                    <p>NAS (Network Attached Storage)</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="container asm_prd" id="rco_prd">
    <h2 class="tit_2">랜섬쉴드 클라우드와 함께하면 좋은 보안제품</h2>
    <div>
        <a href="/product/alyac_enterprise" class="col-md-4 prd_1">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 기업용</strong>
            <p class="ellipsis_2">뛰어난 탐지율을 보장하는 트리플엔진을 탑재하여, 글로벌 위협으로부터 시스템을 빈틈없이 보호합니다.</p>
        </a>
        <a href="/product/asm" class="col-md-4 prd_5">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">ASM</strong>
            <p class="ellipsis_2">알약 제품군이 설치된 PC에 대한 통합 보안 관리 및 자산 관리, 원활한 보안 정책 적용을 지원합니다.</p>
        </a>
        <a href="/product/exploitshield_enterprise" class="col-md-4 prd_4">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 익스플로잇쉴드 기업용</strong>
            <p class="ellipsis_2">취약점을 통한 악성코드 공격을 실시간으로 차단하여, 더욱 안전한 윈도우 환경을 구축해 드립니다.</p>
        </a>
        <a href="/product/imas_cloud" class="col-md-4 prd_2">
            <span>인텔리전스 보안</span>
            <strong class="ellipsis_1">IMAS 클라우드</strong>
            <p class="ellipsis_2">클라우드 기반 지능형 악성코드 분석 시스템으로, 파일 · URL의 유해 가능성을 쉽게 확인할 수 있습니다.</p>
        </a>
        <a href="/product/securedisk" class="col-md-4 prd_3">
            <span>데이터 보안</span>
            <strong class="ellipsis_1">시큐어디스크</strong>
            <p class="ellipsis_2">문서중앙화를 통해 내부 자료의 유출을 방지하고, 기업의 자산을 보호하는 차세대 문서 보안 솔루션입니다.</p>
        </a>
        <a href="/product/internetdisk" class="col-md-4 prd_8">
            <span>데이터 보안</span>
            <strong class="ellipsis_1">인터넷디스크</strong>
            <p class="ellipsis_2">문서 열람과 저장, 공유, 협업, 보안까지, 안전한 업무 환경을 보장합니다.</p>
        </a>
    </div>
</section>

<section class="container">
    <dl class="fix_prd">
        <dt><p>랜섬쉴드<br></ㅠㄱ>클라우드</p></dt>
        <dd><a href="/buy/estimate">구매문의</a></dd>
    </dl>
</section>
<% include ../include/footer.ejs %>
