<% include ../include/header.ejs %>
<span class="bg_hide"></span>
<section class="bg_sub_1 securedisk_download">
    <div class="bn_tit">
        <h2><img src="/images/tit_securedisk.png" alt="Secure Disk"/></h2>
        <strong class="white">차세대 문서보안의 표준</strong>
        <p class="white">
            문서중앙화를 통해 내부자료 유출 · 유실 방지부터 기업자산관리까지 가능한 차세대 문서 보안 솔루션<br>
            입니다.
        </p>
        <div class="btn_wrap">
            <a href="/buy/estimate" class="btn_a btn_navy">구매문의</a>
            <a href="http://cdn1.estsecurity.com/brochure/securedisk/securedisk_brochure_1226.pdf" target="_blank" class="btn_a btn_white">브로슈어 다운로드</a>
        </div>
    </div>
</section>
<section class="tab_nav">
    <div class="container">
        <strong class="red">시큐어디스크</strong>
        <ul class="nav">
            <li><a href="#overview" class="page_scroll">제품개요</a></li>
            <li><a href="#main_function" class="page_scroll">주요기능</a></li>
            <li><a href="#phasein" class="page_scroll">도입효과</a></li>
            <li><a href="#specs" class="page_scroll">사용환경</a></li>
        </ul>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/product/alyac">보안제품</a><i>&#62;</i></li>
        <li><a href="/product/securedisk">데이터 보안</a><i>&#62;</i></li>
        <li>시큐어디스크</li>
    </ul>
</section>

<section class="container" id="overview">
    <h2 class="tit_1">제품 개요</h2>
    <h3 class="tit_1">차세대 문서 보안의 표준,<br>시큐어디스크</h3>
    <div class="prdt_movie"><iframe src="https://www.youtube.com/embed/_Nn3XOxlufo?rel=0" frameborder="0" allowfullscreen></iframe></div>
    <img src="/images/securedisk_overview.png" alt="사업계획서/영업전략/기밀자료 ->시큐어디스크 Server<-고객 개인정보/연구자료/CAD 기술도면, (사용자 PC 저장금지/외부 유출 차단)"/>
    <ul class="first">
        <li class="col-md-3">
            <dl>
                <dt><span>01</span> 내부 자료 유출 원천 차단</dt>
                <dd>
                    <p>
                        사용자 PC 자료를 중앙 서버로 자동 이관 및 저장
                    </p>
                    <p>
                        내부 자료의 로컬 저장 금지
                    </p>
                </dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>02</span> 서버 및 전송 구간 암호화</dt>
                <dd>
                    <p>
                        물리적인 디스크 유출 또는 해킹에 의한 데이터
                        유출 방지
                    </p>
                    <p>
                        전송 구간 및 서버에 저장된 파일 암호화
                    </p>
                </dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>03</span> 문서의 버전 관리 및 복원</dt>
                <dd>
                    <p>
                        랜섬웨어 감염, 사용자 실수 또는 변경/삭제된
                        파일 복원
                    </p>
                </dd>
            </dl>
        </li>
        <li class="col-md-3">
            <dl>
                <dt><span>04</span> 다양한 협업 디스크 구성</dt>
                <dd>
                    <p>
                        인사DB와 연동된 조직도 기반의 조직디스크
                        생성
                    </p>
                    <p>
                        필요에 따라 특정 그룹의 프로젝트 디스크 생성
                        가능
                    </p>
                </dd>
            </dl>
        </li>
    </ul>
</section>

<section class="bg_gray" id="main_function">
    <div class="container">
        <h2 class="tit_1">주요기능</h2>
        <h3 class="tit_1">문서중앙화로 자료 유출 및 유실 원천 차단!</h3>
        <img src="/images/securedisk_functin_bg.png" alt="작업 및 액세스(사용자 권한과 관리 정책에 기반)-> Client(사용자), 매체 제어(USB/MTP/PTP)/기능제한(출력/클립보드/캡쳐)/문서 유출 방지(정책 위반 로그 생성/정책,권한설정/문서 첨부 금지/로컬 PC 저장 금지)->관리자->관리자승인->외부 작업 시 임시접속,파일 반출 USB,메일,반출함->작업 및 액세스->Server(서버),개인디스크,조직/공용 디스크(관리 및 통제 용이/인사DB,SSO연동/서버 암호화)<-암호화 전송(서버로 관리 대상 파일 강제이관 진행)"/>
        <ul>
            <li class="first">
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_62">
                        </i>
                        <p>저장 매체 차단 및 프로그램 접근 제한</p>
                    </dt>
                    <dd>
                        <p>
                            프로그램 및 확장자 지정하여 로컬디스크, USB 등 저장 매체로의
                            저장 원천 차단
                        </p>
                        <p>
                            서버 내 문서는 관리자가 지정한 프로그램만 접근 가능, 프로그램에
                            의한 문서 유출 시도 차단
                        </p>
                        <p>
                            일부 랜섬웨어의 보안 대상 문서 변조 차단
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_63">
                        </i>
                        <p>캡쳐, 출력 차단 및 온라인 유출 차단</p>
                    </dt>
                    <dd>
                        <p>
                            화면 캡쳐, 복사 및 붙여넣기, 문서 출력 등 제어
                        </p>
                        <p>
                            웹메일, 아웃룩, 메신저, 웹하드 등 온라인을 통한 파일 첨부 및 유출
                            차단
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_64">
                        </i>
                        <p>윈도우 탐색기 기반 업무 환경</p>
                    </dt>
                    <dd>
                        <p>
                            윈도우 탐색기 인터페이스를 통해 사용자에게 기존과 동일한 업무
                            환경 제공
                        </p>
                        <p>
                            윈도우 탐색기에 추가된 드라이브로 접근하여 원활한 문서 실행,
                            편집, 저장 가능
                        </p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_65">
                        </i>
                        <p>자료 반출 프로세스</p>
                    </dt>
                    <dd>
                        <p>
                            자체 탑재된 반출 시스템 제공, 상급자 승인 후 메일 또는 USB를
                            통해 파일의 외부 전달 가능
                        </p>
                        <p>
                            파일의 다운로드 횟수, 다운로드 기간, 암호 설정이 가능하여
                            수신자의 무분별한 다운로드 제한
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_66">
                        </i>
                        <p>폴더 별 접근 권한 관리</p>
                    </dt>
                    <dd>
                        <p>
                            폴더 단위로 접근 권한 설정
                        </p>
                        <p>
                            사용자 또는 부서별 특성에 맞는 정책 수립 지원
                        </p>
                    </dd>
                </dl>
                <dl class="col-md-4">
                    <dt>
                        <i class="icon_67">
                        </i>
                        <p>다양한 로그 관리</p>
                    </dt>
                    <dd>
                        <p>
                            사용자의 모든 작업 내역과 파일 유통 경로 조회
                        </p>
                        <p>
                            인가되지 않은 작업 또는 유출 시도에 대한 로그 제공
                        </p>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</section>

<section id="phasein" class="securedisk_phasein">
    <div class="container">
        <h2 class="tit_1 red">도입효과</h2>
        <h3 class="tit_1">문서 자산을 안전하게 보호하는 시큐어디스크</h3>
        <p><img src="/images/securedisk_diagram.png" alt="01 부서별, 사용자별 정책 적용 가능/02 언제,어디서나 가능한 모니터링/03 보안보고서 제공/04 손쉬운 자산관리"/></p>
    </div>
</section>

<section id="specs">
    <div class="container">
        <h2 class="tit_1">사용환경</h2>
        <h3 class="tit_1">시큐어디스크 Specs</h3>
        <img src="/images/securedisk_specs.png"/>
        <div class="phasein_txt">
            <p>※ 시큐어디스크는 SW제품으로, 시스템 및 네트워크 구성에 필요한 장비 등은 정식 파트너사를 통해 별도 구매 가능합니다.</p>
            <p>※  초기 제품 도입 시 업무 환경에 필요한 구성 등 요건에 맞춰 컨설팅을 진행합니다.</p>
        </div>
        <ul class="tbl_ul">
            <li class="col-md-6">
                <div class="tbl_tit">
                    <strong>H/W 플랫폼</strong>
                </div>
                <div class="tbl_txt">
                    <p>x86, x86_64 bit SEVER</p>
                    <p>(IBM, HP, DELL 외 대수)</p>
                </div>
            </li>
            <li class="col-md-6">
                <div class="tbl_tit">
                    <strong>시스템 S/W</strong>
                </div>
                <div class="tbl_txt last">
                    <p>LINUX</p>
                    <p>(RHEL, Cent OS 6.5 64bit이상)</p>
                </div>
            </li>
            <li class="col-md-12">
                <div class="tbl_tit">
                    <strong>네트워크 구성</strong>
                </div>
                <div class="tbl_txt">
                    <p>DAS (Direct Attached Storage)</p>
                    <p>SAN (Storage Area Network)</p>
                    <p>NAS (Network Attached Storage)<br>
                        * 특정 HW의 경우 장비의 특성에 따라 설치가 불가할 수 있습니다.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="container asm_prd" id="rco_prd">
    <h2 class="tit_2">시큐어디스크과 함께하면 좋은 보안제품</h2>
    <div>
        <a href="/product/alyac_enterprise" class="col-md-4 prd_1">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 기업용</strong>
            <p class="ellipsis_2">뛰어난 탐지율을 보장하는 트리플엔진을 탑재하여, 글로벌 위협으로부터 시스템을 빈틈없이 보호합니다.</p>
        </a>
        <a href="/product/asm" class="col-md-4 prd_5">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">ASM</strong>
            <p class="ellipsis_2">알약 제품군이 설치된 PC에 대한 통합 보안 관리 및 자산 관리, 원활한 보안 정책 적용을 지원합니다.</p>
        </a>
        <a href="/product/exploitshield_enterprise" class="col-md-4 prd_4">
            <span>엔드포인트 보안</span>
            <strong class="ellipsis_1">알약 익스플로잇쉴드 기업용</strong>
            <p class="ellipsis_2">취약점을 통한 악성코드 공격을 실시간으로 차단하여, 더욱 안전한 윈도우 환경을 구축해 드립니다.</p>
        </a>
        <a href="/product/imas_cloud" class="col-md-4 prd_2">
            <span>인텔리전스 보안</span>
            <strong class="ellipsis_1">IMAS 클라우드</strong>
            <p class="ellipsis_2">클라우드 기반 지능형 악성코드 분석 시스템으로, 파일 · URL의 유해 가능성을 쉽게 확인할 수 있습니다.</p>
        </a>
        <a href="/product/ransomshield_cloud" class="col-md-4 prd_6">
            <span>데이터 보안</span>
            <strong class="ellipsis_1">랜섬쉴드 클라우드</strong>
            <p class="ellipsis_2">주요 문서의 실시간 중앙 서버 백업을 통해 다양한 유실 위협으로부터 기업의 자산을 안전하게 보호합니다.</p>
        </a>
        <a href="/product/internetdisk" class="col-md-4 prd_8">
            <span>데이터 보안</span>
            <strong class="ellipsis_1">인터넷디스크</strong>
            <p class="ellipsis_2">문서 열람과 저장, 공유, 협업, 보안까지, 안전한 업무 환경을 보장합니다.</p>
        </a>
    </div>
</section>

<section class="container">
    <dl class="fix_prd">
        <dt><p>시큐어디스크</p></dt>
        <dd><a href="/buy/estimate">구매문의</a></dd>
        <dd><a href="http://cdn1.estsecurity.com/brochure/securedisk/securedisk_brochure_1226.pdf" target="_blank" target="_blank">브로슈어 다운로드</a></dd>
    </dl>
</section>
<% include ../include/footer.ejs %>
