<% include ../include/header.ejs %>
<section class="bg_sub_2">
    <div>
        <h2>알약 SPLA안내</h2>
        <strong>알약 서비스 공급자용 라이선스</strong>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/product/alyac">보안제품</a><i>&#62;</i></li>
        <li>알약 SPLA안내</li>
    </ul>
</section>
<section class="container">
    <div class="license_notice">
        <strong>알약 서비스 공급자용 라이선스란?</strong>
        <p>
            SPLA(Service Provider License Agreement) 서비스 공급자용 라이선스 계약으로, 서비스 사업자가 알약 라이선스를 구매한 후 자신의 서비스를 이용하는 고객들에게 알약 서비스를 제공할 수
            있도록 고안된 월 단위 라이선스 프로그램입니다.
        </p>
    </div>
</section>
<section class="container license_policy">
    <h2 class="tit_2">라이선스 정책</h2>
    <ul>
        <li><i><img src="/images/icon_dot.jpg" alt="dot"/></i>기본 계약기간은 1년이며 중도해지 가능(중도 해지시 불이익 없음)</li>
        <li><i><img src="/images/icon_dot.jpg" alt="dot"/></i>계약기간 무산 업그레이드 제공</li>
        <li><i><img src="/images/icon_dot.jpg" alt="dot"/></i>상업용 라이선스 (제 3자에게 사용 권한 부여 가능)</li>
        <li><i><img src="/images/icon_dot.jpg" alt="dot"/></i>최종 사용자는 서비스 사업자를 통해 라이선스 사용 권한 취득</li>
        <li><i><img src="/images/icon_dot.jpg" alt="dot"/></i>서비스 사업자는 매월 사용한 것에 대해서만 라이선스 비용 정산</li>
    </ul>

    <h2 class="tit_2">특장점</h2>
    <ul>
        <li><i><img src="/images/icon_dot.jpg" alt="dot"/></i>초기 투자비용이 거의 들지 않음</li>
        <li><i><img src="/images/icon_dot.jpg" alt="dot"/></i>매월 사용한 내용에 대해서만 비용을 지불하므로, 월별 수익흐름에 맞춰 라이선스 투자 비용 조정가능</li>
        <li><i><img src="/images/icon_dot.jpg" alt="dot"/></i>기간 및 수량에 대한 별도의 Commitment가 없음</li>
        <li><i><img src="/images/icon_dot.jpg" alt="dot"/></i>관리자 사이트를 통해 정확한 월별 사용량 확인 가능</li>
        <li><i><img src="/images/icon_dot.jpg" alt="dot"/></i>계약기간 중 항상 최신 버전의 SW로 사용 가능</li>
    </ul>
</section>

<section class="container" id="license_phasein">
    <h2 class="tit_2">도입효과</h2>
    <ul>
        <li>
            <dl class="col-md-3">
                <dt>
                    <i class="icon_80">
                    </i>
                    <p>서버보안 강화</p>
                </dt>
                <dd>
                    <p>
                        다양한 보안위협으로부터 호스팅용 서버를
                        안전하게 보호
                    </p>
                </dd>
            </dl>
            <dl class="col-md-3">
                <dt>
                    <i class="icon_81">
                    </i>
                    <p>서버관리 비용절감</p>
                </dt>
                <dd>
                    <p>
                        각종 바이러스 및 악성코드, 오탐으로 인한
                        서버관리비용 절감
                    </p>
                </dd>
            </dl>
            <dl class="col-md-3">
                <dt>
                    <i class="icon_82">
                    </i>
                    <p>고객 서비스 강화</p>
                </dt>
                <dd>
                    <p>
                        부가서비스로 서버용 알약을 제공함으로써 고객
                        만족도 증가
                    </p>
                </dd>
            </dl>
            <dl class="col-md-3">
                <dt>
                    <i class="icon_83">
                    </i>
                    <p>추가 수익 창출</p>
                </dt>
                <dd>
                    <p>
                        서버 이용료 이외의 부가적인 매출확보 가능
                    </p>
                </dd>
            </dl>
        </li>
    </ul>
</section>

<section class="bg_gray spla_process">
    <div class="container">
        <h2 class="tit_2">계약 프로세스</h2>
        <img src="/images/spla_process.png" alt="호스팅 사업자가 End-User 대신 License를 취득하고 End-User는 호스팅 사업자를 통해 간접적인 사용권한을 획득하는 방식"/>
    </div>
</section>

<section class="container purchase_inquiry">
    <h2 class="tit_2">구매문의</h2>
    <a href="tel:02-3470-2970" class="pi_call">02-3470-2970</a>
    <a href="mailto:sbizmanage@estsecurity.com" class="pi_mail">sbizmanage@estsecurity.com</a>
</section>
<% include ../include/footer.ejs %>