<% include ../include/header.ejs %>
<section class="bg_sub_2 bg_buy">
    <div>
        <h2>견적문의</h2>
        <strong>제품별 견적 문의처 안내</strong>
        <p>이스트시큐리티 제품에 관심을 가져 주셔서 깊이 감사 드립니다.<br />아래 연락처를 통해 문의 주시면, 신속하고 친절하게 안내 드리겠습니다.</p>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/buy/products">제품구매</a><i>&#62;</i></li>
        <li>견적문의</li>
    </ul>
</section>
<section class="container">
    <div class="buy_quote">
        <h3>알약 엔드포인트 보안 기업총판/공공총판/교육총판</h3>
        <a href="https://secure.altools.co.kr/buy/default.aspx" class="link" target="_blank"><strong>구매하기</strong><br />쇼핑몰 바로가기 <em>&gt;</em></a>
        <ul>
            <li>
                <div class="col-md-2"><img src="/images/img_quote_1.gif" alt="ESTsoft" /></div>
                <div class="col-md-8">
                    <strong>알약 엔드포인트 보안 기업총판</strong>
                    <p>
                        ESTsoft<br />
                        <span>연락처 : <a href="tel:02-3470-2970">02. 3470. 2970</a></span>
                        <span>이메일 : <a href="mailto:sbizmanage@estsecurity.com">sbizmanage@estsecurity.com</a></span>
                    </p>
                </div>
                <div class="col-md-2"><a href="mailto:sbizmanage@estsecurity.com" class="btn">이메일 문의</a></div>
            </li>
            <li>
                <div class="col-md-2"><img src="/images/img_quote_2.gif" alt="가온아이" /></div>
                <div class="col-md-8">
                    <strong>알약 엔드포인트 보안 공공총판</strong>
                    <p>
                        가온아이<br />
                        <span>연락처 : <a href="tel:02-2140-5782">02. 2140. 5782</a></span>
                        <span>이메일 : <a href="mailto:securitybiz@kaoni.com">securitybiz@kaoni.com</a></span>
                    </p>
                </div>
                <div class="col-md-2"><a href="mailto:securitybiz@kaoni.com" class="btn">이메일 문의</a></div>
            </li>
            <li>
                <div class="col-md-2"><img src="/images/img_quote_1.gif" alt="ESTsoft" /></div>
                <div class="col-md-8">
                    <strong>알약 엔드포인트 보안 교육총판</strong>
                    <p>
                        ESTsoft<br />
                        <span>연락처 : <a href="tel:02-3470-2970">02. 3470. 2970</a></span>
                        <span>이메일 : <a href="mailto:sbizmanage@estsecurity.com">sbizmanage@estsecurity.com</a></span>
                    </p>
                </div>
                <div class="col-md-2"><a href="mailto:sbizmanage@estsecurity.com" class="btn">이메일 문의</a></div>
            </li>
        </ul>
        <h3>인텔리전스 보안</h3>
        <ul>
            <li>
                <div class="col-md-2"><img src="/images/img_quote_3.gif" alt="ESTsecurity" /></div>
                <div class="col-md-8">
                    <strong>IMAS 클라우드</strong>
                    <p>
                        ESTsecurity<br />
                        <span>연락처 : <a href="tel:070-8850-8407">070. 8850. 8407</a></span>
                        <span>이메일 : <a href="mailto:imas@estsecurity.com">imas@estsecurity.com</a></span>
                    </p>
                </div>
                <div class="col-md-2"><a href="mailto:imas@estsecurity.com" class="btn">이메일 문의</a></div>
            </li>
            <li>
                <div class="col-md-2"><img src="/images/img_quote_3.gif" alt="ESTsecurity" /></div>
                <div class="col-md-8">
                    <strong>IMAS 엔터프라이즈</strong>
                    <p>
                        ESTsecurity<br />
                        <span>연락처 : <a href="tel:070-8850-8407">070. 8850. 8407</a></span>
                        <span>이메일 : <a href="mailto:imas@estsecurity.com">imas@estsecurity.com</a></span>
                    </p>
                </div>
                <div class="col-md-2"><a href="mailto:imas@estsecurity.com" class="btn">이메일 문의</a></div>
            </li>
        </ul>
        <h3>데이터보안</h3>
        <ul>
            <li>
                <div class="col-md-2"><img src="/images/img_quote_3.gif" alt="ESTsecurity" /></div>
                <div class="col-md-8">
                    <strong>시큐어디스크</strong>
                    <p>
                        ESTsecurity<br />
                        <span>연락처 : <a href="tel:02-3470-2980">02. 3470. 2980</a></span>
                        <span>이메일 : <a href="mailto:securedisk@estsecurity.com">securedisk@estsecurity.com</a></span>
                    </p>
                </div>
                <div class="col-md-2"><a href="mailto:securedisk@estsecurity.com" class="btn">이메일 문의</a></div>
            </li>
            <li>
                <div class="col-md-2"><img src="/images/img_quote_3.gif" alt="ESTsecurity" /></div>
                <div class="col-md-8">
                    <strong>인터넷디스크</strong>
                    <p>
                        ESTsecurity<br />
                        <span>연락처 : <a href="tel:02-3470-2980">02. 3470. 2980</a></span>
                        <span>이메일 : <a href="mailto:internetdisk@estsecurity.com">internetdisk@estsecurity.com</a></span>
                    </p>
                </div>
                <div class="col-md-2"><a href="mailto:internetdisk@estsecurity.com" class="btn">이메일 문의</a></div>
            </li>
        </ul>
    </div>
</section>
<% include ../include/footer.ejs %>
