<% include ../include/header.ejs %>
<section class="bg_sub_2 bg_buy">
    <div>
        <h2>구매</h2>
        <strong>라이선스 관리</strong>
        <p>기업용 제품의 라이선스는 알툴즈 쇼핑몰에서 확인 가능합니다.<br />안심케어 구매 내역 확인을 위해서는 본인인증 절차가 필요합니다.</p>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/buy/products">제품구매</a><i>&#62;</i></li>
        <li><a href="/buy/products">구매</a><i>&#62;</i></li>
        <li>라이선스관리</li>
    </ul>
</section>
<section class="container">
    <div class="tab_wrap tab_license">
        <ul class="tab">
            <li class="active"><a href="#n">ALL</a></li>
            <li><a href="#n">PC수량 1대</a></li>
            <li><a href="#n">PC수량 2대 이상</a></li>
            <li><a href="#n">초,중,고,대학교,학원</a></li>
        </ul>
        <a href="https://secure.altools.co.kr/buy/orderlist.aspx" class="link" target="_blank"><strong>라이선스 관리</strong><br />알툴즈 쇼핑몰 바로가기 <em>&gt;</em></a>
    </div>
</section>
<section class="container">
    <div class="buy_list_license">
        <ul>
            <li>
                <h3>PC수량이 1대인 소규모 사업장</h3>
                <table>
                    <caption class="blind">라이선스 관리 안내</caption>
                    <colgroup>
                        <col width="23%">
                        <col width="62%">
                        <col width="*">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="cate"><span class="icon icon_1"></span>기업용(ESD)</td>
                        <td class="txt">
                            <h4>기업용(ESD)<a href="https://secure.altools.co.kr/buy/alyac.aspx" target="_blank">구매하기</a></h4>
                            <dl>
                                <dt>사용권형태</dt>
                                <dd>임대</dd>
                                <dt>계약기간</dt>
                                <dd>1년</dd>
                                <dt>특징 및 혜택</dt>
                                <dd>
                                    <ul>
                                        <li><i>–</i>프로그램 온라인 다운로드/제품설치 번호 이메일 발송</li>
                                        <li><i>–</i>패키지 구매 방식에 비해 가격이 저렴함</li>
                                        <li><i>–</i>연간사용계약형태</li>
                                        <li><i>–</i>알약 기업용 제품 사용</li>
                                        <li><i>–</i>계약기간 중 엔진 및 DB업데이트, 고객지원 및 기술 지원 서비스 제공</li>
                                        <li><i>–</i>재계약시 신규가격 기준 25% 할인 적용</li>
                                    </ul>
                                </dd>
                            </dl>
                        </td>
                        <td class="btn"><a href="https://secure.altools.co.kr/buy/alyac.aspx" target="_blank">구매하기</a></td>
                    </tr>
                    <tr>
                        <td class="cate"><span class="icon icon_2"></span>기업용(패키지)</td>
                        <td class="txt">
                            <h4>기업용(패키지)<a href="https://secure.altools.co.kr/buy/alyac.aspx" target="_blank">구매하기</a></h4>
                            <dl>
                                <dt>사용권형태</dt>
                                <dd>임대</dd>
                                <dt>계약기간</dt>
                                <dd>1년</dd>
                                <dt>특징 및 혜택</dt>
                                <dd>
                                    <ul>
                                        <li><i>–</i>구매 수량만큼 BOX 형태의 패키지 제공</li>
                                        <li><i>–</i>연간사용계약형태</li>
                                        <li><i>–</i>알약 기업용 제품 사용</li>
                                        <li><i>–</i>계약기간 중 엔진 및 DB업데이트, 고객지원 및 기술 지원 서비스 제공</li>
                                        <li><i>–</i>재계약시 신규가격 기준 30% 할인 적용</li>
                                    </ul>
                                </dd>
                            </dl>
                        </td>
                        <td class="btn"><a href="https://secure.altools.co.kr/buy/alyac.aspx" target="_blank">구매하기</a></td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <h3>PC수량이 2대 이상인 사업장</h3>
                <table>
                    <caption class="blind">라이선스 관리 안내</caption>
                    <colgroup>
                        <col width="23%">
                        <col width="62%">
                        <col width="*">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="cate"><span class="icon icon_3"></span>기업용(라이선스)</td>
                        <td class="txt">
                            <h4>기업용(라이선스)<a href="https://secure.altools.co.kr/buy/alyac.aspx" target="_blank">구매하기</a></h4>
                            <dl>
                                <dt>사용권형태</dt>
                                <dd>임대</dd>
                                <dt>계약기간</dt>
                                <dd>1년</dd>
                                <dt>특징 및 혜택</dt>
                                <dd>
                                    <ul>
                                        <li><i>–</i>사용기관/수량이 명시된 인증서와 제품설치파일을 이메일로 제공</li>
                                        <li><i>–</i>연간사용계약형태</li>
                                        <li><i>–</i>알약 기업용 제품 사용</li>
                                        <li><i>–</i>계약기간 중 엔진 및 DB업데이트, 고객지원 및 기술 지원 서비스 제공</li>
                                        <li><i>–</i>재계약시 신규가격 기준 25% 할인 적용</li>
                                        <li><i>–</i>2년이상 다년 계약시 추가할인 및 부가혜택 제공</li>
                                        <li><a href="#n">
                                            * 알약다년계약이란?<span><img src="/images/icon_mlp.png" alt="알약 다년계약(MLP)이란">
                                            <div>
                                                <img src="/images/icon_triangle.png" alt="icon_triangle"/>
                                                <strong class="tit">알약 다년계약(MLP)이란?</strong>
                                                <p class="p_0">알약 제품군을 2년 이상 계약할 경우 추가 가격할인 및 다양한 부가혜택을 받으실 수 있는 라이선스 프로그램입니다.</p><br>

                                                <p><strong>적용대상 :</strong> PC용 알약 및 알툴즈 통합보안팩 2user이상, 서버용 알약 2user이상 구매고객(신규,갱신,윈백 모두 적용)</p>
                                                <p><strong>가격할인 :</strong> 계약기간 중 총 구매금액을 기준으로 매년 계약하는 경우에 비해 2년 계약시 10%, 3년 이상 계약시	20%의 할인이 제공됩니다.</p>
                                                <p><strong>부가혜택 :</strong> PC용 알약 100user이상 MLP계약시 계약기간동안 ASM이 제공됩니다.</p>
                                            </div>
                                            </span>
                                            </a>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </td>
                        <td class="btn"><a href="https://secure.altools.co.kr/buy/alyac.aspx" target="_blank">구매하기</a></td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <h3>초,중,고,대학교,학원</h3>
                <table>
                    <caption class="blind">라이선스 관리 안내</caption>
                    <colgroup>
                        <col width="23%">
                        <col width="62%">
                        <col width="*">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="cate"><span class="icon icon_4"></span>교육기관용(임대)</td>
                        <td class="txt">
                            <h4>교육기관용(임대)<a href="/buy/estimate">구매하기</a></h4>
                            <dl>
                                <dt>사용권형태</dt>
                                <dd>임대</dd>
                                <dt>계약기간</dt>
                                <dd>1년</dd>
                                <dt>특징 및 혜택</dt>
                                <dd>
                                    <ul>
                                        <li><i>–</i>오프라인 구매만 가능</li>
                                        <li><i>–</i>사용기관/수량이 명시된 인증서와 설치용 패키지 1Set 제공</li>
                                        <li><i>–</i>알약 기업용 제품 사용</li>
                                        <li><i>–</i>계약기간 중 엔진 및 DB업데이트, 고객지원 및 기술 지원 서비스 제공</li>
                                    </ul>
                                </dd>
                            </dl>
                        </td>
                        <td class="btn"><a href="/buy/estimate">구매하기</a></td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
</section>
<% include ../include/footer.ejs %>