<% include ../include/header.ejs %>
<section class="bg_sub_2 bg_buy">
    <div>
        <h2>파트너사</h2>
        <strong>시큐어디스크 파트너</strong>
    </div>
</section>

<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/buy/products">제품구매</a><i>&#62;</i></li>
        <li><a href="/buy/partner_alyac">파트너사</a><i>&#62;</i></li>
        <li>시큐어디스크 파트너</li>
    </ul>
</section>

<!-- 파트너 안내 -->
<section class="container" id="info_partner">
    <h2 class="tit_2">파트너 안내</h2>
    <ul class="clearfix">
        <li>
            <strong>
                골드파트너 <br/>
                (Gold Partner)
            </strong>
            <span>기술지원이 가능한 전문 파트너</span>
        </li>
        <li>
            <strong>
                실버파트너 <br/>
                (Silver Partner)
            </strong>
            <span>대형유통이 가능한 전문 파트너</span>
        </li>
        <li>
            <strong>
                일반파트너 <br/>
                (Partner)
            </strong>
            <span>영업지원이 가능한 전문 파트너</span>
        </li>
    </ul>
    <p>이스트시큐리티와 함께 전략적 파트너십을 맺고, 새로운 비즈니스 기회를 창출할 소중한 파트너사를 모십니다. <br/>
        이스트시큐리티는 상호 신뢰성, 정책 참여도가 검증된 업체를 선별하여, 파트너 레벨에 따른 혜택과 다양한 서비스를 제공하고 있습니다. 또한 파트너 정책을 통해 새로운 비즈니스 기회 창출, 매출 증대 등 원활한 운영을 지원하고, 새로운 영업 기회를 발굴하여 지속적인 성장을 도모합니다.</p>
</section>

<!-- 지원 프로그램 -->
<section class="container" id="prg_partner">
    <h2 class="tit_2">지원 프로그램</h2>
    <ul>
        <li>
            <img src="/images/icon_partner_prg_1.gif" alt="sales" />
            <p>이스트시큐리티와의 협업을 통해 시장 확대 및 신규 비즈니스 개발 기회를 창출할 수 있습니다.</p>
        </li>
        <li>
            <img src="/images/icon_partner_prg_2.gif" alt="Technical" />
            <p>이스트시큐리티의 체계적인 기술지원 시스템을 통해 신속한 기술지원을 제공합니다.</p>
        </li>
        <li>
            <img src="/images/icon_partner_prg_3.gif" alt="Marketing" />
            <p>파트너 및 고객 만족도 향상을 위해 다양한 이벤트와 프로모션을 지원합니다.</p>
        </li>
        <li>
            <img src="/images/icon_partner_prg_4.gif" alt="Education" />
            <p>이스트시큐리티 제품에 대한 기술교육 및 라이선스 정책에 따른 세일즈 교육을 제공해 드립니다.</p>
        </li>
        <li>
            <img src="/images/icon_partner_prg_5.gif" alt="License" />
            <p>기술 교육 완료 후 certification 취득 시 다양한 혜택을 제공해 드립니다.</p>
        </li>
    </ul>
</section>
<div id="partner_process">
    <div class="container">
        <img src="/images/img_partner_process.jpg" alt=""/>
    </div>
    <div class="blind">
        <dl>
            <dt>step.1 고객제안</dt>
            <dd>고객 제안</dd>
            <dd>요구사항 분석</dd>
            <dd>데모 시연</dd>
        </dl>
        <dl>
            <dt>step.2 견적 및 진행</dt>
            <dd>견적 및 요구사항 조율</dd>
            <dd>진행사항 체크</dd>
            <dd>구매 결정</dd>
        </dl>
        <dl>
            <dt>step.3 발주 및 계약</dt>
            <dd>고객과 계약</dd>
            <dd>파트너 또는 총판과 계약</dd>
            <dd>발주</dd>
        </dl>
    </div>
</div>

<!-- 파트너 -->
<section class="container">
    <h2 class="tit_2">파트너</h2>
    <div class="tab_wrap tab_wrap_1" id="tabajax">
        <ul class="tab" id="partner_wrap">
            <li class="active"><a href="#gold_partner" rel="gold_partner">골드파트너 (Gold Partner)</a></li>
            <li><a href="#silver_partner" rel="silver_partner">실버파트너 (Silver Partner)</a></li>
        </ul>
    </div>

    <div class="tab_mobile">
        <select name="urlLink3" id="urlLink3">
            <option value="gold_partner">골드파트너 (Gold Partner)</option>
            <option value="silver_partner">실버파트너 (Silver Partner)</option>
        </select>
    </div>

    <div class="partner_wrap" id="gold_partner">
        <ul>
            <li>
                <div>
                    <a href="http://www.drmit.co.kr" target="_blank"><img src="/images/logo_partner_dream.jpg" alt="드림아이티"/></a>
                    <p>
                        <strong>드림아이티</strong>
                        <a href="tel:051-507-6114">연락처 : 051. 507. 6114</a>
                    </p>
                </div>
                <div>
                   <img src="/images/logo_partner_redi.jpg" alt="리디텍"/>
                    <p>
                        <strong>리디텍</strong>
                        <a href="tel:070-8616-4946">연락처 : 070. 8616. 4946</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.biztov.com/" target="_blank"><img src="/images/logo_partner_biz.jpg" alt="비즈토브"/></a>
                    <p>
                        <strong>비즈토브</strong>
                        <a href="tel:02-2651-1996">연락처 : 02. 2651. 1996</a>
                    </p>
                </div>
                <div>
                   <img src="/images/logo_partner_bit.jpg" alt="비트시스템"/>
                    <p>
                        <strong>비트시스템</strong>
                        <a href="tel:010-2513-5072">연락처 : 010. 2513. 5072</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.softcomz.co.kr" target="_blank"><img src="/images/logo_partner_softcoms.jpg" alt="소프트컴즈"/></a>
                    <p>
                        <strong>소프트컴즈</strong>
                        <a href="tel:070-4027-4151">연락처 : 070. 4027. 4151</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.sysoit.com/" target="_blank"><img src="/images/logo_partner_siso.jpg" alt="시소아이티"/></a>
                    <p>
                        <strong>시소아이티</strong>
                        <a href="tel:02-857-8940">연락처 : 02. 857. 8940</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.itstone.com" target="_blank"><img src="/images/logo_partner_itstone.jpg" alt="아이티스톤"/></a>
                    <p>
                        <strong>아이티스톤</strong>
                        <a href="tel:02-597-0770">연락처 : 02. 597. 0770</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.iter.co.kr" target="_blank"><img src="/images/logo_partner_iter.jpg" alt="아이티어"/></a>
                    <p>
                        <strong>아이티어</strong>
                        <a href="tel:02-2026-4108">연락처 : 02. 2026. 4108</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.anrnet.co.kr" target="_blank"><img src="/images/logo_partner_anr.jpg" alt="에이엔알"/></a>
                    <p>
                        <strong>에이엔알</strong>
                        <a href="tel:031-755-7075">연락처 : 031. 755. 7075</a>
                    </p>
                </div>
                <div></div>
            </li>
        </ul>
    </div>
    <div class="partner_wrap" id="silver_partner" style="display:none;">
        <ul>
            <li>
                <div>
                    <a href="http://www.gluon.co.kr/" target="_blank"><img src="/images/logo_partner_gluon.jpg" alt="글루온아이앤에스"/></a>
                    <p>
                        <strong>글루온아이앤에스</strong>
                        <a href="tel:02-3477-8002">연락처 : 02. 3477. 8002</a>
                    </p>
                </div>
                <div>
                    <img src="/images/logo_partner_namuc.jpg" alt="나무씨엔아이"/>
                    <p>
                        <strong>나무씨엔아이</strong>
                        <a href="tel:031-602-7733">연락처 : 031. 602. 7733</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.neotechnics.co.kr/" target="_blank"><img src="/images/logo_partner_neo.jpg" alt="네오테크닉스"/></a>
                    <p>
                        <strong>네오테크닉스</strong>
                        <a href="tel:02-448-5773">연락처 : 02. 448. 5773</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.duzon.com/" target="_blank"><img src="/images/logo_partner_dzon.jpg" alt="더존비즈온"/></a>
                    <p>
                        <strong>더존비즈온</strong>
                        <a href="tel:02-6233-5221">연락처 : 02. 6233. 5221 ~ 6</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.dongbuinc.co.kr/" target="_blank"><img src="/images/logo_partner_dongbu.jpg" alt="동부"/></a>
                    <p>
                        <strong>동부</strong>
                        <a href="tel:02-2136-6325">연락처 : 02. 2136. 6325</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.raonsns.co.kr/" target="_blank"><img src="/images/logo_partner_raonsns.jpg" alt="라온에스앤에스"/></a>
                    <p>
                        <strong>라온에스앤에스</strong>
                        <a href="tel:02-428-8110">연락처 : 02. 428. 8110</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.roltech.co.kr/" target="_blank"><img src="/images/logo_partner_roltech.jpg" alt="롤텍"/></a>
                    <p>
                        <strong>롤텍</strong>
                        <a href="tel:031-711-7108">연락처 : 031. 711. 7108</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.bsbank.kr/" target="_blank"><img src="/images/logo_partner_bsbank.jpg" alt="비에스뱅크"/></a>
                    <p>
                        <strong>비에스뱅크</strong>
                        <a href="tel:02-865-2310">연락처 : 02. 865. 2310</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.vifine.co.kr/" target="_blank"><img src="/images/logo_partner_vifine.jpg" alt="비파인"/></a>
                    <p>
                        <strong>비파인</strong>
                        <a href="tel:070-7815-8844">연락처 : 070. 7815. 8844</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.sosdata.kr/" target="_blank"><img src="/images/logo_partner_sosdata.jpg" alt="소슬데이타"/></a>
                    <p>
                        <strong>소슬데이타</strong>
                        <a href="tel:02-3447-2060">연락처 : 02. 3447. 2060</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.securityone.co.kr/" target="_blank"><img src="/images/logo_partner_securityone.jpg" alt="씨큐리티원"/></a>
                    <p>
                        <strong>씨큐리티원</strong>
                        <a href="tel:02-461-2514">연락처 : 02. 461. 2514</a>
                    </p>
                </div>
                <div>
                    <a href="http://boanmarket.com/" target="_blank"><img src="/images/logo_partner_boanmarket.jpg" alt="아이마켓코리아"/></a>
                    <p>
                        <strong>아이마켓코리아</strong>
                        <a href="tel:02-3708-8254 ">연락처 : 02. 3708. 8254</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.rtmate.co.kr/" target="_blank"><img src="/images/logo_partner_rtmate.jpg" alt="알티메이트"/></a>
                    <p>
                        <strong>알티메이트</strong>
                        <a href="tel:02-2055-1673">연락처 : 02. 2055. 1673</a>
                    </p>
                </div>
                <div>
                    <img src="/images/logo_partner_sgnine.jpg" alt="에스지나인"/>
                    <p>
                        <strong>에스지나인</strong>
                        <a href="tel:02-466-8985">연락처 : 02. 466. 8985</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.h-one.co.kr/" target="_blank"><img src="/images/logo_partner_h-one.jpg" alt="에이치원"/></a>
                    <p>
                        <strong>에이치원</strong>
                        <a href="tel:02-875-0702">연락처 : 02. 875. 0702</a>
                    </p>
                </div>
                <div>
                    <img src="/images/logo_partner_p&f.jpg" alt="피앤에프"/>
                    <p>
                        <strong>피앤에프</strong>
                        <a href="tel:042-825-7793">연락처 : 042. 825. 7793</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.feelaware.com/" target="_blank"><img src="/images/logo_partner_feelaware.jpg" alt="필라웨어"/></a>
                    <p>
                        <strong>필라웨어</strong>
                        <a href="tel:02-465-5636">연락처 : 02. 465. 5636</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.fujixerox.co.kr" target="_blank"><img src="/images/logo_partner_fujixerox.jpg" alt="한국후지제록스"/></a>
                    <p>
                        <strong>한국후지제록스</strong>
                        <a href="tel:02-310-6107">연락처 : 02. 310. 6107</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.hansys.com/" target="_blank"><img src="/images/logo_partner_hansys.jpg" alt="한빛인포텍"/></a>
                    <p>
                        <strong>한빛인포텍</strong>
                        <a href="tel:02-2202-0058">연락처 : 02. 2202. 0058</a>
                    </p>
                </div>
                <div></div>
            </li>
        </ul>
    </div>

</section>

<section class="consulting">
    <ul>
        <li class="col-md-12">
            <strong>
                이스트시큐리티와 함께 상호 성장하고 발전할 수 있는 <br/>
                파트너사를 기다리고 있습니다.
            </strong>
            <p>
                파트너사 신청과 관련하여 관심있는 기업은 아래 이메일 문의 또는 <a href="mailto:sbizmanage@estsecurity.com" class="txt_green">sbizmanage@estsecurity.com</a>로 연락해 주시기 바랍니다.<br/>
                이스트시큐리티와 함께 나아갈 많은 기업의 소중한 연락을 기다립니다.
            </p>
            <a href="mailto:sbizmanage@estsecurity.com" class="btn_link">이메일 문의</a>
        </li>
    </ul>
</section>
<% include ../include/footer.ejs %>
