<% include ../include/header.ejs %>
<section class="bg_sub_2 bg_buy">
    <div>
        <h2>파트너사</h2>
        <strong>알약 엔드포인트 파트너</strong>
    </div>
</section>

<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/buy/products">제품구매</a><i>&#62;</i></li>
        <li><a href="/buy/partner_alyac">파트너사</a><i>&#62;</i></li>
        <li>알약 엔드포인트 파트너</li>
    </ul>
</section>

<!-- 파트너 안내 -->
<section class="container" id="info_partner">
    <h2 class="tit_2">파트너 안내</h2>
    <ul class="clearfix">
        <li>
            <strong>
                골드파트너 <br/>
                (Gold Partner)
            </strong>
            <span>기술지원이 가능한 전문 파트너</span>
        </li>
        <li>
            <strong>
                실버파트너 <br/>
                (Silver Partner)
            </strong>
            <span>대형유통이 가능한 전문 파트너</span>
        </li>
        <li>
            <strong>
                일반파트너 <br/>
                (Partner)
            </strong>
            <span>영업지원이 가능한 전문 파트너</span>
        </li>
    </ul>
    <p>이스트시큐리티와 함께 전략적 파트너십을 맺고, 새로운 비즈니스 기회를 창출할 소중한 파트너사를 모십니다. <br/>
        이스트시큐리티는 상호 신뢰성, 정책 참여도가 검증된 업체를 선별하여, 파트너 레벨에 따른 혜택과 다양한 서비스를 제공하고 있습니다. 또한 파트너 정책을 통해 새로운 비즈니스 기회 창출, 매출 증대 등 원활한 운영을 지원하고, 새로운 영업 기회를 발굴하여 지속적인 성장을 도모합니다.</p>
</section>

<!-- 지원 프로그램 -->
<section class="container" id="prg_partner">
    <h2 class="tit_2">지원 프로그램</h2>
    <ul>
        <li>
            <img src="/images/icon_partner_prg_1.gif" alt="sales" />
            <p>이스트시큐리티와의 협업을 통해 시장 확대 및 신규 비즈니스 개발 기회를 창출할 수 있습니다.</p>
        </li>
        <li>
            <img src="/images/icon_partner_prg_2.gif" alt="Technical" />
            <p>이스트시큐리티의 체계적인 기술지원 시스템을 통해 신속한 기술지원을 제공합니다.</p>
        </li>
        <li>
            <img src="/images/icon_partner_prg_3.gif" alt="Marketing" />
            <p>파트너 및 고객 만족도 향상을 위해 다양한 이벤트와 프로모션을 지원합니다.</p>
        </li>
        <li>
            <img src="/images/icon_partner_prg_4.gif" alt="Education" />
            <p>이스트시큐리티 제품에 대한 기술교육 및 라이선스 정책에 따른 세일즈 교육을 제공해 드립니다.</p>
        </li>
        <li>
            <img src="/images/icon_partner_prg_5.gif" alt="License" />
            <p>기술 교육 완료 후 certification 취득 시 다양한 혜택을 제공해 드립니다.</p>
        </li>
    </ul>
</section>
<div id="partner_process">
    <div class="container">
        <img src="/images/img_partner_process.jpg" alt=""/>
    </div>
    <div class="blind">
        <dl>
            <dt>step.1 고객제안</dt>
            <dd>고객 제안</dd>
            <dd>요구사항 분석</dd>
            <dd>데모 시연</dd>
        </dl>
        <dl>
            <dt>step.2 견적 및 진행</dt>
            <dd>견적 및 요구사항 조율</dd>
            <dd>진행사항 체크</dd>
            <dd>구매 결정</dd>
        </dl>
        <dl>
            <dt>step.3 발주 및 계약</dt>
            <dd>고객과 계약</dd>
            <dd>파트너 또는 총판과 계약</dd>
            <dd>발주</dd>
        </dl>
    </div>
</div>

<!-- 총판파트너 -->
<section class="container">
    <h2 class="tit_2">알약 엔드포인트 공공 총판파트너</h2>
    <div class="sole_partner">
        <h4 class="blind">가온아이</h4>
        <div>
            <p>가온아이는 2000년 21세기의 시작과 함께 첫 걸음을 내디딘 이래 대기업을 비롯하여 공공, 대학, 금융, 그룹사, 기업, Telco 등 다양한 산업영역에 커뮤니케이션과 협업 패키지 솔루션, SaaS 서비스, IT 유통 서비스를 제공하면서 IT 종합 서비스 회사로 성장하여 왔습니다.</p>
            <span><em>주소 :</em> 서울 강남구 봉은사로 129-1</span>
            <span><em>연락처 :</em> 02. 2140. 5782</span>
            <a href="mailto:securitybiz@kaoni.com">이메일 문의</a>
        </div>
    </div>
</section>

<!-- 지역별파트너 -->
<section class="container">
    <h2 class="tit_2">지역별파트너</h2>
    <div class="tab_wrap tab_wrap_1" id="tabajax">
        <ul class="tab" id="partner_wrap">
            <li class="active"><a href="#company_partner" rel="company_partner">기업기관</a></li>
            <li><a href="#public_partner" rel="public_partner">공공기관</a></li>
            <li><a href="#edu_partner" rel="edu_partner">교육기관</a></li>
        </ul>
    </div>

    <div class="tab_mobile">
        <select name="urlLink3" id="urlLink3">
            <option value="company_partner">기업기관</option>
            <option value="public_partner">공공기관</option>
            <option value="edu_partner">교육기관</option>
        </select>
    </div>

    <div class="partner_wrap" id="company_partner">
        <h4>수도권</h4>
        <ul>
            <li>
                <div>
                    <a href="http://www.gluon.co.kr/" target="_blank"><img src="/images/logo_partner_gluon.jpg" alt="글루온아이앤에스"/></a>
                    <p>
                        <strong>글루온아이앤에스</strong>
                        <a href="tel:02-3477-8002">연락처 : 02. 3477. 8002</a>
                        <a href="mailto:kimjs@gluon.co.kr">이메일 : kimjs@gluon.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.tangunsoft.com/Front/Index" target="_blank"><img src="/images/logo_partner_tangun.jpg" alt="단군소프트"/></a>
                    <p>
                        <strong>단군소프트</strong>
                        <a href="tel:02-6206-2545">연락처 : 02. 6206. 2545</a>
                        <a href="mailto:hyy@tangunsoft.com">이메일 : hyy@tangunsoft.com</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.softbest.co.kr/main/index.php" target="_blank"><img src="/images/logo_partner_mindon.jpg" alt="마인드온"/></a>
                    <p>
                        <strong>마인드온</strong>
                        <a href="tel:02-717-3788">연락처 : 02. 717. 3788</a>
                        <a href="mailto:ykh@softbest.co.kr">이메일 : ykh@softbest.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.sosdata.kr/company/company_01.asp" target="_blank"><img src="/images/logo_partner_sosle.jpg" alt="소슬데이타"/></a>
                    <p>
                        <strong>소슬데이타</strong>
                        <a href="tel:02-3447-2060">연락처 : 02. 3447. 2060</a>
                        <a href="mailto:jhkim@sosdata.kr">이메일 : jhkim@sosdata.kr</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.softverk.co.kr/html/" target="_blank"><img src="/images/logo_partner_softverk.jpg" alt="소프트베르크"/></a>
                    <p>
                        <strong>소프트베르크</strong>
                        <a href="tel:02-569-3077">연락처 : 02. 569. 3077</a>
                        <a href="mailto:khlee@softverk.co.kr">이메일 : khlee@softverk.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.soft2k.co.kr/html/main/main.asp" target="_blank"><img src="/images/logo_partner_soft2000.jpg" alt="소프트이천"/></a>
                    <p>
                        <strong>소프트이천</strong>
                        <a href="tel:02-553-2331">연락처 : 02. 553. 2331</a>
                        <a href="mailto:nyk0112@softmarket.co.kr">이메일 : nyk0112@softmarket.co.kr</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.softinfo.co.kr/" target="_blank"><img src="/images/logo_partner_softinfo.jpg" alt="소프트정보서비스"/></a>
                    <p>
                        <strong>소프트정보서비스</strong>
                        <a href="tel:02-716-1915">연락처 : 02. 716. 1915</a>
                        <a href="mailto:jbshin@softinfo.co.kr">이메일 : jbshin@softinfo.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.3splanner.co.kr/" target="_blank"><img src="/images/logo_partner_3s.jpg" alt="쓰리에스플래너"/></a>
                    <p>
                        <strong>쓰리에스플래너</strong>
                        <a href="tel:02-2055-2064">연락처 : 02. 2055. 2064</a>
                        <a href="mailto:swlee@3splanner.co.kr">이메일 : swlee@3splanner.co.kr</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.itstone.com/" target="_blank"><img src="/images/logo_partner_itstone.jpg" alt="아이티스톤"/></a>
                    <p>
                        <strong>아이티스톤</strong>
                        <a href="tel:02-597-0770">연락처 : 02. 597. 0770</a>
                        <a href="mailto:hspark@itstone.com">이메일 : hspark@itstone.com</a>
                    </p>
                </div>
                <div>
                    <a href="#n"><img src="/images/logo_partner_sgnine.jpg" alt="에스지나인"/></a>
                    <p>
                        <strong>에스지나인</strong>
                        <a href="tel:02-466-8985">연락처 : 02. 466. 8985</a>
                        <a href="mailto:upinel@sgnine.co.kr">이메일 : upinel@sgnine.co.kr</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.echolight.co.kr/" target="_blank"><img src="/images/logo_partner_echolight.jpg" alt="에코라이트"/></a>
                    <p>
                        <strong>에코라이트</strong>
                        <a href="tel:02-6259-3500">연락처 : 02. 6259. 3500</a>
                        <a href="mailto:jijeon@echolight.co.kr">이메일 : jijeon@echolight.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.orangetech.co.kr/home/" target="_blank"><img src="/images/logo_partner_orangetech.jpg" alt="오렌지테크"/></a>
                    <p>
                        <strong>오렌지테크</strong>
                        <a href="tel:02-562-7009">연락처 : 02. 562. 7009</a>
                        <a href="mailto:esan@orangetech.co.kr">이메일 : esan@orangetech.co.kr</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://unionsoft.co.kr/main/index.php?" target="_blank"><img src="/images/logo_partner_unionsoft.jpg" alt="유니온시스템즈"/></a>
                    <p>
                        <strong>유니온시스템즈</strong>
                        <a href="tel:02-706-8999">연락처 : 02. 706. 8999</a>
                        <a href="mailto:yongs@unionsoft.co.kr">이메일 : yongs@unionsoft.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://21soft.co.kr/main/" target="_blank"><img src="/images/logo_partner_21csoft.jpg" alt="이십일세기소프트"/></a>
                    <p>
                        <strong>이십일세기소프트</strong>
                        <a href="tel:02-2628-5566">연락처 : 02. 2628. 5566</a>
                        <a href="mailto:ejyoon@21soft.co.kr">이메일 : ejyoon@21soft.co.kr</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.indienet.co.kr/" target="_blank"><img src="/images/logo_partner_indienet.jpg" alt="인디넷"/></a>
                    <p>
                        <strong>인디넷</strong>
                        <a href="tel:02-2026-3872">연락처 : 02. 2026. 3872</a>
                        <a href="mailto:sjlee@indienet.co.kr">이메일 : sjlee@indienet.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://softtown.co.kr/shop/main/index.php" target="_blank"><img src="/images/logo_partner_softtown.jpg" alt="좋은정보시스템"/></a>
                    <p>
                        <strong>좋은정보시스템</strong>
                        <a href="tel:02-3275-0056">연락처 : 02. 3275. 0056</a>
                        <a href="mailto:mkb@softtown.co.kr">이메일 : mkb@softtown.co.kr</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://probitinc.co.kr/" target="_blank"><img src="/images/logo_partner_probitinc.jpg" alt="프로비트아이앤씨"/></a>
                    <p>
                        <strong>프로비트아이앤씨</strong>
                        <a href="tel:02-577-0271">연락처 : 02. 577. 0271</a>
                        <a href="mailto:sun@probitinc.co.kr">이메일 : sun@probitinc.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://haesoldata.co.kr/" target="_blank"><img src="/images/logo_partner_haesol.jpg" alt="해솔데이타"/></a>
                    <p>
                        <strong>해솔데이타</strong>
                        <a href="tel:02-783-7812">연락처 : 02. 783. 7812</a>
                        <a href="mailto:syjin@haesoldata.co.kr">이메일 : syjin@haesoldata.co.kr</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>경북</h4>
        <ul>
            <li>
                <div class="left">
                    <a href="http://willow-tech.co.kr/" target="_blank"><img src="/images/logo_partner_willow.jpg" alt="윌로우테크"/></a>
                    <p>
                        <strong>윌로우테크</strong>
                        <a href="tel:053-525-3366">연락처 : 053. 525. 3366</a>
                        <a href="mailto:hsbyun@willow-tech.co.kr">이메일 : hsbyun@willow-tech.co.kr</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>경남</h4>
        <ul>
            <li>
                <div>
                    <a href="http://www.greatworks.co.kr/" target="_blank"><img src="/images/logo_partner_greatworks.jpg" alt="대형웍스"/></a>
                    <p>
                        <strong>대형웍스</strong>
                        <a href="tel:055-277-7557">연락처 : 055. 277. 7557</a>
                        <a href="mailto:oozooin@greatworks.co.kr">이메일 : oozooin@greatworks.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://softsoft.co.kr/html/index.php" target="_blank"><img src="/images/logo_partner_dream.jpg" alt="드림아이티"/></a>
                    <p>
                        <strong>드림아이티</strong>
                        <a href="tel:051-507-6114">연락처 : 051. 507. 6114</a>
                        <a href="mailto:bkchoi@drmit.co.kr">이메일 : bkchoi@drmit.co.kr</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://1aopen.com/" target="_blank"><img src="/images/logo_partner_1aopen.jpg" alt="일아오픈"/></a>
                    <p>
                        <strong>일아오픈</strong>
                        <a href="tel:051-744-7566">연락처 : 051. 744. 7566</a>
                        <a href="mailto:sjkim@1aopen.com">이메일 : sjkim@1aopen.com</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.jstmall.co.kr/" target="_blank"><img src="/images/logo_partner_jsoft.jpg" alt="제이소프트기술"/></a>
                    <p>
                        <strong>제이소프트기술</strong>
                        <a href="tel:052-223-1472">연락처 : 052. 223. 1472</a>
                        <a href="mailto:kfox@jsofttech.co.kr">이메일 : kfox@jsofttech.co.kr</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>충청</h4>
        <ul>
            <li>
                <div class="left">
                    <a href="http://inchal.co.kr/" target="_blank"><img src="/images/logo_partner_inchal.jpg" alt="㈜인챌"/></a>
                    <p>
                        <strong>㈜인챌</strong>
                        <a href="tel:042-471-3303">연락처 : 042. 471. 3303</a>
                        <a href="mailto:shlee@inchal.co.kr">이메일 : shlee@inchal.co.kr</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>전남</h4>
        <ul>
            <li>
                <div>
                    <a href="http://www.badaman.co.kr/main/main.php" target="_blank"><img src="/images/logo_partner_badaman.jpg" alt="바다정보"/></a>
                    <p>
                        <strong>바다정보</strong>
                        <a href="tel:062-236-3330">연락처 : 062. 236. 3330</a>
                        <a href="mailto:admin2@badaman.co.kr">이메일 : admin2@badaman.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.thesoftn.com/index.asp" target="_blank"><img src="/images/logo_partner_soft&comp.jpg" alt="소프트앤컴퍼니"/></a>
                    <p>
                        <strong>소프트앤컴퍼니</strong>
                        <a href="tel:062-350-8931">연락처 : 062. 350. 8931</a>
                        <a href="mailto:Jmju78@gmail.com">이메일 : Jmju78@gmail.com</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="partner_wrap" id="public_partner" style="display:none;">
        <h4>수도권</h4>
        <ul>
            <li>
                <div>
                    <a href="http://www.neotechnics.co.kr/" target="_blank"><img src="/images/logo_partner_neo.jpg" alt="네오테크닉스"/></a>
                    <p>
                        <strong>네오테크닉스</strong>
                        <a href="tel:02-448-5773">연락처 : 02. 448. 5773</a>
                        <a href="mailto:scjeong@neotechnics.co.kr">이메일 : scjeong@neotechnics.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://softnc.co.kr/main/index.php" target="_blank"><img src="/images/logo_partner_soft&c.jpg" alt="소프트앤씨"/></a>
                    <p>
                        <strong>소프트앤씨</strong>
                        <a href="tel:02-712-5200">연락처 : 02. 712. 5200</a>
                        <a href="mailto:hjkwon@softnc.co.kr">이메일 : hjkwon@softnc.co.kr</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.soft11.co.kr/" target="_blank"><img src="/images/logo_partner_soft11.jpg" alt="소프트일레븐"/></a>
                    <p>
                        <strong>소프트일레븐</strong>
                        <a href="tel:031-337-6611">연락처 : 031. 337. 6611</a>
                        <a href="mailto:kong@soft11.co.kr">이메일 : kong@soft11.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://iteo.co.kr/" target="_blank"><img src="/images/logo_partner_iteo.jpg" alt="아이테오솔루션즈"/></a>
                    <p>
                        <strong>아이테오솔루션즈</strong>
                        <a href="tel:02-2069-0797">연락처 : 02. 2069. 0797</a>
                        <a href="mailto:ts_song@iteo.co.kr">이메일 : ts_song@iteo.co.kr</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://anser.kr/work/" target="_blank"><img src="/images/logo_partner_answer.jpg" alt="앤서시스템"/></a>
                    <p>
                        <strong>앤서시스템</strong>
                        <a href="tel:02-712-4520">연락처 : 02. 712. 4520</a>
                        <a href="mailto:soon@anser.kr">이메일 : soon@anser.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.orangetech.co.kr/home/" target="_blank"><img src="/images/logo_partner_orangetech.jpg" alt="오렌지테크"/></a>
                    <p>
                        <strong>오렌지테크</strong>
                        <a href="tel:02-562-7009">연락처 : 02. 562. 7009</a>
                        <a href="mailto:esan@orangetech.co.kr">이메일 : esan@orangetech.co.kr</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.worldnet21.co.kr/" target="_blank"><img src="/images/logo_partner_worldkorea.jpg" alt="월드넷코리아"/></a>
                    <p>
                        <strong>월드넷코리아</strong>
                        <a href="tel:032-551-7713">연락처 : 032. 551. 7713</a>
                        <a href="mailto:janghee112@empal.com">이메일 : janghee112@empal.com</a>
                    </p>
                </div>
                <div>
                    <a href="#n"><img src="/images/logo_partner_etechvision.jpg" alt="이테크비전"/></a>
                    <p>
                        <strong>이테크비전</strong>
                        <a href="tel:02-566-3386">연락처 : 02. 566. 3386</a>
                        <a href="mailto:jyg@etechvision.co.kr">이메일 : jyg@etechvision.co.kr</a>
                    </p>
                </div>
            </li>
            <li>
                <div class="left">
                    <a href="http://krinfra.co.kr/" target="_blank"><img src="/images/logo_partner_koreainfra.jpg" alt="한국인프라"/></a>
                    <p>
                        <strong>한국인프라</strong>
                        <a href="tel:02-6240-5021">연락처 : 02. 6240. 5021</a>
                        <a href="mailto:chchun@krinfra.co.kr">이메일 : chchun@krinfra.co.kr</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>경북</h4>
        <ul>
            <li>
                <div>
                    <a href="http://www.moa-net.co.kr/" target="_blank"><img src="/images/logo_partner_moanet.jpg" alt="모아넷"/></a>
                    <p>
                        <strong>모아넷</strong>
                        <a href="tel:053-958-7664">연락처 : 053. 958. 7664</a>
                        <a href="mailto:ahnbj@moa-net.co.kr">이메일 : ahnbj@moa-net.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://gensoft.co.kr/" target="_blank"><img src="/images/logo_partner_zensoft.jpg" alt="젠소프트"/></a>
                    <p>
                        <strong>젠소프트</strong>
                        <a href="tel:053-951-4360">연락처 : 053. 951. 4360</a>
                        <a href="mailto:junoshin@gensoft.co.kr">이메일 : junoshin@gensoft.co.kr</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>경남</h4>
        <ul>
            <li>
                <div class="left">
                    <a href="http://www.rainno.co.kr/" target="_blank"><img src="/images/logo_partner_rainno.jpg" alt="㈜라이노정보기술(가희아이티)"/></a>
                    <p>
                        <strong>㈜라이노정보기술(가희아이티)</strong>
                        <a href="tel:055-356-4700">연락처 : 055. 356. 4700</a>
                        <a href="mailto:ljj@rainno.co.kr">이메일 : ljj@rainno.co.kr</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>강원</h4>
        <ul>
            <li>
                <div class="left">
                    <a href="#n"><img src="/images/logo_partner_tis.jpg" alt="티아이에스"/></a>
                    <p>
                        <strong>티아이에스</strong>
                        <a href="tel:033-651-4365">연락처 : 033. 651. 4365</a>
                        <a href="mailto:bkg77@paran.com">이메일 : bkg77@paran.com</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>충청</h4>
        <ul>
            <li>
                <div class="left">
                    <a href="http://inchal.co.kr/" target="_blank"><img src="/images/logo_partner_inchal.jpg" alt="㈜인챌"/></a>
                    <p>
                        <strong>㈜인챌</strong>
                        <a href="tel:042-471-3303">연락처 : 042. 471. 3303</a>
                        <a href="mailto:shlee@inchal.co.kr">이메일 : shlee@inchal.co.kr</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>전북</h4>
        <ul>
            <li>
                <div class="left">
                    <a href="http://www.siwon.info/index.html" target="_blank"><img src="/images/logo_partner_siwon.jpg" alt="시원"/></a>
                    <p>
                        <strong>시원</strong>
                        <a href="tel:063-274-4684">연락처 : 063. 274. 4684</a>
                        <a href="mailto:dreamj11@comtecit.co.kr">이메일 : dreamj11@comtecit.co.kr</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>전남</h4>
        <ul>
            <li>
                <div>
                    <a href="#n"><img src="/images/logo_partner_rsoft.jpg" alt="R-소프트"/></a>
                    <p>
                        <strong>R-소프트</strong>
                        <a href="tel:061-287-9501">연락처 : 061. 287. 9501</a>
                        <a href="mailto:goindol@live.co.kr">이메일 : goindol@live.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="#n"><img src="/images/logo_partner_networksystem.jpg" alt="네트워크시스템"/></a>
                    <p>
                        <strong>네트워크시스템</strong>
                        <a href="tel:061-287-0365">연락처 : 061. 287. 0365</a>
                        <a href="mailto:sales@networksystem.kr">이메일 : sales@networksystem.kr</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="partner_wrap" id="edu_partner" style="display:none;">
        <h4>수도권</h4>
        <ul>
            <li>
                <div>
                    <a href="http://www.neotechnics.co.kr/" target="_blank"><img src="/images/logo_partner_neo.jpg" alt="네오테크닉스"/></a>
                    <p>
                        <strong>네오테크닉스</strong>
                        <a href="tel:02-448-5773">연락처 : 02. 448. 5773</a>
                        <a href="mailto:scjeong@neotechnics.co.kr">이메일 : scjeong@neotechnics.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.pageaz.co.kr/" target="_blank"><img src="/images/logo_partner_softpage.jpg" alt="소프트페이지"/></a>
                    <p>
                        <strong>소프트페이지</strong>
                        <a href="tel:02-6925-5381">연락처 : 02. 6925. 5381</a>
                        <a href="mailto:softhwang@softpage.co.kr">이메일 : softhwang@softpage.co.kr</a>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.esoftpia.co.kr/" target="_blank"><img src="/images/logo_partner_softpia.jpg" alt="소프트피아"/></a>
                    <p>
                        <strong>소프트피아</strong>
                        <a href="tel:02-1544-5207">연락처 : 02. 1544. 5207</a>
                        <a href="mailto:sanggam@esoftpia.co.kr">이메일 : sanggam@esoftpia.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://wisecore.co.kr/" target="_blank"><img src="/images/logo_partner_wisecore.jpg" alt="와이즈코아"/></a>
                    <p>
                        <strong>와이즈코아</strong>
                        <a href="tel:02-784-0835">연락처 : 02. 784. 0835</a>
                        <a href="mailto:ys81@wisecore.co.kr">이메일 : ys81@wisecore.co.kr</a>
                    </p>
                </div>
            </li>
            <li>
                <div class="left">
                    <a href="http://infinet.co.kr/" target="_blank"><img src="/images/logo_partner_infinet.jpg" alt="인피네트"/></a>
                    <p>
                        <strong>인피네트</strong>
                        <a href="tel:02-2057-3550">연락처 : 02. 2057. 3550</a>
                        <a href="mailto:yhkang@infinet.co.kr">이메일 : yhkang@infinet.co.kr</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>경북</h4>
        <ul>
            <li>
                <div>
                    <a href="#n"><img src="/images/logo_partner_whsolution.jpg" alt="WH솔루션"/></a>
                    <p>
                        <strong>WH솔루션</strong>
                        <a href="tel:053-383-4996">연락처 : 053. 383. 4996</a>
                        <a href="mailto:bjpark@whsolution.co.kr">이메일 : bjpark@whsolution.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://gensoft.co.kr/" target="_blank"><img src="/images/logo_partner_zensoft.jpg" alt="젠소프트"/></a>
                    <p>
                        <strong>젠소프트</strong>
                        <a href="tel:053-951-4360">연락처 : 053. 951. 4360</a>
                        <a href="mailto:junoshin@gensoft.co.kr">이메일 : junoshin@gensoft.co.kr</a>
                    </p>
                </div>
            </li>
            <li>
                <div class="left">
                    <a href="http://www.coreinfo.biz/Kor/" target="_blank"><img src="/images/logo_partner_coreinfo.jpg" alt="코아인포메이션"/></a>
                    <p>
                        <strong>코아인포메이션</strong>
                        <a href="tel:070-4005-7876">연락처 : 070. 4005. 7876</a>
                        <a href="mailto:jsshin@coreinfo.biz">이메일 : jsshin@coreinfo.biz</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>경남</h4>
        <ul>
            <li>
                <div>
                    <a href="http://softsoft.co.kr/html/index.php" target="_blank"><img src="/images/logo_partner_dreamit.jpg" alt="드림아이티"/></a>
                    <p>
                        <strong>드림아이티</strong>
                        <a href="tel:051-507-6114">연락처 : 051. 507. 6114</a>
                        <a href="mailto:bkchoi@drmit.co.kr">이메일 : bkchoi@drmit.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.shint.co.kr/" target="_blank"><img src="/images/logo_partner_sunghwa.jpg" alt="성화아이앤티"/></a>
                    <p>
                        <strong>성화아이앤티</strong>
                        <a href="tel:051-583-2245">연락처 : 051. 583. 2245</a>
                        <a href="mailto:smt@shint.co.kr">이메일 : smt@shint.co.kr</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>강원</h4>
        <ul>
            <li>
                <div>
                    <a href="http://www.dsnw.net/" target="_blank"><img src="/images/logo_partner_dashin.jpg" alt="대신네트웍스"/></a>
                    <p>
                        <strong>대신네트웍스</strong>
                        <a href="tel:070-7013-0021">연락처 : 070. 7013. 0021</a>
                        <a href="mailto:ckbae@dsnw.net">이메일 : ckbae@dsnw.net</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.ecds.co.kr/" target="_blank"><img src="/images/logo_partner_cds.jpg" alt="씨디에스"/></a>
                    <p>
                        <strong>씨디에스</strong>
                        <a href="tel:033-257-3001">연락처 : 033. 257. 3001</a>
                        <a href="mailto:cds@ecds.co.kr">이메일 : cds@ecds.co.kr</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>충청</h4>
        <ul>
            <li>
                <div class="left">
                    <a href="http://www.infomade.co.kr/" target="_blank"><img src="/images/logo_partner_infomade.jpg" alt="㈜인포메이드"/></a>
                    <p>
                        <strong>㈜인포메이드</strong>
                        <a href="tel:042-527-8686">연락처 : 042. 527. 8686</a>
                        <a href="mailto:jji@infomade.co.kr">이메일 : jji@infomade.co.kr</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>전북</h4>
        <ul>
            <li>
                <div>
                    <a href="http://www.siwon.info/index.html" target="_blank"><img src="/images/logo_partner_siwon.jpg" alt="시원"/></a>
                    <p>
                        <strong>시원</strong>
                        <a href="tel:063-274-4684">연락처 : 063. 274. 4684</a>
                        <a href="mailto:dreamj11@comtecit.co.kr">이메일 : dreamj11@comtecit.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="#n"><img src="/images/logo_partner_haewang.jpg" alt="해왕아이티"/></a>
                    <p>
                        <strong>해왕아이티</strong>
                        <a href="tel:063-902-9088">연락처 : 063. 902. 9088</a>
                        <a href="mailto:withgo@withgo.biz">이메일 : withgo@withgo.biz</a>
                    </p>
                </div>
            </li>
            <li>
                <div class="left">
                    <a href="http://www.headit.co.kr/" target="_blank"><img src="/images/logo_partner_headit.jpg" alt="헤드아이티"/></a>
                    <p>
                        <strong>헤드아이티</strong>
                        <a href="tel:063-243-8972">연락처 : 063. 243. 8972</a>
                        <a href="mailto:bjmin@headit.co.kr">이메일 : bjmin@headit.co.kr</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>전남</h4>
        <ul>
            <li>
                <div>
                    <a href="#n"><img src="/images/logo_partner_rsoft.jpg" alt="R-소프트"/></a>
                    <p>
                        <strong>R-소프트</strong>
                        <a href="tel:061-287-9501">연락처 : 061. 287. 9501</a>
                        <a href="mailto:goindol@live.co.kr">이메일 : goindol@live.co.kr</a>
                    </p>
                </div>
                <div>
                    <a href="http://www.dnsoft.net/web/main/mainLayout.do" target="_blank"><img src="/images/logo_partner_dotnetsoft.jpg" alt="닷넷소프트"/></a>
                    <p>
                        <strong>닷넷소프트</strong>
                        <a href="tel:062-372-6166">연락처 : 062. 372. 6166</a>
                        <a href="mailto:hwchoi@dnsoft.net">이메일 : hwchoi@dnsoft.net</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>제주</h4>
        <ul>
            <li>
                <div class="left">
                    <a href="http://www.orumsys.com/" target="_blank"><img src="/images/logo_partner_orum.jpg" alt="오름정보기술"/></a>
                    <p>
                        <strong>오름정보기술</strong>
                        <a href="tel:064-745-4166">연락처 : 064. 745. 4166</a>
                        <a href="mailto:rs06000@empal.com">이메일 : rs06000@empal.com</a>
                    </p>
                </div>
            </li>
        </ul>

        <h4>방과후학교특약</h4>
        <ul>
            <li>
                <div class="left">
                    <a href="http://www.waremate.com/main/main.php" target="_blank"><img src="/images/logo_partner_waremate.jpg" alt="웨어메이트"/></a>
                    <p>
                        <strong>웨어메이트</strong>
                        <a href="tel:02-2226-2500">연락처 : 02. 2226. 2500</a>
                        <a href="mailto:bsjin@waremate.com">이메일 : bsjin@waremate.com</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>

</section>

<section class="consulting">
    <ul>
        <li class="col-md-12">
            <strong>
                이스트시큐리티와 함께 상호 성장하고 발전할 수 있는 <br/>
                파트너사를 기다리고 있습니다.
            </strong>
            <p>
                파트너사 신청과 관련하여 관심있는 기업은 아래 이메일 문의 또는 <a href="mailto:sbizmanage@estsecurity.com" class="txt_green">sbizmanage@estsecurity.com</a>로 연락해 주시기 바랍니다.<br/>
                이스트시큐리티와 함께 나아갈 많은 기업의 소중한 연락을 기다립니다.
            </p>
            <a href="mailto:sbizmanage@estsecurity.com" class="btn_link">이메일 문의</a>
        </li>
    </ul>
</section>
<% include ../include/footer.ejs %>
