<% include ../include/header.ejs %>
<section class="bg_sub_2 bg_buy">
    <div>
        <h2>구매</h2>
        <strong>보안환경에 적합한 보안제품을 소개해 드립니다.</strong>
        <p>
            * 기업,(비)영리법인, 공공기관, 교육기관, 인터넷 PC방에서는 라이선스 구매 후 사용가능합니다.<br />
            * 기간 연장은 알약 사용기간을 연장하는 재구매 과정으로, 신규 구매단가의 약 30%를 할인해 드립니다.<br />
            * 사용기간의 종료일부터 1개월까지 기간연장이 가능하며, 이후에는 신규 구매절차가 적용됩니다.<br />
        </p>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/buy/products">제품구매</a><i>&#62;</i></li>
        <li><a href="/buy/products">구매</a><i>&#62;</i></li>
        <li>보안제품구매</li>
    </ul>
</section>
<section class="container">
    <div class="tab_wrap tab_wrap_1 ">
        <ul class="tab">
            <li class="active"><a href="#">전체 제품</a></li>
            <li data-type="endpoint"><a href="#n">엔드포인트 보안</a></li>
            <li data-type="intelligence"><a href="#n">인텔리전스 보안</a></li>
            <li data-type="dataSecurity"><a href="#n">데이터 보안</a></li>
        </ul>
    </div>
    <div class="tab_mobile">
        <select name="urlLink2" id="urlLink2">
            <option value="#">전체 제품</option>
            <option value="#" data-type="endpoint">엔드포인트 보안</option>
            <option value="#" data-type="intelligence">인텔리전스 보안</option>
            <option value="#" data-type="dataSecurity">데이터 보안</option>
        </select>
    </div>

</section>
<section class="container">
    <div class="buy_list_security">
        <ul>
            <li data-type="endpoint">
                <div class="col-md-2"><a href="/product/alyac_enterprise"><img src="/images/img_buy_thumb_alyac.jpg" alt="알약 기업용" /></a></div>
                <div class="col-md-8">
                    <a href="/product/alyac_enterprise" class="company">
                        <span class="blind">기업용</span>
                        <strong>알약 기업용</strong>
                        <p>엔터프라이즈 보안을 위한 강력한 통합백신</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://secure.altools.co.kr/buy/" target="_blank" class="btn">구매하기</a>
                </div>
            </li>
            <li data-type="endpoint">
                <div class="col-md-2"><a href="/product/alyac_enterprise"><img src="/images/img_buy_thumb_alyac.jpg" alt="알약 공공기관용" /></a></div>
                <div class="col-md-8">
                    <a href="/product/alyac_enterprise" class="public">
                        <span class="blind">공공기관용</span>
                        <strong>알약 공공기관용</strong>
                        <p>공공기관 보안을 위한 강력한 통합백신</p>
                    </a>
                </div>
                <div class="col-md-2"><a href="/buy/estimate" class="btn">구매문의</a></div>
            </li>
            <li data-type="endpoint">
                <div class="col-md-2"><a href="/product/alyac_enterprise"><img src="/images/img_buy_thumb_alyac.jpg" alt="알약 교육기관용" /></a></div>
                <div class="col-md-8">
                    <a href="/product/alyac_enterprise" class="education">
                        <span class="blind">공공기관용</span>
                        <strong>알약 교육기관용</strong>
                        <p>교육기관 보안을 위한 강력한 통합백신</p>
                    </a>
                </div>
                <div class="col-md-2"><a href="/buy/estimate" class="btn">구매문의</a></div>
            </li>
            <li data-type="endpoint">
                <div class="col-md-2"><a href="/product/exploitshield_enterprise"><img src="/images/img_buy_thumb_shield.jpg" alt="알약 익스플로잇 쉴드 기업용" /></a></div>
                <div class="col-md-8">
                    <a href="/product/exploitshield_enterprise" class="company">
                        <span class="blind">기업용</span>
                        <strong>알약 익스플로잇 쉴드 기업용</strong>
                        <p>취약점 공격 방어까지 빈틈없는 보안 업그레이드</p>
                    </a>
                </div>
                <div class="col-md-2"><a href="https://secure.altools.co.kr/buy/" target="_blank" class="btn">구매하기</a></div>
            </li>
            <li data-type="endpoint">
                <div class="col-md-2"><a href="/product/alyac_sever"><img src="/images/img_buy_thumb_alyac_svr.jpg" alt="알약 서버용" /></a></div>
                <div class="col-md-8">
                    <a href="/product/alyac_sever" class="total">
                        <span class="blind">공통</span>
                        <strong>알약 서버용</strong>
                        <p>24시간 빈틈없는 탐지력</p>
                    </a>
                </div>
                <div class="col-md-2"><a href="/buy/estimate" class="btn">구매문의</a></div>
            </li>
            <li data-type="endpoint">
                <div class="col-md-2"><a href="/product/linux_unix"><img src="/images/img_buy_thumb_linux.jpg" alt="알약 for Linux/Unix" /></a></div>
                <div class="col-md-8">
                    <a href="/product/linux_unix" class="total">
                        <span class="blind">공통</span>
                        <strong>알약 for Linux/Unix</strong>
                        <p>리눅스/유닉스 서버를 위한 최적의 백신 솔루션</p>
                    </a>
                </div>
                <div class="col-md-2"><a href="/buy/estimate" class="btn">구매문의</a></div>
            </li>
            <li data-type="endpoint">
                <div class="col-md-2"><a href="/product/asm"><img src="/images/img_buy_thumb_asm.jpg" alt="ASM" /></a></div>
                <div class="col-md-8">
                    <a href="/product/asm" class="total">
                        <span class="blind">공통</span>
                        <strong>ASM</strong>
                        <p>기업 통합 보안관리의 중심</p>
                    </a>
                </div>
                <div class="col-md-2"><a href="/buy/estimate" class="btn">구매문의</a></div>
            </li>
            <li data-type="endpoint">
                <div class="col-md-2"><a href="/product/mypc"><img src="/images/img_buy_thumb_mypc.jpg" alt="알약 내PC지키미" /></a></div>
                <div class="col-md-8">
                    <a href="/product/mypc" class="total">
                        <span class="blind">공통</span>
                        <strong>알약 내PC지키미</strong>
                        <p>내 PC보안 스마트 진단</p>
                    </a>
                </div>
                <div class="col-md-2"><a href="/buy/estimate" class="btn">구매문의</a></div>
            </li>
            <li data-type="endpoint">
                <div class="col-md-2"><a href="/product/pms"><img src="/images/img_buy_thumb_mypc_c.jpg" alt="알약 패치관리" /></a></div>
                <div class="col-md-8">
                    <a href="/product/pms" class="total">
                        <span class="blind">공통</span>
                        <strong>알약 패치관리 (PMS)</strong>
                        <p>안전하고 효율적인 패치관리 솔루션</p>
                    </a>
                </div>
                <div class="col-md-2"><a href="/buy/estimate" class="btn">구매문의</a></div>
            </li>
            <li data-type="endpoint">
                <div class="col-md-2"><a href="/product/legacy_protector"><img src="/images/img_buy_thumb_legacy.jpg" alt="알약 레거시 프로텍터" /></a></div>
                <div class="col-md-8">
                    <a href="/product/legacy_protector" class="total">
                        <span class="blind">공통</span>
                        <strong>알약 레거시 프로텍터</strong>
                        <p>가볍고 안전한 산업용 기기 전용 보안 솔루션</p>
                    </a>
                </div>
                <div class="col-md-2"><a href="/buy/estimate" class="btn">구매문의</a></div>
            </li>
            <li data-type="intelligence">
                <div class="col-md-2"><a href="/product/imas_cloud"><img src="/images/img_buy_thumb_imas.jpg" alt="IMAS 클라우드" /></a></div>
                <div class="col-md-8">
                    <a href="/product/imas_cloud" class="total">
                        <span class="blind">공통</span>
                        <strong>IMAS 클라우드</strong>
                        <p>APT 방어를 위한 통합 보안의 중심</p>
                    </a>
                </div>
                <div class="col-md-2"><a href="/buy/estimate" class="btn">구매문의</a></div>
            </li>
            <li data-type="intelligence">
                <div class="col-md-2"><a href="/product/imas_enterprise"><img src="/images/img_buy_thumb_imas.jpg" alt="IMAS 엔터프라이즈" /></a></div>
                <div class="col-md-8">
                    <a href="/product/imas_enterprise" class="total">
                        <span class="blind">공통</span>
                        <strong>IMAS 엔터프라이즈</strong>
                        <p>APT 방어를 위한 통합 보안의 중심</p>
                    </a>
                </div>
                <div class="col-md-2"><a href="/buy/estimate" class="btn">구매문의</a></div>
            </li>
            <li data-type="dataSecurity">
                <div class="col-md-2"><a href="/product/securedisk"><img src="/images/img_buy_thumb_securedisk.jpg" alt="시큐어디스크" /></a></div>
                <div class="col-md-8">
                    <a href="/product/securedisk" class="total">
                        <span class="blind">공통</span>
                        <strong>시큐어디스크</strong>
                        <p>차세대 문서보안의 표준</p>
                    </a>
                </div>
                <div class="col-md-2"><a href="/buy/estimate" class="btn">구매문의</a></div>
            </li>
            <li data-type="dataSecurity">
                <div class="col-md-2"><a href="/product/internetdisk"><img src="/images/img_buy_thumb_internetdisk.jpg" alt="인터넷디스크" /></a></div>
                <div class="col-md-8">
                    <a href="/product/internetdisk" class="total">
                        <span class="blind">공통</span>
                        <strong>인터넷디스크</strong>
                        <p>안전한 공유와 협업을 위한 클라우드 스토리지</p>
                    </a>
                </div>
                <div class="col-md-2"><a href="/buy/estimate" class="btn">구매문의</a></div>
            </li>
            <li data-type="dataSecurity">
                <div class="col-md-2"><a href="/product/ransomshield_cloud"><img src="/images/img_buy_thumb_ransomshield.jpg" alt="랜섬쉴드 클라우드" /></a></div>
                <div class="col-md-8">
                    <a href="/product/ransomshield_cloud" class="total">
                        <span class="blind">공통</span>
                        <strong>랜섬쉴드 클라우드</strong>
                        <p>랜섬웨어 철통방어</p>
                    </a>
                </div>
                <div class="col-md-2"><a href="/buy/estimate" class="btn">구매문의</a></div>
            </li>
        </ul>
        <div class="col-md-12">
            <!--<button class="btn_more">더 보기 [10/32]</button>-->
        </div>
    </div>
</section>
<% include ../include/footer.ejs %>
<script>
    $(".tab li").click(function(e){
        e.preventDefault();
        var targetType = $(this).data("type");
        setBuyItem(targetType);
        $(this).addClass('active');

    });

    function setBuyItem(targetType){
        $(".buy_list_security li").hide();
        $(".buy_list_security li[data-type="+targetType+"]").show();

        if(targetType == undefined){
            $(".buy_list_security li").show();
        }
        $(".tab li[class='active']").removeClass('active');
    }

     $("#urlLink2").change(function(e){
        e.preventDefault();
        var targetType = $("#urlLink2 option:selected").data("type");
        console.log(targetType);
        setBuyItem(targetType);
    });
</script>
