<% include ../include/header.ejs %>
<section class="bg_sub_2 bg_etc">
    <div>
        <h2>CEO 메세지</h2>
        <strong>이스트시큐리티 대표이사의 인사말을 전해 드립니다.</strong>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/company/estsecurity">회사소개</a><i>&#62;</i></li>
        <li>CEO 메세지</li>
    </ul>
</section>

<section class="container ceo_wrap">
    <div class="ceo_sns">
        <h3>
            이스트시큐리티의 대표이사<br>
            <span>정상원</span>입니다
        </h3>
        <div class="btn_sns">
            <a href="https://www.facebook.com/profile.php?id=1057541533" target="_blank">정상원 CEO 페이스북</a><a href="http://www.estsoft.co.kr/Default.aspx?wbs=2.0.3" target="_blank">CEO 관련기사 보기</a>
        </div>
    </div>
    <p>
        이스트시큐리티는 세계적인 지능형 통합보안업체가 되는 것을 목표로, 이스트소프트에서 2017년 1월 자회사로 독립했습니다.<br>
        이스트시큐리티는 국내 최다 사용자를 확보하고 있는 ‘알약’을 통해 지난 10여 년간 대한민국의 PC 엔드포인트보안 영역에서 첨병 역할을 해왔고, 모바일에서도 ‘알약 안드로이드’를 통해 500만 사용자의
        스마트폰을 보호해 오고 있습니다.<br><br>

        이제 PC뿐만 아니라 우리들 둘러싼 모든 기기가 서로 연결되어 더욱 편리한 삶을 만들어 주지만,
        상대적으로 모든 것이 연결될수록 개인, 기업 및 공공기관의 정보들은 위험에 더 노출되고 있으며 취약점을 악용하려는 수법 또한 고도화되고 있습니다.<br>
        뿐만 아니라 전 세계적으로 하루 100만개 이상의 악성코드가 새로 생성되며, 양적인 측면에서도 우리 사회 곳곳을 위협하고 있습니다.<br>
        이렇게 질적, 양적으로 진화되는 악성 행위에 대항하기 위해서는 새로운 기술 패러다임의 적용이 필요하며, 이에 이스트시큐리티는 A.I 기술에 기반한 지능형 통합보안 기술과 서비스를 개발하여 고도화된
        악성 위협들을 방어하려고 합니다.<br><br>

        이스트시큐리티는 단지 국내 시장만을 염두에 두고 있지 않습니다. 아시아, 유럽, 미국을 아우르는 글로벌 시장에서도 유수의 보안 업체들과 겨룰 수 있는 세계적인 지능형 통합보안업체로 성장할 것입니다.<br><br>

        이스트시큐리티의 기술과 서비스로 더욱 안전한 세상이 되도록 저희 임직원은 최선을 다하겠습니다. <br>
        감사합니다.
        <img src="/images/ceo_sign.png" alt="이스트소프트 대표이사 정상원"/>
    </p>
    <div class="ceo_history">
        <div class="col-md-6">
            <h3 class="col-md-6">대표 약력</h3>
            <ul>
                <li>
                    <p>서울대학교 수학과 졸업</p>
                </li>
                <li>
                    <p>한양대학교 경영대학원 졸업</p>
                </li>
                <li>
                    <p>前 ㈜이스트소프트 알툴즈 사업본부장</p>
                </li>
                <li>
                    <p>前 ㈜줌인터넷 부사장</p>
                </li>
                <li>
                    <p>現 ㈜이스트소프트 대표이사</p>
                </li>
                <li>
                    <p>現 (주)이스트시큐리티 대표이사 겸직</p>
                </li>
            </ul>
        </div>

    </div>
</section>
<% include ../include/footer.ejs %>