<% include ../include/header.ejs %>
<section class="bg_sub_2 bg_etc">
    <div>
        <h2>인증 내역</h2>
        <strong>이스트시큐리티의 다양한 인증 내역을 알려 드립니다.</strong>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/company/estsecurity">회사소개</a><i>&#62;</i></li>
        <li>인증 내역</li>
    </ul>
</section>

<section class="container" id="certify_list">
    <h2 class="tit_2">인증내역</h2>
    <ul>
        <li>
            <span><img src="/images/logo_certify_1.jpg" alt=""/></span>
            <div>
                <strong>바이러스 블러틴</strong>
                <p>vb100은 체크마크, ICSA와 함께 세계적으로 공인 받는 국제 보안인증으로서, 세계적으로 두 곳 이상의 지역에서 실제로 감염 활동이나 발견 등의 보고가 있었던 악성코드 샘플그룹 ‘와일드리스트’를 단 1개의 오진 없이 100%진단하는 엄격한 테스트 기준을 통과해야 받을 수 있다.</p>
                <p>
                    인증내역 : 알약 3.0<br/>
                    일자 : 2011년 ~  현재<br/>
                    최신 인증 테스트환경 : Windows Server 2012, Windows 8 Professional, Windows  7 Professional 등
                </p>
            </div>
        </li>
        <li>
            <span><img src="/images/logo_certify_2.jpg" alt=""/></span>
            <div>
                <strong>웨스트코스트랩</strong>
                <p>Checkmark는 영국과학연구센터의 독립 테스트 연구소인 West Coast Labs에서 부여 하는 것으로, 평가를 위한 악성코드 샘플은 실제로 감염 활동이나 발견 등의 보고가 있었던 악성코드 목록인 ‘와일드리스트’와 웨스트코스트랩에서 직접 채취한 ‘허니팟’ 악성코드 샘플 조합으로 구성돼 있다. 이러한 악성코드 샘플을 오진 없이 100% 탐지할 경우에만 인증을 부여 받을 수 있다.</p>
                <p>
                    인증내역 : 알약 3.0<br/>
                    일자 : 2011년 ~ 현재<br/>
                    최신 인증테스트 환경: Anti-Virus Desktop 분야 Windows 7 Professional, Windows 8 Professional
                </p>
            </div>
        </li>
        <li>
            <span><img src="/images/logo_certify_3.jpg" alt=""/></span>
            <div>
                <strong>한국산업기술시험원</strong>
                <p>GS인증은 Good Software의 약자로, 한국정보통신협회(TTA) 로부터 ISO 국제 표준을 기준으로 실제와 동일한 환경에서 일련의 테스트와 엄정한 심의를 거친 국내 우수 품질의 소프트웨어에 부여되는 인증이다.</p>
                <p>
                    인증내역 : 알약 3.0, ASM 3.0, 알약 3.0 Server Edition, 알약 코어엔진 1.1, 시큐어디스크 8.0, IMAS 1.0 <br/>
                    일자 : 2011년 ~ 현재
                </p>
            </div>
        </li>
        <li>
            <span><img src="/images/logo_certify_4.jpg" alt=""/></span>
            <div>
                <strong>국정원</strong>
                <p>CC인증은 공통평가기준, Common Criteria의 의미로 세계 여러 국가에서 개발, 생산되고 있는 정보보호제품에 대한 평가기준을 국제적으로 표준화한 것으로 민간업체가 개발한 정보보호제품에 구현된 보안기능의 안전성과 신뢰성을 국가차원에서 보증하여 안심하고 제품을 사용할 수 있도록 지원하는 제도이다.</p>
                <p>
                    인증내역 : 알약 3.0, ASM3.0, 알약 3.0 Server Edition, 알약 3.5, ASM 3.5, 알약3.5 Server Edition<br/>
                    일자 : 2009년 ~ 현재
                </p>
            </div>
        </li>
        <li>
            <span><img src="/images/logo_certify_5.jpg" alt=""/></span>
            <div>
                <strong>ICSA</strong>
                <p>ICSA인증은 International Computer Security Association의 의미로 버라이즌의 산하 독립기관이다. 안티바이러스 제품 및 기타보안제품들의 성능과 보안을 인증하고 있다. 미국 국방성과 정부인증 보안규격도 함께 테스트 하고 있으며, 평가의 신뢰수준이 세계적으로 가장 높은 인증기관 중 한곳이다.</p>
                <p>
                    인증내역 : 알약 3.0<br/>
                    일자 : 2009년 ~ 현재
                </p>
            </div>
        </li>
        <li>
            <span><img src="/images/logo_certify_6.jpg" alt=""/></span>
            <div>
                <strong>OPSWAT</strong>
                <p>OPSWAT는 미국의 보안기술 인증 단체로서, 보안어플리케이션의 품질수준 및 호환성을 평가한다. 품질 및 호환성 수준에 따라 금, 은,동으로 인증을 부여한다.</p>
                <p>
                    인증내역 : 알약 2.5<br/>
                    일자 : 2013년 ~ 현재
                </p>
            </div>
        </li>
    </ul>
</section>
<% include ../include/footer.ejs %>