<% include ../include/header.ejs %>
<section class="bg_sub_2 bg_etc">
    <div>
        <h2 class="ls0">CI</h2>
        <strong>이스트시큐리티의 CI를 소개합니다</strong>
    </div>
</section>

<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/company/estsecurity">회사소개</a><i>&#62;</i></li>
        <li>CI</li>
    </ul>
</section>

<section class="container" id="ci">
    <h2 class="tit_2">Corporate Identity</h2>
    <dl>
        <dt><img src="/images/img_ci.jpg" alt="ESTsecurity" /></dt>
        <dd>
            <strong>Emotional Science Technology</strong>
            <p>
                EST는 Emotional Science & Technology의 약자로 감성 · 과학 · 기술을 뜻하며, 컴퓨터를 활용한 과학 기술로 인간의 삶을 더욱 풍요롭게 하고자 하는 신념입니다.
                이스트시큐리티는 AI를 활용하여 지능형 보안 위협에 대응하는 솔루션을 제공함으로써, 더욱 안전한 세상을 만들고자 하는 비전과 의지를 담고 있습니다.
            </p>
            <p class="btn_wrap">
                <span><a href="http://cdn1.estsecurity.com/statichomepage/ci/20161230/1145_ci_ai.zip">AI Download</a></span>
                <span><a href="http://cdn1.estsecurity.com/statichomepage/ci/20161230/1145_ci_jpg.zip">JPG Download</a></span>
                <span><a href="http://cdn1.estsecurity.com/statichomepage/ci/20161230/1145_ci_png.zip">PNG Download</a></span>
            </p>
        </dd>
    </dl>
    <h2 class="tit_2">Color System</h2>
    <ul>
        <li>
            <span><img src="/images/ci_black.jpg" alt="ESTsecurity" /></span>
            <p>
                <strong>ESTsecurity Black</strong>
                <span>or use PANTONE 424 C</span>
                <span>R 53   G 53   B 57</span>
                <span>Web Safe RGB #353539</span>
            </p>
            <em></em>
        </li>
        <li>
            <span><img src="/images/ci_green.jpg" alt="ESTsecurity" /></span>
            <p>
                <strong>ESTsecurity Green</strong>
                <span>or use PANTONE 368C</span>
                <span>R 114   G 198   B 16</span>
                <span>Web Safe RGB #72c610</span>
            </p>
            <em></em>
        </li>
    </ul>
</section>
<% include ../include/footer.ejs %>