<% include ../include/header.ejs %>
<section class="bg_sub_2 bg_customer">
    <div>
        <h2>신고하기</h2>
        <strong>PC 오작동 관련 다양한 문제를 신고해주세요!</strong>
        <p>
            PC 오작동의 원인으로 의심되는 파일 또는 악성코드 의심 파일을 신고할 수 있습니다.<br>
            또한 알약으로 탐지되는 파일이 악성코드가 아니라고 판단되는 경우에도 신고가 가능합니다.
        </p>
    </div>
</section>

<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/support/faq/individual/1">고객지원</a><i>&#62;</i></li>
        <li>신고하기</li>
    </ul>
</section>

<section class="container report">
    <strong><i class="icon_report"></i>이럴 때 신고해주세요!</strong>
    <ul>
        <li class="col-md-4">
            <span class="icon_report"></span>
            <p>
                알약을 사용하지 않지만,<br>
                의심되는 악성 파일을 발견했어요
            </p>
            <i class="icon_report icon_01"></i>
        </li>
        <li class="col-md-4 center">
            <span class="icon_report"></span>
            <p>
                알약이 정상적으로 작동되지<br>
                않아요
            </p>
            <i class="icon_report icon_02"></i>
        </li>
        <li class="col-md-4 last">
            <span class="icon_report"></span>
            <p>
                웹브라우저를 정상적으로<br>
                사용할 수 없어요
            </p>
            <i class="icon_report icon_03"></i>
        </li>
    </ul>
</section>

<section class="container report_content">
    <h2 class="tit_2">
        악성코드 / 오탐지 신고하기
    </h2>
    <div class="col-md-4">
        <img src="/images/report_01.jpg" alt="신고하기"/>
    </div>
    <div class="col-md-8">
        <p class="left_17">
            <i>–</i> 알약을 사용하지 않거나, 프로그램이 비정상적으로 작동하는 경우 사용
        </p>
        <p class="left_17">
            <i>–</i> 인터넷 익스플로러를 설치하지 않았거나, ActiveX 프로그램을 설치할 수 없는 환경인 경우
        </p>
        <p class="left_17">
            <i>–</i> 웹브라우저를 정상적으로 이용할 수 없는 경우<br><br>
        </p>
        <p>
            동작환경 : Windows 2000/XP/Vista/7/8/10 (32bit, 64bit)
        </p>
        <ul>
            <li class="col-md-3">
                <strong>Step 1</strong>
                <i class="icon_Step"><span></span></i>
                [악성코드/ 오탐지 신고하기]<br>
                프로그램 다운로드
            </li>
            <li class="col-md-3">
                <strong>Step 2</strong>
                <i class="icon_Step"><span></span></i>
                신고 구분, 신고 내용, <br>
                파일 첨부 및 관련 내용 작성
            </li>
            <li class="col-md-3">
                <strong>Step 3</strong>
                <i class="icon_Step"><span></span></i>
                시스템 정보 수신 동의 <br>
                확인, 연락처 입력 후 전송하기
            </li>
            <li class="col-md-3">
                <strong>Step 4</strong>
                <i class="icon_Step"><span></span></i>
                기입된 이메일 또는 연락처를 통해 <br>
                신고 관련 상세 안내 전달
            </li>
        </ul>
        <button onclick="location.href='http://cdn1.estsecurity.com/setup/AYReport/12.11.12.1/AYReport.exe'" type="button" class="downloadNone">악성코드/오탐지 전용 신고 프로그램 다운로드</button>
    </div>
</section>

<section class="container report_content">
    <h2 class="tit_2">
        알약으로 신고하기
    </h2>
    <div class="col-md-4">
        <img src="/images/report_02.jpg" alt="신고하기"/>
    </div>
    <div class="col-md-8">
        <p class="left_17">
            <i>–</i> 알약 프로그램 내부의 [신고하기] 기능 이용
        </p>
        <p class="left_17">
            <i>–</i> 로그인 없이 간편하게 신고 가능
        </p>
        <p class="left_17">
            <i>–</i> 알약 프로그램 > 메인 상단 메뉴 > 신고하기
        </p>
        <ul>
            <li class="col-md-3">
                <strong>Step 1</strong>
                <i class="icon_Step"><span></span></i>
                알약 실행 후<br>
                [MENU] > [신고하기] 클릭
            </li>
            <li class="col-md-3">
                <strong>Step 2</strong>
                <i class="icon_Step"><span></span></i>
                신고 유형 선택 후 제목, 내용,<br>
                파일첨부 및 관련 내용 작성
            </li>
            <li class="col-md-3">
                <strong>Step 3</strong>
                <i class="icon_Step"><span></span></i>
                시스템 정보 수신 동의 <br>
                확인, 연락처 입력 후 전송하기
            </li>
            <li class="col-md-3">
                <strong>Step 4</strong>
                <i class="icon_Step"><span></span></i>
                기입된 이메일 또는 연락처를 통해 <br>
                신고 관련 상세 안내 전달
            </li>
        </ul>
        <button onclick="location.href='http://cdn1.estsecurity.com/setup/ALYac/16.12.21.1/ALYac25.exe'" type="button" class="downloadNone">알약 다운로드</button>
    </div>
</section>


<section class="consulting">
    <ul>
        <li class="col-md-4">
            <strong>
                기업용 백신 HOT LINE
            </strong>
            <a href="#n">1544-9744</a>
            <p>
                상담시간<br>
                [평일] 9:00 – 22:00<br>
                [토요일, 공휴일] 9:00 – 18:00
            </p>
        </li>
        <li class="col-md-4">
            <strong>
                개인고객 기술지원
            </strong>
            <a href="#n">1544-8209</a>
            <p>
                상담 시간<br>
                [평일] 9:00 – 18:00<br>
                [토요일, 공휴일] 휴무
            </p>
        </li>
        <li class="col-md-4">
            <strong>
                기업용 솔루션 HOT LINE
            </strong>
            <a href="#n">1544-3796</a>
            <p>
                상담 시간<br>
                [평일] 9:00 – 18:00<br>
                [토요일, 공휴일] 휴무
            </p>
        </li>
    </ul>
</section>
<% include ../include/footer.ejs %>
