<% include ../include/header.ejs %>
<section class="bg_sub_2 bg_customer">
    <div>
        <h2>제품별 지원</h2>
        <strong>기업고객</strong>
        <p>이스트시큐리티는 철저한 유지보수와 발빠른 기술지원으로 안전한 기업 환경을 구축해드릴 수 있도록 늘 노력하겠습니다.</p>
    </div>
</section>

<section class="container">
    <ul class="breadcrumb">
        <li><a href="#n">Home</a><i>&#62;</i></li>
        <li><a href="#n">고객지원</a><i>&#62;</i></li>
        <li><a href="#n">제품별 지원</a><i>&#62;</i></li>
        <li><a href="#n">기업고객</a></li>
    </ul>
</section>

<section class="container" id="prd_support">
    <div class="prd_notice">
        <strong>제품 관련 문의 전, 한 번 더 확인해주세요!</strong>
        <p>
            1. 대부분의 문의 사항은 <a href="">[FAQ]</a>에서 쉽고 빠르게 확인하실 수 있습니다.<br/>
            2. 사용하시는 PC 시스템 사양과 OS 등을 해당 제품이 지원하는지 확인 부탁 드립니다.<br/>
            3. 알약 <a href="">[신고하기]</a> 프로그램을 이용하시는 경우, 빠르고 편리한 안내를 받을 수 있습니다.
        </p><br/>

        <p>이스트시큐리티는 제품을 구매하고, 사용기간이 유효한 기업고객에게 전문적인 기술상담 서비스를 제공해드리고 있습니다.</p>
    </div>

    <h2 class="tit_2">개인정보수집 및 이용안내</h2>
    <p class="text_area">
        제 1 장 총칙 <br/><br/>

        제 1조 [목적] <br/>
        이 약관은 주식회사 이스트소프트(이하 "회사"라 합니다)와 주식회사 이스트소프트가 운영하는 알툴즈닷컴 및 그 제휴사들이 공동으로 제공하는 인터넷 서비스(이하 "서비스"라 합니다)를 이용함에 있어 회사와 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다.<br/><br/>

        제 2조 [약관의 효력 및 변경]<br/>
        ① 이 약관은 서비스를 통하여 이를 공지함으로써 효력이 발생됩니다.<br/>
        ② 회사는 사정상 중요한 사유가 발생될 경우 사전 고지 없이 이 약관의 내용을 변경할 수 있으며, 약관 변경은 서비스를 통하여 7일 이전, 변경된 약관이 회원의 이해득실과 연관된 경우에는 30일 이전에 공지합니다.<br/>
        ③ 회원은 변경된 약관에 동의하지 않을 경우 회원 탈퇴를 요청할 수 있으며, 변경된 약관의 효력 발생일 이후 10일 이내에 해지 요청을 하지 않을 경우 약관의 변경 사항에 동의한 것으로 간주됩니다.<br/><br/>

        제 3조 [약관 외 준칙]<br/>
        본 약관에 명시되지 아니한 사항에 대해서는 전기통신기본법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 및 기타 관련 법령의 규정에 따릅니다.<br/><br/>

        제 4조 [용어의 정의]<br/>
        이 약관에서 사용하는 주요한 용어의 정의는 다음과 같습니다.<br/>
        ① 제휴사 : 알툴즈닷컴을 중심으로 인터넷 서비스를 제공하는 다수의 관련 업체 및 웹사이트를 말합니다.<br/>
        ② 회원 : 회사와 서비스 이용 계약을 체결하고 이용자 아이디(ID)를 부여 받은 자를 말합니다.<br/>
        ③ 아이디 : 회원의 식별과 회원의 서비스 이용을 위하여 회원이 선정하고 회사가 승인하는 문자나 숫자 혹은 그 조합을 말합니다(이하"ID"라 합니다).<br/>
        ④ 비밀번호 : 회원이 부여 받은 ID와 일치된 회원임을 확인하고, 회원 자신의 비밀을 보호하기 위하여 회원이 정한 문자와 숫자의 조합을 말합니다.<br/>
        ⑤ 알코인 : 알툴즈닷컴을 중심으로 인터넷 서비스를 제공하는 다수의 관련 업체 및 웹사이트에서 유료서비스(컨텐츠, 전자상거래)를 이용하기 위해 선불, 직불 등의 다양한 지불 및 결제서비스를 말합니다.<br/>
        ⑥ 이용중지 : 회사가 약관에 의거하여 회원의 서비스 이용을 제한하는 것을 말합니다.<br/>
        ⑦ 해지 : 회사 또는 회원이 서비스 사용 후 이용계약을 해약하는 것을 말합니다.
    </p>
    <p class="input_check">
        <input type="checkbox" name="" value="" id="check_agree">
        <label for="check_agree">개인정보 수집 및 이용안내에 동의합니다.</label>
    </p>
</section>

<section class="container" id="cs_inquire">
    <h2 class="tit_2">이메일 문의<span><em class="star_blue">* </em>는 필수 입력 사항입니다.</span></h2>
    <form name="" action="">
        <fieldset>
            <legend class="blind">이메일 문의</legend>
            <ul>
                <li>
                    <label for="prd_name">지원이 필요한 제품명<em class="star_blue"> *</em></label>
                    <select id="prd_name" class="select_box">
                        <option value="top">제품명 선택</option>
                        <option value="malware">악성코드 문의</option>
                        <option value="buy">구매 문의</option>
                        <option value="license">라이선스</option>
                        <option value="vaccine">전용백신</option>
                        <option value="etc">기타</option>
                    </select>
                </li>
                <li>
                    <label for="iqr_type">문의 유형</label>
                    <select id="iqr_type" class="select_box">
                        <option value="top">제품명 선택</option>
                        <option value="malware">악성코드 문의</option>
                        <option value="buy">구매 문의</option>
                        <option value="license">라이선스</option>
                        <option value="vaccine">전용백신</option>
                        <option value="etc">기타</option>
                    </select>
                </li>
                <li class="ipt_num">
                    <label for="ipt_num">연락처(내선 번호)<em class="star_blue"> *</em></label>
                    <input type="tel" id="callNumber1" placeholder="010">
                    <span class="hipen">-</span>
                    <input type="tel" id="callNumber2">
                    <span class="hipen">-</span>
                    <input type="tel" id="callNumber3">
                </li>
                <li class="comp_name">
                    <label for="comp_name">회사명<em class="star_blue"> *</em></label>
                    <input type="text" id="comp_name">
                </li>
                <li class="part_name">
                    <label for="part_name">부서명<em class="star_blue"> *</em></label>
                    <input type="text" id="part_name">
                </li>
                <li class="ipt_mail">
                    <label for="ipt_mail">이메일<em class="star_blue"> *</em></label>
                    <input type="email" id="ipt_mail">
                    <span>@</span>
                    <input type="email" id="input_email_domain_string">
                    <select id="input_email_domain">
                        <option value="userInput">직접입력</option>
                        <option>naver.com</option>
                        <option>daum.net</option>
                        <option>naver.com</option>
                        <option>daum.net</option>
                        <option>naver.com</option>
                    </select>
                </li>
                <li class="ipt_title">
                    <label for="ipt_title">제목<em class="star_blue"> *</em></label>
                    <input type="text" id="ipt_title" placeholder="제목을 입력해주세요.">
                </li>
                <li class="ipt_cnt">
                    <label for="ipt_cnt">내용<em class="star_blue"> *</em></label>
                    <textarea id="ipt_cnt" placeholder="문의하실 내용을 입력해 주세요."></textarea>
                </li>
            </ul>
        </fieldset>
    </form>
    <div class="btn_inquire">
        <p>* 첨부 파일이 있는 경우, 알약 <a href="">[신고하기]</a>를 통해 문의해주시기 바랍니다.</p>
        <button id="submitReport">문의하기</button>
    </div>
</section>
<section class="consulting">
    <ul>
        <li class="col-md-4">
            <strong>
                백신 및 솔루션 구매 문의
            </strong>
            <a href="#n" class="btn_link">문의하기</a>
            <p>
                제품 구매와 관련하여 문의 주시면 <br>
                상세하게 안내 드리겠습니다.
            </p>
        </li>
        <li class="col-md-4">
            <strong>
                기업용 백신 HOT LINE
            </strong>
            <a href="#n">1544-9744</a>
            <p>
                상담 시간<br>
                [평일] 9:00 – 22:00<br>
                [토요일, 공휴일] 9:00 – 18:00
            </p>
        </li>
        <li class="col-md-4">
            <strong>
                기업용 솔루션 HOT LINE
            </strong>
            <a href="#n">1544-3796</a>
            <p>
                상담 시간<br>
                [평일] 9:00 – 18:00<br>
                [토요일, 공휴일] 휴무
            </p>
        </li>
    </ul>
</section>

<% include ../include/footer.ejs %>

<script>
    function validationInputBox(){
        if($("#check_agree").is(":checked") == false){
            alert("개인정보 수집 및 이용안내를 동의하지 않으셨습니다");
            return false;
        }
        if($("#prd_name").val() == 'top'){
            alert("지원이 필요한 제품명을 선택해주세요");
            return false;
        }
        if(isEmptry($("#callNumber1").val()) || isEmptry($("#callNumber2").val()) || isEmptry($("#callNumber3").val())){
            alert("연락처가 입력되지 않았습니다.");
            return false;
        }
        var email = $("#ipt_mail").val() + "@" + ($("#input_email_domain").val() == "userInput" ? $("#input_email_domain_string").val() : $("#input_email_domain").val());
        if(validateEmail(email) == false){
            alert("이메일이 제대로 입력되지 않았습니다.");
            return false
        }
        if(isEmptry($("#ipt_title").val())){
            alert("제목이 입력되지 않았습니다.");
            return false
        }
        if(isEmptry($("#ipt_cnt").val())){
            alert("내용이 입력되지 않았습니다.");
            return false
        }
        return true;
    }

    function isEmptry(obj){
        if(obj == undefined){
            return true;
        }else if (obj == null) {
            return true;
        } else if (obj == ''){
            return true;
        }
        return false;
    }

    function validateEmail(email) {
        var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        return re.test(email);
    }


    $("#input_email_domain").change(function () {
        $("#input_email_domain_string").val('');
        var targetSelectedValue = $(this).val();
        if(targetSelectedValue == 'userInput'){
            $("#input_email_domain_string").attr('disabled', false);
        }else{
            $("#input_email_domain_string").attr('disabled', true);
            $("#input_email_domain_string").val(targetSelectedValue);
        }
    });
    $("#submitReport").click(function () {
        if(validationInputBox()){
            var parameter = {
                'email' : $("#ipt_mail").val() + "@" + ($("#input_email_domain").val() == "userInput" ? $("#input_email_domain_string").val() : $("#input_email_domain").val()),
                'userTel' : $("#callNumber1").val() + "" + $("#callNumber2").val() + "" + $("#callNumber3").val(),
                'title' : $("#ipt_title").val(),
                'content' : $("#ipt_cnt").val(),
                'reportType' : $("#iqr_type").val(),
                'productType' : $("#prd_name").val(),
                "companyName" : $("#comp_name").val(),
                "companyPartName" : $("#part_name").val()
            };

            $.post('/support/send/report/company' , parameter , function (data) {
                if(data.result){
                    alert("문의가 완료되었습니다.");
                    location.reload();
                }else{
                    alert("요청에 실패하였습니다. 잠시후 다시 시도 해주세요");
                }
            }).error(function (err) {
                alert("요청에 실패하였습니다. 잠시후 다시 시도 해주세요");
            });
        }
    });
</script>
