<% include ../include/header.ejs %>
<section class="bg_sub_2 bg_customer">
    <div>
        <h2>제품별 지원</h2>
        <strong>기업고객</strong>
        <p>이스트시큐리티는 철저한 유지보수와 발빠른 기술지원으로 안전한 기업 환경을 구축해드릴 수 있도록 늘 노력하겠습니다.</p>
    </div>
</section>

<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/support/faq/company">고객지원</a><i>&#62;</i></li>
        <li><a href="/support/support_public">제품별 지원</a><i>&#62;</i></li>
        <li>기업고객</li>
    </ul>
</section>

<section class="container" id="prd_support">
    <div class="prd_notice">
        <strong>제품 관련 문의 전, 한 번 더 확인해주세요!</strong>
        <p>
            1. 대부분의 문의 사항은 <a href="/support/faq/company/1">[FAQ]</a>에서 쉽고 빠르게 확인하실 수 있습니다.<br/>
            2. 사용하시는 PC 시스템 사양과 OS 등을 해당 제품이 지원하는지 확인 부탁 드립니다.<br/>
            3. 알약 <a href="/support/report">[신고하기]</a> 프로그램을 이용하시는 경우, 빠르고 편리한 안내를 받을 수 있습니다.
        </p><br/>

        <p>이스트시큐리티는 제품을 구매하고, 사용기간이 유효한 기업고객에게 전문적인 기술상담 서비스를 제공해드리고 있습니다.</p>
    </div>
</section>

<section class="consulting">
    <ul>
        <li class="col-md-4">
            <strong>
                백신 및 솔루션 구매 문의
            </strong>
            <a href="/buy/estimate" class="btn_link">문의하기</a>
            <p>
                제품 구매와 관련하여 문의 주시면 <br>
                상세하게 안내 드리겠습니다.
            </p>
        </li>
        <li class="col-md-4">
            <strong>
                기업용 백신 HOT LINE
            </strong>
            <a href="#n">1544-9744</a>
            <p>
                상담 시간<br>
                [평일] 9:00 – 22:00<br>
                [토요일, 공휴일] 9:00 – 18:00
            </p>
        </li>
        <li class="col-md-4">
            <strong>
                기업용 솔루션 HOT LINE
            </strong>
            <a href="#n">1544-3796</a>
            <p>
                상담 시간<br>
                [평일] 9:00 – 18:00<br>
                [토요일, 공휴일] 휴무
            </p>
        </li>
    </ul>
</section>
<% include ../include/footer.ejs %>
