<section class="consulting">
  <ul>
    <li class="col-md-4">
      <strong>
        이스트시큐리티 상담 안내
      </strong>
      <a href="/support/report" class="btn_link">알약 신고하기</a>
      <p>
        PC 오작동의 원인으로 의심되는 <br>
        파일 또는 악성코드 의심 파일을<br>
        신고할 수 있습니다.
      </p>
    </li>
    <li class="col-md-4">
      <strong>
        개인고객 기술지원
      </strong>
      <a href="#n">1544-8209</a>
      <p>
        상담 시간<br>
        [평일] 9:00 – 18:00<br>
        [토요일, 공휴일] 휴무
      </p>
    </li>
    <li class="col-md-4">
      <strong>
        이메일 문의
      </strong>
      <a href="#n" class="btn_link">문의하기</a>
      <p>
        이스트시큐리티 제품과 관련하여 <br>
        이메일로 문의 주시면, 신속하고 <br>
        상세하게 안내 드리겠습니다.
      </p>
    </li>
  </ul>
</section>
