<% include ../../../include/header.ejs %>
<section class="bg_sub_2 bg_customer">
  <div>
    <h2>FAQ</h2>
    <strong>개인고객</strong>
  </div>
</section>

<section class="container">
<ul class="breadcrumb">
  <li><a href="/">Home</a><i>&#62;</i></li>
  <li><a href="/support/faq/individual/1">고객지원</a><i>&#62;</i></li>
  <li><a href="/support/faq/individual/1">FAQ</a><i>&#62;</i></li>
  <li>개인고객</li>
</ul>

</section>

<section class="container board_view">
  <div class="view_head">
      <p class="lt"><%=result.title%></p>
      <span class="gt"><%=moment(result.reg_timestamp).format("YYYY-MM-DD")%></span>
  </div>
  <div class="view_body">
      <%-String(result.content).replace(new RegExp('\r?\n','g'), '<br />')%>
  </div>
  <button onclick="window.location.href='/support/faq/individual/1'">목록</button>
</section>

<% include ./consultingFooter.ejs %>

<% include ../../../include/footer.ejs %>
